$neoMap: map-merge($neoMap, (
    'tab-indicator-background-color-active': #5d83a7,
    'tab-strip-background-color'           : #ddd,
    'tab-strip-height'                     : 3px
));

@if $useCss4Vars == true {
    :root .neo-theme-light { // .neo-tab-strip
        --tab-indicator-background-color-active: #{neo(tab-indicator-background-color-active)};
        --tab-strip-background-color           : #{neo(tab-strip-background-color)};
        --tab-strip-height                     : #{neo(tab-strip-height)};
    }
}