.neo-sitemap {
    border : 1px solid v(panel-border-color);
    padding: 30px 100px 60px;

    .neo-action {
        color          : inherit;
        display        : block;
        margin         : 1em 0;
        text-decoration: none;
    }

    .neo-action[href] {
        &:hover {
            text-decoration: underline;
        }
    }

    .neo-sitemap-column {
        &:not(:last-child) {
            border-right: 1px solid v(panel-border-color);
            margin-right: 25px;
        }
    }
}
