.neo-grid-wrapper {
    width: 100%
}

.neo-grid-container.covid-country-grid {
    .neo-country-column {
        max-width: 200px;
        min-width: 200px;
        width    : initial;
    }

    .neo-grid-cell {
        min-width: 100px;
    }

    .neo-index-column {
        max-width: 40px;
        min-width: 40px;
        width    : 40px;
    }
}
