$neoMap: map-merge($neoMap, (
    'table-cell-background-color-hover'                    : #54595c,
    'table-cellmodel-selected-cell-background-color'       : #64B5F6,
    'table-cellmodel-selected-cell-color'                  : #2b2b2b,
    'table-cellmodel-selected-column-cell-background-color': #4f558a,
    'table-cellmodel-selected-column-cell-color'           : #bbb,
    'table-cellrowmodel-selected-cell-background-color'    : #64B5F6,
    'table-cellrowmodel-selected-cell-color'               : #2b2b2b,
    'table-cellrowmodel-selected-row-cell-background-color': #4f558a,
    'table-cellrowmodel-selected-row-cell-color'           : #bbb,
    'table-rowmodel-selected-cell-background-color'        : #64B5F6,
    'table-rowmodel-selected-cell-color'                   : #2b2b2b
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .neo-table-view
        --table-cell-background-color-hover                    : #{neo(table-cell-background-color-hover)};
        --table-cellmodel-selected-cell-background-color       : #{neo(table-cellmodel-selected-cell-background-color)};
        --table-cellmodel-selected-cell-color                  : #{neo(table-cellmodel-selected-cell-color)};
        --table-cellmodel-selected-column-cell-background-color: #{neo(table-cellmodel-selected-column-cell-background-color)};
        --table-cellmodel-selected-column-cell-color           : #{neo(table-cellmodel-selected-column-cell-color)};
        --table-cellrowmodel-selected-cell-background-color    : #{neo(table-cellrowmodel-selected-cell-background-color)};
        --table-cellrowmodel-selected-cell-color               : #{neo(table-cellrowmodel-selected-cell-color)};
        --table-cellrowmodel-selected-row-cell-background-color: #{neo(table-cellrowmodel-selected-row-cell-background-color)};
        --table-cellrowmodel-selected-row-cell-color           : #{neo(table-cellrowmodel-selected-row-cell-color)};
        --table-rowmodel-selected-cell-background-color        : #{neo(table-rowmodel-selected-cell-background-color)};
        --table-rowmodel-selected-cell-color                   : #{neo(table-rowmodel-selected-cell-color)};
    }
}