:root .neo-theme-dark { // .neo-table-view
    --table-cell-background-color-hover                    : #54595c;
    --table-cell-ismodified-color                          : orange;
    --table-cell-ismodified-size                           : 10px;
    --table-cellmodel-selected-cell-background-color       : #64B5F6;
    --table-cellmodel-selected-cell-color                  : #2b2b2b;
    --table-cellmodel-selected-column-cell-background-color: #4f558a;
    --table-cellmodel-selected-column-cell-color           : #bbb;
    --table-cellrowmodel-selected-cell-background-color    : #64B5F6;
    --table-cellrowmodel-selected-cell-color               : #2b2b2b;
    --table-cellrowmodel-selected-row-cell-background-color: #4f558a;
    --table-cellrowmodel-selected-row-cell-color           : #bbb;
    --table-rowmodel-selected-cell-background-color        : #64B5F6;
    --table-rowmodel-selected-cell-color                   : #2b2b2b;
}
