.colors-viewport {
    padding: 2em;

    > * {
        &:not(:first-child) {
            margin-top: 2em;
        }
    }

    .portal-header-toolbar {
        .neo-button {
            &:not(:first-child) {
                margin-left: .5em;
            }
        }
    }
}
