.website-examples-list.neo-list-container.neo-list {
    transition: padding 250ms ease-out;

    .neo-list-item {
        border       : 1px solid #282829;
        border-radius: 20px;
        cursor       : default;
        display      : flex;
        max-width    : 800px;
        overflow     : hidden;
        padding      : 0;
        transition   : height 250ms ease-out, margin-bottom 250ms ease-out;
        white-space  : normal;
        width        : 100%;

        .content {
            flex: 1;
        }

        .neo-absolute {
            position: absolute;
        }

        .neo-full-size {
            height: 100%;
            width : 100%;
        }

        .neo-inner-details {
            color      : #fff;
            text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
            transition : font-size 250ms ease-out, line-height 250ms ease-out;
        }

        .neo-item-bottom-position {
            bottom    : 0;
            left      : 0;
            transition: margin 250ms ease-out;
        }

        .neo-relative {
            position: relative;
        }

        .neo-title {
            color          : #fff;
            font-weight    : 600;
            line-height    : 1;
            text-decoration: none;
            text-shadow    : 1px 1px 1px #000, 1px 1px 1px #fff;
        }

        .neo-top-20 {
            transition: margin 250ms ease-out;
        }

        .preview-image {
            background-blend-mode: overlay;
            background-size      : cover;
            height               : 100%;
        }
    }

    @media (max-height: 400px), (max-width: 600px) {
        padding: 5px;

        .neo-inner-details {
            font-size  : 12px;
            line-height: 16px;
        }

        .neo-item-bottom-position {
            margin: 9px 12px;
            right : 15%;
        }

        .neo-list-item {
            height       : 200px;
            margin-bottom: 5px;
        }

        .neo-title {
            font-size: 20px;
        }

        .neo-top-20 {
            margin-top: 10px;
        }
    }

    @media (min-height: 401px) and (min-width: 601px) {
        padding: 10px;

        .neo-inner-details {
            font-size  : 16px;
            line-height: 22px;
        }

        .neo-item-bottom-position {
            margin: 30px 40px;
            right : 30%;
        }

        .neo-list-item {
            height       : 400px;
            margin-bottom: 10px;
        }

        .neo-title {
            font-size: 34px;
        }

        .neo-top-20 {
            margin-top: 20px;
        }
    }
}