.website-examples-list.neo-list-container.neo-list {
    transition: padding 250ms ease-out;

    .neo-list-item {
        border       : 1px solid #282829;
        cursor       : default;
        display      : flex;
        height       : 400px;
        margin-bottom: 10px;
        padding      : 0;
        white-space  : normal;
        width        : 800px;

        .content {
            flex: 1;
        }

        .neo-absolute {
            position: absolute;
        }

        .neo-full-size {
            height: 100%;
            width : 100%;
        }

        .neo-inner-details {
            color      : #fff;
            font-size  : 16px;
            line-height: 22px;
            text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
        }

        .neo-item-bottom-position {
            bottom: 0;
            left  : 0;
            margin: 30px 40px;
            right : 30%;
        }

        .neo-relative {
            position: relative;
        }

        .neo-title {
            color          : #fff;
            font-size      : 34px;
            font-weight    : 600;
            line-height    : 1;
            text-decoration: none;
            text-shadow    : 1px 1px 1px #000, 1px 1px 1px #fff;
        }

        .neo-top-20 {
            margin-top: 20px;
        }

        .preview-image {
            background-blend-mode: overlay;
            background-size      : cover;
            height               : 100%;
        }
    }

    @media (max-height: 400px), (max-width: 600px) {
        padding: 5px;
    }

    @media (min-height: 401px) and (min-width: 601px) {
        padding: 10px;
    }
}