.neo-dragproxy {
    pointer-events     : none;
    position           : absolute !important;
    transform          : none !important;
    transition-duration: 0ms;
    transition-property: none;
    will-change        : left, top;
    z-index            : 1000;

    &.neo-animate {
        transition-duration       : 300ms;
        transition-property       : left, top;
        transition-timing-function: ease-out;
    }

    > * {
        height   : 100%     !important;
        left     : 0        !important;
        position : relative !important;
        opacity  : 1        !important;
        top      : 0        !important;
        transform: none     !important;
        width    : 100%     !important;
    }
}