:root .neo-theme-neo-light {
    --devindex-tab-indicator-bg    : #3E63DD;
    --devindex-tab-text-color      : #fff;
    --devindex-tab-text-color-pressed: #fff;
    --devindex-tab-toolbar-bg      : #5d83a7;
}
