.agent-os-viewport.neo-viewport {
    .agent-top-toolbar {
        min-height : 50px;
        padding    : 0 20px;
    }

    .agent-dashboard {
        display : flex;
        gap     : 20px;
    }

    .agent-logo {
        align-items  : center;
        display      : flex;
        margin-right : 15px;

        img {
            height : 30px;
        }
    }
}

@media (max-width: 560px) {
    .agent-os-viewport.neo-viewport .agent-top-toolbar {
        padding : 0 12px;
    }
}
