@use "sass:color";

:root .neo-theme-neo-dark { // .covid-header-container
    --covid-header-active-background-color   : rgba(100, 181, 246, .25);
    --covid-header-active-color              : #{color.adjust(#64b5f6, $lightness: 10%)};
    --covid-header-cases-background-color    : rgba(187, 187, 187, .25);
    --covid-header-cases-color               : #{color.adjust(#bbb, $lightness: 20%)};
    --covid-header-deaths-background-color   : rgba(251, 103, 103, .25);
    --covid-header-deaths-color              : #{color.adjust(#fb6767, $lightness: 10%)};
    --covid-header-recovered-background-color: rgba( 40, 218, 111, .25);
    --covid-header-recovered-color           : #{color.adjust(#28ca68, $lightness: 10%)};
}