$neoMap: map-merge($neoMap, (
    'menu-border-color': #64B5F6,
    'menu-icon-color'  : #64B5F6
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-menu
        --menu-border-color: #{neo(menu-border-color)};
        --menu-icon-color  : #{neo(menu-icon-color)};
    }
}
