.page-code-container {
  position: relative;
  padding: 20px;

  &::before {
    position:absolute;
    inset: 0;
    opacity: .4;
    content: "";
    background: {
      image   : url("../../../../../../../../resources/images/logo/neo_logo_secondary.svg");
      size: auto 90%;
      repeat: no-repeat;
      position: center;
    }
  }

  .live-preview {
    opacity: 0.9;

    .live-preview-container {
      & > .neo-tab-header-toolbar {
        background: var(--sem-color-surface-primary-background);
        border-radius: 15px 15px 0 0;
        padding-right: 10px;
        padding-left: 14px;

        .neo-button-text {
          color: slategrey!important;
        }

        .pressed {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          .neo-button-text {
            color: darkslategrey !important;
          }

          .neo-tab-button-indicator {
            background-color: darkslategrey;
          }
        }

      }

      & > .neo-tab-content-container {
        .monaco-editor {
          .margin, .sticky-widget-line-numbers, .active-line-number {
            background: #263238;
            color: #cdd3de;
          }

          .monaco-editor-background, .sticky-widget-lines-scrollable {
            background: #1B2225;
            color: #cdd3de;

            // keys
            .mtk1 {
              color: #CDFF8E;
            }

            // class, extends, static
            .mtk6 {
              color: #8EDCF5;
            }

            // numbers
            .mtk7 {
              color: #D6FF00
            }

            // Comment
            .mtk8 {
              color: #98A8B5;
            }

            // strings
            .mtk20 {
              color: #D6FF00
            }

            // Classname: MainView, Container
            .mtk22 {
                color: #cccccc;
            }

            /**
             * Cursor
             *  not used
             *  - .monaco-mouse-cursor-text
             *  - .cursors-layer
             *  - .cursor-line-style
             */
            .cursor,
            .cursor-solid {
              background-color: #ffffff;
            }

            // not in use
            .important {
              color: #FFA9A9;
              font-style: italic;
            }

            // not in use
            .id {
              color: #F3A5F7;
            }
          }
        }
      }
    }
  }
}
