:root .neo-theme-neo-dark { // .neo-accordion
    --accordion-item-radius   : 5px;
    --accordion-title-bg-color: var(--sem-color-surface-neutral-default);
    --accordion-title-color   : var(--sem-color-text-neutral-default);
}
