:root .neo-theme-neo-dark { // .neo-panel
    --panel-border-color       : var(--sem-color-border-default);
    --panel-header-border-color: var(--sem-color-border-default);
    --panel-header-text-color  : var(--sem-color-text-neutral-subdued);
}
