:root .neo-theme-neo-light {
    --process-arrow-color     : #6d5f28;
    --process-background-color: #fff;
    --process-icon-color      : #a3996f;
    --process-icon-size       : 2rem;
    --process-shadow-color    : rgba(0, 0, 0, .5);
    --process-text-color      : #444444;
    --process-title-color     : #363636;
}
