:root .neo-theme-neo-light { // .neo-splitter
    --splitter-background-color : #f2f2f2;
    --splitter-border           : none;
    --splitter-border-radius    : 5px;
    --splitter-hover-color      : #5595F5;
    --splitter-margin-horizontal: 2px 8px;
    --splitter-margin-vertical  : 8px 2px;
}
