html, .neo-body-viewport {
    height  : 100%;
    overflow: hidden; // chrome can overscroll the full page (bug)
    width   : 100%;
}

.neo-body {
    background-color: v(neo-background-color);
    color           : v(neo-color);
    font-family     : v(neo-font-family);
    margin          : 0;

    -webkit-font-smoothing: v(neo-font-smoothing);
}

.neo-body, .neo-body * {
    box-sizing: border-box;
 }

.neo-cursor-n-resize {
    cursor: n-resize !important;

    * {
        cursor: n-resize !important;
    }
}

.neo-cursor-s-resize {
    cursor: s-resize !important;

    * {
        cursor: s-resize !important;
    }
}

.neo-disabled {
    opacity       : v(neo-disabled-opacity);
    pointer-events: none;
}

.neo-link-color {
    color: v(neo-color);

    a {
        color: v(neo-color);
    }
}

.neo-transition-600 {
    transition: all 0.6s ease-in-out !important;
}

.neo-transition-1000 {
    transition: all 1s ease-in-out !important;
}

.neo-unselectable {
    user-select: none;
}
