.neo-calendar-timeaxis {
    background-color     : v(c-w-header-background-color);
    background-position-x: 100%;
    background-position-y: 0;
    background-repeat    : repeat-y;
    border-right         : 1px solid v(c-w-border-color);
    box-shadow           : -1px 0 0 v(c-w-header-background-color); // hack for the annoying 1px gap
    flex                 : none;
    left                 : 0;
    margin-top           : -1px;
    position             : sticky;
    width                : 50px;
    z-index              : 150;

    .neo-c-w-timeaxis-item {
        align-items    : center;
        color          : #999;
        display        : flex;
        font-size      : 0.625em;
        justify-content: center;
    }
}

.neo-timeaxis-end {
    .neo-calendar-timeaxis {
        background-position-x: 0;
        border-left          : 1px solid v(c-w-border-color);
        border-right         : none;
        left                 : unset;
        right                : 0;
    }
}