:root .neo-theme-neo-dark { // .neo-tab-strip
    --tab-indicator-background-color-active: var(--cmp-tab-strip-selected);
    --tab-strip-background-color           : transparent;
    --tab-strip-height                     : var(--cmp-tab-strip-height);
}
