:root .neo-theme-dark { // .docs-content-tabcontainer
    --docs-content-tabcontainer-tab-header-toolbar-background-color : #343537;
    --docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover: brown;
}
