.neo-dragproxy {
    pointer-events     : none;
    position           : absolute !important;
    transform          : none !important;
    transition-duration: 0ms;
    transition-property: none;
    will-change        : left, top;
    z-index            : 1000;

    &.neo-animate {
        transition-duration       : 300ms;
        transition-property       : left, top;
        transition-timing-function: ease-out;
    }

    > * {
        height   : 100%;
        left     : 0;
        position : relative;
        opacity  : 1;
        top      : 0;
        transform: none;
        width    : 100%;
    }
}
