.neo-checkboxfield {
    .neo-checkbox-input {
        width: 0; // using display: none would break the keynav

        &:checked {
            +.neo-checkbox-icon {
                color: v(checkboxfield-color-checked);
            }
        }

        &:focus {
            outline : 0;
        }
    }

    .neo-checkbox-icon {
        color      : v(checkboxfield-color);
        cursor     : pointer;
        display    : inline-block;
        font-family: v(checkboxfield-icon-font-family);
        font-size  : v(checkboxfield-icon-font-size);
        margin     : v(checkboxfield-icon-margin);
        width      : 20px;
    }

    .neo-checkbox-label {
        color      : v(textfield-label-color);
        display    : inline-block;
        user-select: none;
    }

    .neo-checkbox-value-label {
        color      : v(textfield-label-color);
        user-select: none;
    }

    .neo-error {
        color      : v(textfield-border-color-invalid);
        font-size  : 11px;
        margin-top : .3em;
        white-space: break-spaces;
        word-break : break-word;

        &.neo-absolute {
            position: absolute;
        }
    }

    .neo-error-wrapper {
        position: relative;
    }

    &.neo-invalid {
        .neo-checkbox-icon {
            color: v(textfield-border-color-invalid);
        }
    }

    &.neo-label-top {
        .neo-checkbox-input {
            margin-left: 0;
        }

        .neo-checkbox-label {
            display: block;
            margin : v(checkboxfield-label-top-margin);
        }

        .neo-checkbox-value-label {
            display: flex;
        }
    }
}
