.neo-combobox {
    .neo-input-field-wrapper {
        flex    : 1 1 30px;
        position: relative;

        .neo-textfield-input, .neo-typeahead-input {
            position : absolute;
            inset    : 0;
        }

        .neo-textfield-input {
            background-color: transparent;
        }

        .neo-typeahead-input {
            border-color: transparent;
            color       : var(--combobox-input-hint-color);
            font        : var(--textfield-input-font);
            opacity     : var(--combobox-input-hint-opacity);
        }
    }

    .neo-list {
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;

        .neo-highlight-search {
            background-color: var(--combobox-list-search-background-color);
            color           : var(--combobox-list-search-color) !important;
        }

        .neo-selected {
            .neo-highlight-search {
                color: var(--combobox-list-search-color-selected) !important;
            }
        }
    }

    .neo-picker-container {
        border       : var(--combobox-picker-container-border);
        border-radius: var(--combobox-picker-container-border-radius);
        font-weight  : 400;
    }
}
