.neo-countryfield.neo-combobox {
    .neo-textfield-input {
        text-transform: capitalize;
    }

    &.label-inline {
        .neo-textfield-input {
            padding-left: 5px;
        }
    }
}
