.neo-datefield {
    // remove the default browser controls

    // Chrome & Safari:
    input::-webkit-clear-button,
    input::-webkit-inner-spin-button,
    input::-webkit-calendar-picker-indicator,
    input::-webkit-outer-spin-button {
        appearance: none;
        display   : none;
        margin    : 0;
    }

    .datetime-reset-button {
        display: none;
    }
}

// a hack since FF does no longer allow to hide the calendar icon post v109
@-moz-document url-prefix() {
    .neo-datefield {
        .neo-field-trigger {
            background-color: var(--textfield-input-background-color);
        }

        .neo-textfield-input {
            margin-right: -2.2em !important;
        }
    }
}
