.neo-datefield {
    // remove the default browser controls

    // Chrome & Safari:
    input::-webkit-clear-button,
    input::-webkit-inner-spin-button,
    input::-webkit-calendar-picker-indicator,
    input::-webkit-outer-spin-button {
        appearance: none;
        display   : none;
        margin    : 0;
    }

    .datetime-reset-button {
        display: none;
    }
}

@-moz-document url-prefix() {
    .neo-datefield {
        .neo-textfield-input {
            clip-path: inset(0 2em 0 0);
        }
    }
}
