.neo-pickerfield {

}

.neo-picker-container {
    background-color: v(pickerfield-container-background-color);
    border          : v(pickerfield-container-border);
    box-shadow      : v(pickerfield-container-box-shadow);
    position        : absolute;
    z-index         : 200;

    &:focus {
        outline: none;
    }
}
