.neo-searchfield {
    &::before {
        color      : var(--searchfield-glyph-color);
        content    : "\f002";
        display    : inline-block;
        font-family: var(--fa-style-family-classic);
        font-size  : 14px;
        font-weight: 900;
        padding    : 7px;
        position   : absolute;
        width      : 25px
    }

    &.neo-textfield {
        .neo-textfield-input {
            padding-left: 25px;
        }
    }
}
