.neo-selectfield {
    .neo-input-field-wrapper {
        flex    : 1 1 30px;
        position: relative;

        .neo-textfield-input, .neo-typeahead-input {
            height  : 100% !important;
            left    : 0;
            position: absolute;
            top     : 0;
            width   : 100% !important;
        }

        .neo-textfield-input {
            background-color: transparent;
        }

        .neo-typeahead-input {
            border-color: transparent;
            color       : var(--selectfield-input-hint-color);
            font        : var(--textfield-input-font);
            opacity     : var(--selectfield-input-hint-opacity);
        }
    }

    .neo-list {
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;

        .neo-highlight-search {
            background-color: var(--selectfield-list-search-background-color);
            color           : v(selectfield-list-search-color) !important;
        }

        .neo-selected {
            .neo-highlight-search {
                color: v(selectfield-list-search-color-selected) !important;
            }
        }
    }

    .neo-picker-container {
        border       : var(--selectfield-picker-container-border);
        border-radius: var(--selectfield-picker-container-border-radius);
        font-weight  : 400;
    }
}
