.neo-switchfield {
    .neo-switchfield-input {
        position        : relative;
        margin          : 0;
        background-color: var(--switchfield-color-off-idle);
        border-radius   : 999px;
        height          : var(--switchfield-height);
        width           : var(--switchfield-width);
        vertical-align  : middle;

        -webkit-appearance         : none;
        -webkit-tap-highlight-color: transparent;

        &:before,
        &:after {
            content : "";
            position: absolute;
        }

        &:before {
            top             : 1.5px;
            left            : 0;
            background-color: var(--switchfield-color-knob);
            border-radius   : 50%;
            width           : var(--switchfield-knobsize);
            height          : var(--switchfield-knobsize);
            transition       : transform 150ms ease-out;
        }

        &:after {
            bottom       : 7px;
            right        : 7px;
            border       : 1px solid var(--switchfield-color-knob);
            border-radius: 50%;
            width        : 8px;
            height       : 8px;
        }

        &:checked {
            background-color: var(--switchfield-color-on-idle);

            &:before {
                transform: translateX(100%);
            }

            &:after {
                bottom          : 8px;
                right           : auto;
                left            : 9px;
                background-color: var(--switchfield-color-knob);
                border          : 0;
                width           : 1px;
            }

            &:hover {
                background-color: var(--switchfield-color-on-hovered);
            }
        }

        &:hover {
            background-color: var(--switchfield-color-off-hovered);
        }

        &:focus {
            outline: var(--switchfield-borderwidth-focused) solid var(--switchfield-bordercolor-focused);
        }
    }

    &.neo-disabled .neo-switchfield-input {
        background-color: var(--switchfield-color-off-disabled);

        &:checked {
            background-color: var(--switchfield-color-on-disabled);
        }
    }
}
