.neo-switchfield {
    .neo-switchfield-input {
        background-color: var(--switchfield-color-off-idle);
        border-radius   : 999px;
        height          : var(--switchfield-height);
        margin          : 0;
        position        : relative;
        width           : var(--switchfield-width);

        -webkit-appearance         : none;
        -webkit-tap-highlight-color: transparent;

        &:after,
        &:before {
            content : "";
            position: absolute;
        }

        &:before {
            background-color: var(--switchfield-color-knob);
            border-radius   : 50%;
            height          : var(--switchfield-knobsize);
            left            : 0;
            top             : 1.5px;
            transition      : transform 150ms ease-out;
            width           : var(--switchfield-knobsize);
        }

        &:after {
            border       : 1px solid var(--switchfield-color-knob);
            border-radius: 50%;
            bottom       : 7px;
            height       : 8px;
            right        : 7px;
            width        : 8px;
        }

        &:checked {
            background-color: var(--switchfield-color-on-idle);

            &:before {
                transform: translateX(100%);
            }

            &:after {
                background-color: var(--switchfield-color-knob);
                border          : 0;
                bottom          : 8px;
                left            : 9px;
                right           : auto;
                width           : 1px;
            }

            &:hover {
                background-color: var(--switchfield-color-on-hovered);
            }
        }

        &:focus {
            outline: var(--switchfield-borderwidth-focused) solid var(--switchfield-bordercolor-focused);
        }

        &:hover {
            background-color: var(--switchfield-color-off-hovered);
        }
    }
}

.neo-disabled {
    .neo-switchfield,
    &.neo-switchfield {
        opacity: var(--switchfield-opacity-disabled);

        .neo-switchfield-input {
            background-color: var(--switchfield-color-off-disabled);

            &:checked {
                background-color: var(--switchfield-color-on-disabled);
            }
        }
    }
}
