.neo-textarea {
    align-items   : stretch;
    display       : flex;
    flex-direction: column;

    .neo-input-wrapper {
        flex: 1 0 auto;
    }

    .neo-label-wrapper {
        height: 100%;
    }

    .neo-field-trigger {
        height : inherit;
    }

    .neo-textfield-error {
        height: 1.2em; // 1.5em - 0.3em => margin-top
    }

    &.label-inline {
        display: flex;

        .neo-label-wrapper {
            height: 100%;
        }
    }

    &.neo-invalid {
        .neo-textfield-input {
            border-color: var(--textfield-border-color-invalid);
        }
    }

    &:has(.neo-textfield-error) {
        .neo-label-wrapper {
            height: calc(100% - 1.5em);
        }
    }
}
