.website-home-tab-container {
    .website-intro-component {
        color : #292929;
        flex  : auto !important;
        margin: 0 32px;

        h1 {
            font-size    : 36px;
            font-weight  : 600;
            line-height  : 40px;
            margin-bottom: -0.28em;
            margin-top   : 1em;
        }

        li {
            font-size      : 21px;
            font-weight    : 400;
            line-height    : 32px;
            list-style-type: decimal;
            margin-bottom  : -0.46em;
            margin-left    : 30px;
            margin-top     : 0.86em;
            padding-left   : 0;
        }

        ol {
            list-style: none;
            margin    : 0;
            padding   : 0;
        }

        @media (max-height: 400px), (max-width: 600px) {
            margin: 0 20px;

            h1 {
                font-size  : 26px;
                line-height: 32px;
            }

            li {
                font-size  : 18px;
                line-height: 28px;
                margin-top : 0.67em;
            }
        }
    }
}