.docs-classhierarchy-memberslist {
    background-color: v(docs-classhierarchy-memberslist-background-color);
    overflow        : auto;

    .docs-param-table {
        border         : 1px solid #282b2b;
        border-collapse: collapse;
        border-spacing : 0;
        box-shadow     : 0 5px 10px rgba(0,0,0,.4);
        font-size      : 14px;
        margin         : 1em 0;
        width          : 100%;

        thead {
            background-color: v(docs-param-table-thead-background-color);
            background-image: v(docs-param-table-thead-background-image);
        }

        thead tr {
            background-clip: v(docs-param-table-tr-background-clip);
            border-bottom  : 1px solid #282b2b;
            color          : v(docs-param-table-tr-color);
            font-weight    : 800;
            text-shadow    : v(docs-param-table-tr-text-shadow);
        }

        td, th {
            margin        : 0;
            padding       : 10px;
            text-align    : left;
            vertical-align: top;
        }

        td {
            border-top: 1px solid #282b2b;
        }
    }

    .neo-docs-memberlist-group-header {
        background-color: v(docs-memberlist-group-header-background-color);
        box-shadow      : 0 5px 10px rgba(0,0,0,.4);
        color           : v(docs-memberlist-group-header-color);
        margin          : 5px;
        padding         : 10px;
        position        : sticky;
        top             : 0;
    }

    .neo-list-item {
        background-color: v(docs-param-table-list-item-background-color);
        background-image: v(docs-param-table-list-item-background-image);
        font-size       : 14px;
        margin          : 5px;
        padding         : 10px;

        .neo-list-item-header-container {
            display: flex;
        }

        .neo-list-item-header {
            background-clip: v(docs-param-table-list-item-header-background-clip);
            color          : rgba(0,0,0,0.6);
            font-size      : 20px;
            font-weight    : 800;
            text-shadow    : v(docs-param-table-list-item-header-text-shadow);

            .neo-highlight-search {
                color: v(docs-param-table-list-item-highlight-search-color);
            }
        }

        .neo-docs-view-source-link {
            color          : v(docs-param-table-source-link-color);
            text-decoration: none;

            &:hover {
                color: v(docs-param-table-source-link-color-hover);
            }
        }

        .neo-docs-view-source-link-container {
            margin-bottom: 10px;
        }
    }
}