.website-header-container {
    .neo-button {
        max-height: 50px;
        max-width : 50px;

        .neo-button-glyph {
            font-size: 30px;
            margin   : 0 !important;
        }
    }
}