$neoMap: map-merge($neoMap, (
    'website-header-button-background-image': linear-gradient(#999,#111),
    'website-header-button-glyph-color'     : #eee,
    'website-header-button-border'          : 1px solid #999
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .website-header-container
        --website-header-button-background-image: #{neo(website-header-button-background-image)};
        --website-header-button-glyph-color     : #{neo(website-header-button-glyph-color)};
        --website-header-button-border          : #{neo(website-header-button-border)};
    }
}