:root .neo-theme-dark { // .website-header-container
    --website-header-button-background-image: linear-gradient(#999,#111);
    --website-header-button-glyph-color     : #eee;
    --website-header-button-border          : 1px solid #999;
}
