:root .neo-theme-neo-dark {
    .portal-home-footer-container {
        --portal-footer-background-color: var(--sem-color-bg-neutral-default);
        --portal-footer-text-color: var(--sem-color-text-neutral-default);
        --portal-footer-button-hover-background-color: var(--sem-color-bg-hover);
        --portal-footer-highlight-color: var(--portal-headline-primary);
    }
}
