# See http://help.github.com/ignore-files/ for more about ignoring files.

/apps/**/*.html
/apps/**/*.mjs
/apps/**/neo-config.json

!/apps/covid/index.html
!/apps/covid/**/*.mjs
!/apps/covid/neo-config.json
!/apps/form/index.html
!/apps/form/**/*.mjs
!/apps/form/neo-config.json
!/apps/krausest/index.html
!/apps/krausest/**/*.mjs
!/apps/krausest/neo-config.json
!/apps/realworld/index.html
!/apps/realworld/**/*.mjs
!/apps/realworld/neo-config.json
!/apps/realworld2/index.html
!/apps/realworld2/**/*.mjs
!/apps/realworld2/neo-config.json
!/apps/route/index.html
!/apps/route/**/*.mjs
!/apps/route/neo-config.json
!/apps/sharedcovid/index.html
!/apps/sharedcovid/**/*.mjs
!/apps/sharedcovid/neo-config.json
!/apps/sharedcovidchart/index.html
!/apps/sharedcovidchart/**/*.mjs
!/apps/sharedcovidchart/neo-config.json
!/apps/sharedcovidhelix/index.html
!/apps/sharedcovidhelix/**/*.mjs
!/apps/sharedcovidhelix/neo-config.json
!/apps/sharedcovidgallery/index.html
!/apps/sharedcovidgallery/**/*.mjs
!/apps/sharedcovidgallery/neo-config.json
!/apps/sharedcovidmap/index.html
!/apps/sharedcovidmap/**/*.mjs
!/apps/sharedcovidmap/neo-config.json
!/apps/shareddialog/index.html
!/apps/shareddialog/**/*.mjs
!/apps/shareddialog/neo-config.json
!/apps/shareddialog2/index.html
!/apps/shareddialog2/**/*.mjs
!/apps/shareddialog2/neo-config.json
!/apps/website/index.html
!/apps/website/**/*.mjs
!/apps/website/neo-config.json
!/apps/ServiceWorker.mjs

/buildScripts/webpack/json/myApps.json

/dist
/docs/output

# dependencies
/node_modules

# generated by the theme-build
/resources/theme-map.json
/resources/theme-map-no-vars.json

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings
.vscode/

#System Files
.DS_Store
Thumbs.db
