# See http://help.github.com/ignore-files/ for more about ignoring files.

/apps/**/*.html
/apps/**/*.mjs
!/apps/realworld/index.html
!/apps/realworld/**/*.mjs
!/apps/realworld2/index.html
!/apps/realworld2/**/*.mjs

/buildScripts/webpack/entrypoints/myApps/**/*.mjs
!/buildScripts/webpack/entrypoints/myApps/RealWorld.mjs
/buildScripts/webpack/development/json/myApps.json
/buildScripts/webpack/production/json/myApps.json

/dist/development/**/*.css
/dist/development/**/*.js
/dist/development/**/*.html
!/dist/development/docs/resources/**/*.css
!/dist/development/docs/resources/**/*.js
!/dist/development/docs/index.html
/dist/production/**/*.css
/dist/production/**/*.js
/dist/production/**/*.html
!/dist/production/docs/resources/**/*.css
!/dist/production/docs/resources/**/*.js
!/dist/production/docs/index.html

/docs/output

package-lock.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings
.vscode/

#System Files
.DS_Store
Thumbs.db