:root .neo-theme-cyberpunk {
    --grid-container-border-color              : var(--cyber-border);
    --grid-container-cell-background-color     : transparent;
    --grid-container-cell-background-color-even: rgba(0, 210, 255, 0.03); // Very faint cyan tint
    --grid-container-color                     : var(--cyber-text);
    --grid-container-header-cell-border-bottom : 1px solid var(--cyber-cyan);
}
