$neoMap: map-merge($neoMap, (
    'boxlabel-background-color': #fff,
    'boxlabel-border'          : 1px solid #ddd,
    'boxlabel-color'           : #000
));

@if $useCss4Vars == true {
    :root .neo-theme-light { // .neo-box-label
        --boxlabel-background-color: #{neo(boxlabel-background-color)};
        --boxlabel-border          : #{neo(boxlabel-border)};
        --boxlabel-color           : #{neo(boxlabel-color)};
    }
}