$neoMap: map-merge($neoMap, (
    --timer-color-start: #8a9b0f;
    --timer-color-end: #940a3d;
    --timer-dimension: --6rem;
    --timer-button-color: #cde8e7
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-timer
        --timer-color-start  : #{neo(timer-color-start)};
        --timer-color-end    : #{neo(timer-color-end)};
        --timer-dimension    : #{neo(timer-dimension)};
        --timer-button-color : #{neo(timer-button-color)};
    }
}
