:root .neo-theme-light { // .neo-toast
    --toast-background-color        : lightblue;
    --toast-color                   : #083741;
    --toast-danger-background-color : #e6adad;
    --toast-danger-color            : #410808;
    --toast-shadow-color            : rgba(0, 0, 0, 0.15);
    --toast-success-background-color: #b7e6ad;
    --toast-success-color           : #124108;
}
