.neo-viewport.neo-serverside-toolbaritems-viewport {
    padding: 1em;

    .neo-toolbar {
        background-color: #f2f2f2;
        padding         : 10px 5px 10px 10px;

        .neo-button {
            &:not(:last-child) {
                margin-right: .2em;
            }
        }
    }
}
