:root .neo-theme-light { // .neo-grid-container
    --grid-container-border-color              : #ddd;
    --grid-container-cell-background-color     : #fff;
    --grid-container-cell-background-color-even: #f2f2f2;
    --grid-container-color                     : #666;
    --grid-container-header-cell-border-bottom : 1px solid #ddd;
}
