:root .neo-theme-neo-light { // .neo-dialog
    --dialog-border-color: #ddd;
    --dialog-box-shadow  : 0 5px 10px rgba(0,0,0,.4);
    --dialog-header-color: #435DB1;
    --dialog-icon-color  : #435DB1;

    .neo-dialog {
        .neo-header-toolbar {
            .neo-button {
                background-color: transparent;
                height          : unset;
                min-width       : unset;
            }
        }
    }
}
