.devindex-controls-container {
    border     : none;
    bottom     : 16px;
    display    : block;
    flex-shrink: 0;
    min-width  : 235px;
    overflow   : visible;
    position   : absolute;
    right      : -235px;
    top        : 74px;
    transition : right 250ms ease-out;
    width      : 235px;
    z-index    : 100;

    .devindex-controls-container-content {
        border                   : 1px solid var(--grid-container-border-color);
        border-bottom-left-radius: 8px;
        border-right             : none;
        border-top-left-radius   : 8px;
        box-shadow               : var(--devindex-header-shadow);
        opacity                  : 0;
        transition               : opacity 250ms ease-out;

        .neo-tab-body-container {
            background-color: transparent;
            border          : none !important;
        }

        > .neo-container {
            overflow-y: auto;
            padding   : .5em 1em;

            > .neo-container {
                flex  : none;
                height: fit-content;
            }
        }
    }

    &.neo-expanded {
        right: 0;

        .devindex-controls-container-content {
            opacity: 1;
        }
    }
}
