:root .neo-theme-neo-dark { // .neo-calendar-edit-container
    --calendar-edit-calendar-background-color: var(--sem-color-surface-neutral-default);
    --calendar-edit-calendar-border-color    : var(--sem-color-border-default);
    --calendar-edit-calendar-box-shadow      : 0 5px 10px rgba(0,0,0,.8);
}