:root .neo-theme-neo-light {
    --neo-app-content-sections-bg             : #fff;
    --neo-app-content-sections-btn-bg         : #fff;
    --neo-app-content-sections-btn-disabled-bg: lightgray;
    --neo-app-content-sections-glyph-color    : #000;
    --neo-app-content-sections-shadow         : 0 5px 10px rgba(0,0,0,.3);
}
