:root .neo-theme-neo-light {
    --neo-app-content-treelist-bold-color        : inherit;
    --neo-app-content-treelist-meta-color        : rgba(0, 0, 0, 0.8);
    --neo-app-content-treelist-ticket-title-color: rgba(0, 0, 0, 0.8);
}