.neo-calendar-maincontainer {
    .neo-calendar-sidebar {
        border-right: 1px solid v(calendar-border-color);
        transition  : margin-left 350ms ease-out;
    }

    .neo-dateselector {
        .neo-dateselector-content {
            border-right: 0;
        }

        .neo-dateselector-header {
            border-right: 0;
            border-top  : 0;
        }
    }
}