:root .neo-theme-neo-dark { // .neo-checkboxfield
    --checkboxfield-color           : var(--sem-color-icon-neutral-subdued);
    --checkboxfield-color-checked   : var(--sem-color-icon-primary-default);
    --checkboxfield-icon-font-family: var(--fa-style-family-classic);
    --checkboxfield-icon-font-size  : 14px;
    --checkboxfield-icon-margin     : 0;
    --checkboxfield-label-top-margin: 0 0 3px;
}
