:root .neo-theme-neo-dark { // .neo-checkboxfield
    --checkboxfield-color           : var(--gray-200);
    --checkboxfield-color-checked   : var(--purple-300);
    --checkboxfield-icon-font-family: var(--fa-style-family-classic);
    --checkboxfield-icon-font-size  : 14px;
    --checkboxfield-icon-margin     : 0;
    --checkboxfield-label-top-margin: 0 0 3px;
}
