:root .neo-theme-neo-dark { // .neo-combobox
    --combobox-input-hint-color              : var(--gray-400);
    --combobox-input-hint-opacity            : 0.6;
    --combobox-list-search-background-color  : inherit;
    --combobox-list-search-color             : var(--orange-500);
    --combobox-list-search-color-selected    : var(--orange-500);
    --combobox-picker-container-border       : 1px solid var(--purple-700);
    --combobox-picker-container-border-radius: 3px;
}
