:root .neo-theme-neo-dark { // .neo-fileuploadfield
    --fileuploadfield-background-color        : var(--purple-950);
    --fileuploadfield-border-color            : var(--purple-700);
    --fileuploadfield-color                   : var(--white);
    --fileuploadfield-downloadable-state-color: var(--gray-400);
    --fileuploadfield-error-color             : var(--red-500);
    --fileuploadfield-focus-color             : var(--purple-400);
    --fileuploadfield-hover-color             : var(--purple-900);
    --fileuploadfield-pressed-color           : var(--purple-800);
    --fileuploadfield-progress-color          : var(--purple-400);
    --fileuploadfield-success-color           : var(--green-400);
}
