:root .neo-theme-neo-dark { // .neo-pickerfield
    --pickerfield-container-background-color: var(--sem-color-surface-neutral-default);
    --pickerfield-container-border          : 1px solid var(--sem-color-border-subtle);
    --pickerfield-container-box-shadow      : 0 5px 10px rgba(0,0,0,.8);
}
