:root .neo-theme-neo-dark { // .neo-textfield
    --textfield-border-color                   : var(--purple-700);
    --textfield-border-color-active            : var(--purple-400);
    --textfield-border-color-alert             : var(--orange-500);
    --textfield-border-color-disabled          : var(--purple-800);
    --textfield-border-color-hovered           : var(--purple-600);
    --textfield-border-color-invalid           : var(--red-500);
    --textfield-border-color-readonly          : var(--purple-800);
    --textfield-border-radius                  : 3px;
    --textfield-border-width                   : 1px;
    --textfield-input-background-color         : var(--purple-950);
    --textfield-input-background-color-disabled: var(--purple-900);
    --textfield-input-background-color-readonly: var(--purple-900);
    --textfield-input-color                    : var(--white);
    --textfield-input-color-disabled           : var(--gray-500);
    --textfield-input-color-readonly           : var(--white);
    --textfield-input-font                     : 400 13px/17px Arial;
    --textfield-input-height                   : 25px;
    --textfield-input-padding                  : 3px 6px 2px;
    --textfield-input-placeholder-color        : var(--gray-400);
    --textfield-input-placeholder-opacity      : 0.6;
    --textfield-label-color                    : var(--gray-200);
    --textfield-label-color-disabled           : var(--gray-600);
    --textfield-label-color-readonly           : var(--gray-200);
    --textfield-label-top-margin               : 0 0 3px;
    --textfield-opacity-disabled               : var(--neo-disabled-opacity);
    --textfield-opacity-readonly               : 1;
    --textfield-outline-active                 : none;
    --textfield-outline-hovered                : none;
    --textfield-sublabel-color                 : var(--gray-400);
    --textfield-sublabel-font-size             : 12px;
    --textfield-sublabel-margin                : 0 0 5px;
}
