:root .neo-theme-neo-dark { // .neo-textfield
    --textfield-border-color                   : var(--sem-color-border-default);
    --textfield-border-color-active            : var(--sem-color-border-focus);
    --textfield-border-color-alert             : var(--orange-500);
    --textfield-border-color-disabled          : var(--sem-color-border-subtle);
    --textfield-border-color-hovered           : var(--sem-color-border-default);
    --textfield-border-color-invalid           : var(--red-500);
    --textfield-border-color-readonly          : var(--sem-color-border-subtle);
    --textfield-border-radius                  : 3px;
    --textfield-border-width                   : 1px;
    --textfield-input-background-color         : var(--sem-color-surface-neutral-default);
    --textfield-input-background-color-disabled: var(--sem-color-surface-disabled);
    --textfield-input-background-color-readonly: var(--sem-color-surface-neutral-highlighted);
    --textfield-input-color                    : var(--sem-color-text-neutral-default);
    --textfield-input-color-disabled           : var(--sem-color-text-disabled);
    --textfield-input-color-readonly           : var(--sem-color-text-neutral-default);
    --textfield-input-font                     : 400 13px/17px Arial;
    --textfield-input-height                   : 25px;
    --textfield-input-padding                  : 3px 6px 2px;
    --textfield-input-placeholder-color        : var(--sem-color-text-neutral-subdued);
    --textfield-input-placeholder-opacity      : 0.6;
    --textfield-label-color                    : var(--sem-color-text-neutral-subdued);
    --textfield-label-color-disabled           : var(--sem-color-text-disabled);
    --textfield-label-color-readonly           : var(--sem-color-text-neutral-subdued);
    --textfield-label-top-margin               : 0 0 3px;
    --textfield-opacity-disabled               : var(--neo-disabled-opacity);
    --textfield-opacity-readonly               : 1;
    --textfield-outline-active                 : none;
    --textfield-outline-hovered                : none;
    --textfield-sublabel-color                 : var(--sem-color-text-neutral-subdued);
    --textfield-sublabel-font-size             : 12px;
    --textfield-sublabel-margin                : 0 0 5px;
}
