:root .neo-theme-neo-light { // .neo-tab-header-button
    --tab-button-background-color               : #fff;
    --tab-button-background-color-active        : #ddd;
    --tab-button-background-color-disabled      : #fff;
    --tab-button-background-color-hover         : #fff;
    --tab-button-background-image               : none;
    --tab-button-background-image-bottom        : none;
    --tab-button-background-image-left          : none;
    --tab-button-background-image-pressed       : none;
    --tab-button-background-image-pressed-bottom: none;
    --tab-button-background-image-pressed-left  : none;
    --tab-button-background-image-pressed-right : none;
    --tab-button-background-image-right         : none;
    --tab-button-border                         : none;
    --tab-button-border-bottom                  : none;
    --tab-button-border-bottom-pressed          : none;
    --tab-button-border-pressed                 : none;
    --tab-button-border-radius                  : 0;
    --tab-button-gap                            : 0;
    --tab-button-glyph-color                    : #bbb;
    --tab-button-glyph-color-active             : #1c60a0;
    --tab-button-glyph-color-hover              : #1c60a0;
    --tab-button-glyph-color-pressed            : #1c60a0;
    --tab-button-height                         : 25px;
    --tab-button-height-pressed                 : 25px;
    --tab-button-margin-bottom                  : 0;
    --tab-button-padding                        : 7px 12px 6px 12px;
    --tab-button-text-color                     : #2b2b2b;
    --tab-button-text-transform                 : uppercase;
}
