.neo-viewport {
    .neo-layout-cube {
        .neo-face {
            opacity: 0.8;
            transition: opacity 50ms ease-out;
        }

        .neo-plane {
            transform: translateZ(0px);
        }
    }
}
