:root .neo-theme-neo-dark { // .neo-fieldset
    --fieldset-background-color : var(--sem-color-surface-neutral-highlighted);
    --fieldset-border           : 1px solid var(--sem-color-border-default);
    --fieldset-legend-color     : var(--sem-color-text-primary-default);
    --fieldset-legend-icon-color: var(--sem-color-icon-primary-default);
}
