.portal-content-box {
    border         : 1px solid var(--sem-color-border-default);
    cursor         : pointer;
    color          : #000;
    margin-top     : 2em;
    padding        : 0 1em 1em 1em;
    text-decoration: none;
    width          : 300px;

    &:hover {
        background-color: var(--sem-color-surface-primary-background);
    }

    &:not(:last-child) {
        margin-right: 3em;
    }

    .portal-content-box-content {

    }

    .portal-content-box-header {

    }

    @media (max-width: 600px) {
        margin-right: 0;
    }
}
