.portal-home-feature-section {
    align-items      : stretch;
    display          : flex;
    flex-wrap        : nowrap;
    justify-content  : center;
    min-height       : 100%;
    scroll-snap-align: center;

    @media (max-width: 840px) {
        flex-direction: column;
    }

    &.portal-position-end {
        flex-direction: row-reverse;
    }

    .neo-content {
        font-size: min(max(2.3vw, 16px), 30px);
    }

    h1.neo-h1 {
        color      : var(--purple-400);
        font-size  : min(max(4.5vw, 30px), 44px);
        line-height: 1em;
        margin     : 0;
    }

    h2.neo-h2 {
        font-size  : min(max(3.5vw, 24px), 35px);
        font-weight: 600;
        line-height: 1em;
        margin     : 0;
    }

    .page-live-preview {
        height: 100%;
        margin: 0;
    }

    .portal-content-text {
        align-items    : start;
        display        : flex;
        flex           : 1;
        flex-direction : column;
        flex-wrap      : nowrap;
        justify-content: center;
        padding        : 2rem;

        @media (max-width: 600px) {
            flex           : .5 !important;
            justify-content: start;
            padding        : 1rem;
        }
    }

    .portal-content-wrapper {
        flex   : 2;
        padding: 20px;

        @media (max-width: 600px) {
            max-height: 35em;
            min-height: 35em;
            padding   : 5px;
        }
    }
}
