.learnneo-header-toolbar {
    margin-bottom: 1px; // fakes a bottom border

    .logo {
        margin-left: 1em;
    }

    .neo-button {
        margin-left: 10px;

        &.no-text {
            margin-left: 0;
            width      : 1.2em;

            &.github-button {
                margin-left: 5em;
            }

            .neo-button-glyph {
                font-size: 24px;
            }
        }
    }
}
