.portal-home-maincontainer {
    background-attachment: fixed;
    background-color: var(--sem-color-bg-neutral-default);
    background-image:
        radial-gradient(at 0% 0%, rgba(62, 99, 221, 0.08) 0px, transparent 50%),
        radial-gradient(at 100% 100%, rgba(138, 43, 226, 0.08) 0px, transparent 50%);
    overflow-x      : hidden !important;
    scroll-behavior : smooth;
    scroll-snap-type: y mandatory;

    @media (max-width: 840px) {
        scroll-behavior : unset;
        scroll-snap-type: unset;
    }

    /* Style and position the progress bar */
    .portal-home-progress {
        background      : var(--sem-color-surface-primary-background);
        height          : 4px;
        position        : fixed;
        scale           : 0 1;
        top             : 0;
        transform-origin: left;
        width           : 100%;
        z-index         : 1000;


        /* Attach the animation using an anonymous Scroll Progress Timeline */
        animation         : grow-progress linear;
        animation-timeline: --page-scroll;
    }

    @keyframes grow-progress {
        to {
            scale: 1 1;
        }
    }
}
