$neoMap: map-merge($neoMap, (
    'docs-navigation-tab-container-background-color': #fff
));

@if $useCss4Vars == true {
    :root .neo-theme-light { // .neo-docs-navigation-tab-container
        --docs-navigation-tab-container-background-color: #{neo(docs-navigation-tab-container-background-color)};
    }
}