:root .neo-theme-neo-light { // .neo-checkboxfield
    --checkboxfield-color           : #aaa;
    --checkboxfield-color-checked   : #1c60a0;
    --checkboxfield-icon-font-family: var(--fa-style-family-classic);
    --checkboxfield-icon-font-size  : 14px;
    --checkboxfield-icon-margin     : 0;
    --checkboxfield-label-top-margin: 0 0 3px;
}
