:root .neo-theme-neo-light { // .neo-pickerfield
    --pickerfield-container-background-color: #fff;
    --pickerfield-container-border          : none;
    --pickerfield-container-box-shadow      : 0 5px 10px rgba(0,0,0,.4);
}
