:root .neo-theme-neo-light { // .neo-selectfield
    --selectfield-input-hint-color              : #333;
    --selectfield-input-hint-opacity            : 0.6;
    --selectfield-list-search-background-color  : inherit;
    --selectfield-list-search-color             : red;
    --selectfield-list-search-color-selected    : red;
    --selectfield-picker-container-border       : 1px solid #1c60a0;
    --selectfield-picker-container-border-radius: 3px;
}
