:root .neo-theme-neo-light { // .neo-switchfield
    --switchfield-bordercolor-focused: #57B2EF;
    --switchfield-borderwidth-focused: 4px;
    --switchfield-color-knob         : #fff;
    --switchfield-color-icon-on      : #fff;
    --switchfield-color-icon-off     : #767676;
    --switchfield-color-off          : #BDBDBD;
    --switchfield-color-off-disabled : #BDBDBD;
    --switchfield-color-off-hovered  : #9E9E9E;
    --switchfield-color-on           : #005A96;
    --switchfield-color-on-disabled  : #005A96;
    --switchfield-color-on-hovered   : #004C7E;
    --switchfield-height             : 24px;
    --switchfield-knobsize           : 20px;
    --switchfield-opacity-disabled   : .5;
    --switchfield-width              : 40px;
}
