:root .neo-theme-dark { // .neo-tab-strip
    --tab-indicator-background-color-active: #5d83a7;
    --tab-strip-background-color           : #3c3f41;
    --tab-strip-height                     : 4px;
}
