.neo-cursor-e-resize, .neo-cursor-e-resize * {
    cursor: e-resize !important;
}

.neo-cursor-move, .neo-cursor-move * {
    cursor: move !important;
}

.neo-cursor-n-resize, .neo-cursor-n-resize * {
    cursor: n-resize !important;
}

.neo-cursor-ne-resize, .neo-cursor-ne-resize * {
    cursor: ne-resize !important;
}

.neo-cursor-nw-resize, .neo-cursor-nw-resize * {
    cursor: nw-resize !important;
}

.neo-cursor-s-resize, .neo-cursor-s-resize * {
    cursor: s-resize !important;
}

.neo-cursor-se-resize, .neo-cursor-se-resize * {
    cursor: se-resize !important;
}

.neo-cursor-sw-resize, .neo-cursor-sw-resize * {
    cursor: sw-resize !important;
}

.neo-cursor-w-resize, .neo-cursor-w-resize * {
    cursor: w-resize !important;
}
