.rw2-taglist-component {
    padding-left : 15px;
    padding-right: 15px;

    .sidebar {
        background   : #f3f3f3;
        border-radius: 4px;
        padding      : 5px 10px 10px;

        p {
            margin-bottom: .2rem;
        }
    }
}