:root .neo-theme-neo-dark {
    --trigger-background-color-hover: var(--sem-color-surface-neutral-highlighted);
    --trigger-border-width          : 1px;
    --trigger-color                 : var(--sem-color-icon-neutral-subdued);
    --trigger-color-hover           : var(--sem-color-icon-primary-default);
}
