:root .neo-theme-neo-dark {
    --trigger-background-color-hover: #fff;
    --trigger-border-width          : 1px;
    --trigger-color                 : #bbb;
    --trigger-color-hover           : #1c60a0;
}
