:root .neo-theme-neo-light {
    --highlight-background-color: #fff;
    --highlight-color: #333;
    --highlight-comment-color: #998;
    --highlight-keyword-color: #d73a49;
    --highlight-number-color: #005cc5;
    --highlight-string-color: #032f62;
    --highlight-doctag-color: #d14;
    --highlight-title-color: #900;
    --highlight-type-color: #458;
    --highlight-tag-color: #000080;
    --highlight-regexp-color: #009926;
    --highlight-symbol-color: #990073;
    --highlight-builtin-color: #6f42c1;
    --highlight-meta-color: #999;
    --highlight-deletion-background: #fdd;
    --highlight-addition-background: #dfd;
    --highlight-code-color: #333;
    --highlight-params-color: #333;
    --highlight-subst-color: #d73a49;
}