$neoMap: map-merge($neoMap, (
    'checkboxfield-color'        : #eee,
    'checkboxfield-checked-color': #64B5F6
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .neo-checkboxfield
        --checkboxfield-color        : #{neo(checkboxfield-color)};
        --checkboxfield-checked-color: #{neo(checkboxfield-checked-color)};
    }
}