$neoMap: map-merge($neoMap, (
    'rangefield-thumb-background': #bbb,
    'rangefield-track-background': #3c3f41
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .neo-rangefield
        --rangefield-thumb-background: #{neo(rangefield-thumb-background)};
        --rangefield-track-background: #{neo(rangefield-track-background)};
    }
}