$neoMap: map-merge($neoMap, (
    'checkboxfield-color'           : #eee,
    'checkboxfield-color-checked'   : #64B5F6,
    'checkboxfield-icon'            : "\f0c8",
    'checkboxfield-icon-checked'    : "\f00c",
    'checkboxfield-label-top-margin': 0 0 3px
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-checkboxfield
        --checkboxfield-color           : #{neo(checkboxfield-color)};
        --checkboxfield-color-checked   : #{neo(checkboxfield-color-checked)};
        --checkboxfield-icon            : #{neo(checkboxfield-icon)};
        --checkboxfield-icon-checked    : #{neo(checkboxfield-icon-checked)};
        --checkboxfield-label-top-margin: #{neo(checkboxfield-label-top-margin)};
    }
}
