:root .neo-theme-dark { // .neo-checkboxfield
    --checkboxfield-color           : #eee;
    --checkboxfield-color-checked   : #64B5F6;
    --checkboxfield-icon-font-family: var(--fa-style-family-classic);
    --checkboxfield-icon-font-size  : 14px;
    --checkboxfield-icon-margin     : 0;
    --checkboxfield-label-top-margin: 0 0 3px;
}
