$neoMap: map-merge($neoMap, (
    'fileuploadfield-background-color': rgb(62, 51, 51),
    'fileuploadfield-color'           : #fff,
    'fileuploadfield-border-color'    : #f4e2f5,
    'fileuploadfield-progress-color'  : #fff
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-fileuploadfield
        --fileuploadfield-background-color: #{neo(fileuploadfield-background-color)};
        --fileuploadfield-color           : #{neo(fileuploadfield-color)};
        --fileuploadfield-border-color    : #{neo(fileuploadfield-border-color)};
        --fileuploadfield-progress-color  : #{neo(fileuploadfield-progress-color)};
    }
}
