$neoMap: map-merge($neoMap, (
    'fileuploadfield-background-color'         : rgb(62, 51, 51),
    'fileuploadfield-color'                    : #fff,
    'fileuploadfield-border-color'             : #d5d5d5,
    'fileuploadfield-progress-color'           : #fff,
    'fileuploadfield-error-color'              : #f00,
    'fileuploadfield-success-color'            : rgb(71, 226, 71),
    'fileuploadfield-hover-color'              : #0f0f0f,
    'fileuploadfield-pressed-color'            : #0e0e0e,
    'fileuploadfield-downloadable-state-color' : #181818,
    'fileuploadfield-focus-color'              : #80d3f4
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-fileuploadfield
        --fileuploadfield-background-color         : #{neo(fileuploadfield-background-color)};
        --fileuploadfield-color                    : #{neo(fileuploadfield-color)};
        --fileuploadfield-border-color             : #{neo(fileuploadfield-border-color)};
        --fileuploadfield-progress-color           : #{neo(fileuploadfield-progress-color)};
        --fileuploadfield-error-color              : #{neo(fileuploadfield-error-color)};
        --fileuploadfield-success-color            : #{neo(fileuploadfield-success-color)};
        --fileuploadfield-hover-color              : #{neo(fileuploadfield-hover-color)};
        --fileuploadfield-pressed-color            : #{neo(fileuploadfield-pressed-color)};
        --fileuploadfield-downloadable-state-color : #{neo(fileuploadfield-pressed-color)};
        --fileuploadfield-focus-color              : #{neo(fileuploadfield-focus-color)};
    }
}
