:root .neo-theme-dark { // .neo-fileuploadfield
    --fileuploadfield-background-color         : rgb(62, 51, 51);
    --fileuploadfield-border-color             : #d5d5d5;
    --fileuploadfield-color                    : #fff;
    --fileuploadfield-downloadable-state-color : #181818;
    --fileuploadfield-error-color              : #f00;
    --fileuploadfield-focus-color              : #80d3f4;
    --fileuploadfield-hover-color              : #0f0f0f;
    --fileuploadfield-pressed-color            : #0e0e0e;
    --fileuploadfield-progress-color           : #fff;
    --fileuploadfield-success-color            : rgb(71, 226, 71);
}
