:root .neo-theme-dark { // .neo-pickerfield
    --pickerfield-container-background-color: #323232;
    --pickerfield-container-border          : none;
    --pickerfield-container-box-shadow      : 0 5px 10px rgba(0,0,0,.4);
}
