$neoMap: map-merge($neoMap, (
    'radiofield-color'           : #eee,
    'radiofield-checked-color'   : #64B5F6,
    'radiofield-label-top-margin': 0 0 3px
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-radiofield
        --radiofield-color           : #{neo(radiofield-color)};
        --radiofield-checked-color   : #{neo(radiofield-checked-color)};
        --radiofield-label-top-margin: #{neo(radiofield-label-top-margin)};
    }
}
