:root .neo-theme-dark { // .neo-switchfield
    --switchfield-height    : 24px;
    --switchfield-width     : 40px;
    --switchfield-knobsize: 20px;
    --switchfield-color-on-idle: #005A96;
    --switchfield-color-on-hovered: #004C7E;
    --switchfield-color-on-disabled: #C9E9FF;
    --switchfield-color-off-idle: #BDBDBD;
    --switchfield-color-off-hovered: #9E9E9E;
    --switchfield-color-off-disabled: #F0F0ED;
    --switchfield-color-knob: #fff;
    --switchfield-bordercolor-focused: #57B2EF;
    --switchfield-borderwidth-focused: 4px;
}