:root .neo-theme-dark { // .neo-switchfield
    --switchfield-active-color    : white;
    --switchfield-background-color: darkgrey;
    --switchfield-checked         : green;
    --switchfield-inactive-color  : grey;
    --switchfield-thumb-color     : white;
}
