:root .neo-theme-dark { // .neo-textfield
    --textfield-border-color                   : #424242;
    --textfield-border-color-active            : #5d83a7;
    --textfield-border-color-alert             : orange;
    --textfield-border-color-disabled          : #424242;
    --textfield-border-color-hovered           : #424242;
    --textfield-border-color-invalid           : brown;
    --textfield-border-color-readonly          : #424242;
    --textfield-border-radius                  : 0;
    --textfield-border-width                   : 1px;
    --textfield-input-background-color         : #2b2b2b;
    --textfield-input-background-color-disabled: #2b2b2b;
    --textfield-input-background-color-readonly: #222;
    --textfield-input-color                    : #ccc;
    --textfield-input-color-disabled           : #ccc;
    --textfield-input-color-readonly           : #ccc;
    --textfield-input-font                     : 400 13px/17px Arial;
    --textfield-input-height                   : 25px;
    --textfield-input-padding                  : 3px 6px 2px;
    --textfield-input-placeholder-color        : #ccc;
    --textfield-input-placeholder-opacity      : 0.6;
    --textfield-label-color                    : #bbb;
    --textfield-label-color-disabled           : #bbb;
    --textfield-label-color-readonly           : #bbb;
    --textfield-label-top-margin               : 0 0 3px;
    --textfield-opacity-disabled               : var(--neo-disabled-opacity);
    --textfield-opacity-readonly               : 1;
    --textfield-outline-active                 : none;
    --textfield-outline-hovered                : none;
    --textfield-sublabel-color                 : #999;
    --textfield-sublabel-font-size             : 12px;
    --textfield-sublabel-margin                : 0 0 5px;
}
