:root .neo-theme-neo-light { // .neo-viewport
    --portal-bg-main            : #fcfcfc;
    --portal-headline-primary   : #3e63dd;
    --portal-scrollbar-thumb    : #3e63dd;
    --portal-scrollbar-track    : #f0f0f0;
    --portal-transition-duration: 300ms;
}