:root .neo-theme-neo-light { // .neo-table-container
    --table-container-border-color              : #ddd;
    --table-container-cell-background-color     : #fff;
    --table-container-cell-background-color-even: #f2f2f2;
    --table-container-cell-border-bottom        : 1px solid #ddd;
    --table-container-cell-height               : 32px;
    --table-container-cell-padding              : 2px 10px 2px;
    --table-container-color                     : #666;
    --table-container-header-cell-border-bottom : 1px solid #ddd;
}
