.neo-box-label {
    background-color: #323232;
    color           : #ddd;
    font-size       : 13px;
    margin          : 10px;
    padding         : 10px;
    white-space     : normal;

    a {
        color: #ddd;
    }
}