.neo-scrollable {}

// Shadow at the bottom
.neo-aligned-bottom {
    box-shadow: var(--aligned-bottom-box-shadow);
}

// Shadow at the left
.neo-aligned-left {
    box-shadow: var(--aligned-left-box-shadow);
}

// Shadow at the right
.neo-aligned-right {
    box-shadow: var(--aligned-right-box-shadow);
}

// Shadow at the top
.neo-aligned-top {
    box-shadow: var(--aligned-top-box-shadow);
}

.neo-floating {
    background-color: var(--neo-background-color);
    left            : -10000px;
    position        : fixed;
    top             : -10000px;
    z-index         : 1000;
}

.neo-masked {
    position: relative;

    .neo-load-mask {
        align-content   : center;
        background-color: inherit;
        border-radius   : inherit;
        display         : grid;
        inset           : 0;
        justify-content : center;
        overflow        : clip;
        position        : absolute;
        z-index         : 4;

        .neo-load-mask-body {
            align-items: center;
            display    : flex;
            flex-flow  : row nowrap;
            gap        : 0.7em;

            .fa-spinner {
                height: 1em;
                width : 1em;
            }

            .neo-loading-message {
                color: inherit;
            }
        }
    }
}
