// Shadow at the bottom
.neo-aligned-bottom {
    box-shadow: var(--aligned-bottom-box-shadow);
}

// Shadow at the left
.neo-aligned-left {
    box-shadow: var(--aligned-left-box-shadow);
}

// Shadow at the right
.neo-aligned-right {
    box-shadow: var(--aligned-right-box-shadow);
}

// Shadow at the top
.neo-aligned-top {
    box-shadow: var(--aligned-top-box-shadow);
}

.neo-floating {
    background-color: var(--neo-background-color);
    left            : -10000px;
    position        : fixed;
    top             : -10000px;
    z-index         : 1000;
}

.neo-masked {
    font-family : inherit;
    font-size   : inherit;
    font-weight : var(--button-text-font-weight);
    position    : relative;

    .neo-load-mask {
        position         : absolute;
        inset            : 0;
        background-color : inherit;
        border-radius    : inherit;
        z-index          : 4;
        display          : grid;
        justify-content  : center;
        align-content    : center;
        overflow         : clip;

        .neo-load-mask-body {
            align-items : center;
            display     : flex;
            flex-flow   : row nowrap;
            gap         : 0.7em;

            .fa-spinner {
                width  : 1em;
                height : 1em;
            }
        }
    }
}
