.neo-clock {
    align-items     : center;
    background-color: #ddd;
    border-radius   : 50%;
    display         : flex;
    font-size       : 30px;
    justify-content : center;

    background-image: radial-gradient(farthest-side circle at center center, #fff 0%, #bbb 100%);

    &:before {
        background-color: #bbb;
        border-radius   : 50%;
        content         : '';
        height          : 1em;
        position        : absolute;
        width           : 1em;
        z-index         : 5;
    }

    .neo-hours,
    .neo-minutes {
        background-color: #962033;
        height          : 4em;
        width           : .3em;
    }

    .neo-hours {
        transform: rotate(315deg);

        box-shadow:
            0 -2em #962033,
            0 -4em #962033,
            1px 0 3px #777,
            1px -1.9em 3px #777,
            1px -3.8em 3px #777;
    }

    .neo-minutes {
        transform: rotate(45deg);

        box-shadow:
            0 -3.4em #962033,
            0 -6.8em #962033,
            1px 0 7px #777,
            1px -3.4em 7px #777,
            1px -6.8em 7px #777;
    }
}
