.neo-helix {
    background-color: #000;
    border          : 1px solid #3c3f41;
    display         : flex;
    font-family     : #{neo(neo-font-family)};
    margin          : 0;
    overflow        : hidden;
    padding         : 0;
    perspective     : 800px;
    transform       : translateZ(0px);
    transform-style : flat;

    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: 0;
    }

    &.neo-transition-100 {
        .neo-helix-item {
            transition: all 0.1s ease-in-out !important;
        }
    }

    &.neo-transition-1000 {
        .neo-helix-item {
            transition: all 1s ease-in-out !important;
        }
    }

    .container {
        display: flex;
    }

    .container, .container-surface, .group {
        flex           : 1 0 100%;
        margin         : 0;
        padding        : 0;
        pointer-events : none;
        position       : absolute;
        transform-style: preserve-3d;
    }

    .surface {
        backface-visibility: hidden;
        box-sizing         : border-box;
        pointer-events     : auto;
        position           : absolute;
        transform-origin   : center center;
        transform-style    : preserve-3d;
        user-select        : none;

        -webkit-tap-highlight-color: transparent;
    }

    .neo-helix-item {
        backface-visibility: visible;
        background-color   : rgba(73, 160, 154, 0.35);
        height             : 160px;
        overflow           : hidden;
        width              : 120px;
        will-change        : transform;

        &:focus {
            outline: 0;
        }

        &.neo-selected {
            border-radius: 10px !important;
            box-shadow   : 0 0 35px #61DFE5;
            opacity      : 1 !important;
        }

        .contact-item {
            border-radius: 3px;
            box-shadow   : 0 0 12px rgba(231, 254, 237, 0.6);
            height       : 160px;
            width        : 120px;
        }
    }

    .contact-name {
        font-size   : 14px;
        font-weight : bold;
        left        : 0;
        position    : absolute;
        right       : 0;
        text-shadow : 0 0 10px #61DFE5;
    }
}