.neo-magic-move-text {
    --neo-transition-time: 500ms;

    background-color: #000;
    color           : #fff;
    font-size       : 30px;
    font-weight     : bold;

    .neo-content {
        align-items    : center;
        display        : flex;
        height         : 100%;
        justify-content: center;
        position       : relative;
        width          : 100%;

        .neo-char {
            position  : absolute;
            transition:
                color   0.2s ease-out,
                left    var(--neo-transition-time) ease-out,
                opacity var(--neo-transition-time) ease-out,
                top     var(--neo-transition-time) ease-out;
        }
    }

    .neo-measure-element-wrapper {
        align-items    : center;
        display        : flex;
        justify-content: center;
        left           : -5000px;
        position       : absolute;
        top            : -5000px;
    }

    .neo-measure-element {
        position: relative;
    }
}
