.neo-splitter {
    background-color: v(splitter-background-color);
    border          : 1px solid #ddd;

    &.neo-horizontal {
        border-left : none;
        border-right: none;
        cursor      : ns-resize;
    }

    &.neo-vertical {
        border-bottom: none;
        border-top   : none;
        cursor       : ew-resize;
    }
}
