$neoMap: map-merge($neoMap, (
    'calendar-settings-header-background-color': #33343d,
    'calendar-settings-header-color'           : #ccc,
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .neo-calendar-settingscontainer
        --calendar-settings-header-background-color: #{neo(calendar-settings-header-background-color)};
        --calendar-settings-header-color           : #{neo(calendar-settings-header-color)};
    }
}