:root .neo-theme-dark { // .neo-calendar-edit-event-container
    --calendar-edit-event-background-color: #2b2b2b;
    --calendar-edit-event-border-color    : #64B5F6;
    --calendar-edit-event-box-shadow      : 0 5px 10px rgba(0,0,0,.4);
}
