:root .neo-theme-dark { // .neo-calendar-yearcomponent
    --c-y-cell-border-color     : #3c3f41;
    --c-y-cell-color            : #bbb;
    --c-y-month-color           : #ccc;
    --c-y-today-background-color: firebrick;
    --c-y-today-color           : #fff;
    --c-y-week-background-color : #33343d;
    --c-y-week-color            : #ccc;
    --c-y-year-color            : #ccc;
}
