.neo-grid-wrapper {
    overflow-anchor    : none;
    overflow-y         : clip;
    overscroll-behavior: none;
    position           : relative;

    &.neo-masked {
        .neo-grid-container {
            opacity: .3;
        }

        .neo-load-mask {
            .neo-load-mask-body {
                .fa-spinner {
                    height     : 3em;
                    font-size  : 3em;
                    line-height: 3em;
                }

                .neo-loading-message {
                    font-size: 2.5em;
                }
            }
        }
    }

    .neo-grid-container {
        border             : 1px solid var(--grid-container-border-color);
        border-spacing     : 0;
        color              : var(--grid-container-color);
        display            : flex;
        flex-direction     : column;
        font-size          : var(--grid-container-font-size);
        font-weight        : 400;
        height             : 100%;
        line-height        : 19px;
        overscroll-behavior: none;
        overflow-x         : auto;
        overflow-y         : hidden;
        position           : absolute;
        width              : 100%;
    }
}