.neo-grid-wrapper {
    overflow-anchor    : none;
    overflow-x         : auto;
    overflow-y         : hidden;
    overscroll-behavior: none;
    position           : relative;

    .neo-grid-container {
        border             : 1px solid var(--grid-container-border-color);
        border-spacing     : 0;
        color              : var(--grid-container-color);
        font-size          : 13px;
        font-weight        : 400;
        height             : 100%;
        line-height        : 19px;
        overscroll-behavior: none;
        overflow-y         : hidden;
        position           : absolute;
        width              : 100%;
    }

    .neo-grid-scrollbar {
        background-color: red;
        bottom          : 0;
        position        : absolute;
        right           : 0;
        top             : 31px; // header-toolbar height
        width           : 16px;
        z-index         : 2;
    }
}
