.neo-grid-scrollbar {
    background-color: red;
    bottom          : 0;
    overflow-y      : scroll;
    position        : absolute;
    right           : 0;
    top             : 31px; // header-toolbar height
    transition      : opacity .4s;
    width           : 16px;
    z-index         : 2;
}
