.neo-grid-scrollbar {
    bottom          : 0;
    opacity         : 0;
    overflow-y      : scroll;
    position        : absolute;
    right           : 0;
    top             : 31px; // header-toolbar height
    transition      : opacity .4s;
    width           : 16px;
    z-index         : 2;

    &:hover {
        opacity: 1;
    }
}

.neo-grid-wrapper:has(.neo-grid-view.neo-is-scrolling) {
    .neo-grid-scrollbar {
        opacity: 1;
    }
}
