.neo-grid-vertical-scrollbar {
    bottom      : 1px;
    color-scheme: var(--grid-scrollbar-color-scheme, light);
    opacity     : 0;
    overflow-y  : scroll;
    position    : absolute;
    right       : 0;
    top         : 31px; // header-toolbar height
    transition  : opacity 1s ease-out;
    width       : var(--grid-scrollbar-width, 16px);
    z-index     : 2;

    &:hover {
        opacity: 1;
    }

    .neo-grid-scrollbar-content {
        width: 1px;
    }
}

.neo-grid-wrapper:has(.neo-grid-body.neo-is-scrolling) {
    .neo-grid-vertical-scrollbar {
        opacity: 1;
    }
}

body.neo-has-touch {
    .neo-grid-vertical-scrollbar {
        opacity: 1;
        width  : var(--grid-scrollbar-touch-width, 24px);

        &::-webkit-scrollbar {
            width: var(--grid-scrollbar-touch-width, 24px);
        }
    }
}
