/* Toast */

.neo-toast {
  --toast-background-color: lightblue;
  --toast-color: #083741;

  position: fixed;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  background-color: var(--toast-background-color);
  color: var(--toast-color);

  & > div {
    background-color: transparent;

    .neo-toast-inner {
      display: flex;
      align-items: center;

      &.neo-toast-has-title {
        .neo-toast-text {
          text-align: left;
        }
      }

      & > div {
        padding: 0.25em 0.5em;
      }

      .neo-toast-icon {
        flex: 1;
        font-size: 1.5em;
        border-right: 2px solid var(--toast-color);
      }
      .neo-toast-text {
        padding: 0.25em 1em;
        text-align: center;

        .neo-toast-title {
          padding-bottom: 0.2em;
        }
        .neo-toast-msg {
          font-size: 0.8em;
        }
      }
      /* Close button */
      .neo-toast-close {
        margin-left: auto;
        border: 0;
        background: transparent;
        color: inherit;
        font-size: 1.5rem;
        cursor: pointer;
        line-height: 1.5;
      }
    }
  }
}

/* Toast positions */
.neo-toast-tr {
  top: 1rem;
  right: 1rem;
}

.neo-toast-tc {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.neo-toast-tl {
  top: 1rem;
  left: 1rem;
}

.neo-toast-br {
  bottom: 1rem;
  right: 1rem;
}

.neo-toast-bc {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.neo-toast-bl {
  bottom: 1rem;
  left: 1rem;
}

/* Toast slide-in animation */
@keyframes neo-toast-slide-down-in {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes neo-toast-slide-up-in {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes neo-toast-slide-left-in {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes neo-toast-slide-right-in {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

/* Add the slide-in animation to the toast when the slide-in class is added */
.neo-toast-slide-down-in {
  animation: neo-toast-slide-down-in 0.25s ease-out;
}

.neo-toast-slide-up-in {
  animation: neo-toast-slide-up-in 0.25s ease-out;
}

.neo-toast-slide-left-in {
  animation: neo-toast-slide-left-in 0.25s ease-out;
}

.neo-toast-slide-right-in {
  animation: neo-toast-slide-right-in 0.25s ease-out;
}

/* Toast fade-out animation */
@keyframes neo-toast-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Add the fade-out animation to the toast when the fade-out class is added */
.neo-toast-fade-out {
  animation: neo-toast-fade-out 0.25s ease-out;
  animation-fill-mode: forwards;
}