:root .neo-theme-neo-light { // .neo-grid-vertical-scrollbar
    --grid-scrollbar-color-scheme: light;
    --grid-scrollbar-thumb-color : rgba(0, 0, 0, 0.4);
    --grid-scrollbar-touch-width : 40px;
    --grid-scrollbar-width       : 16px;
}
