.learn-content {

    background-color: white;
    border-radius: 8px;
    margin: 8px 8px 8px 0;

    letter-spacing: 1px;
    overflow: scroll;
    padding: 1em;

    pre[data-javascript] {
        border-radius: 4px;
        padding: 12px;
        border: thin solid lightgray;
    }

    em,
    i {
        font-family: Palatino, "Times New Roman", serif;
        font-size: 1.07em;
    }

    p {
        margin: 0.5em 0em 0.7em 0em;
    }

    details summary {
        cursor: pointer;
        transition: margin 300ms ease-out;
    }

    details[open] {
        margin-bottom: 2em;
    }

    details summary {
        list-style: none;
        color: #555;
        display: flex;
        /* also removes the list marker */
        align-items: center;
        font-weight: bold;
    }

    details summary::before {
        content: "\f055";
    }

    details[open] summary::before {
        content: "\f056";
    }

    details summary::before {
        color: #c4c4c4;
        font-family: var(--fa-style-family, "Font Awesome 6 Free");
        font-size: 1em;
        font-weight: var(--fa-style, 900);
        margin: 0.4em 0.4em 0.4em 0;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .lab {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* Add some padding inside the card container */
        padding: 2px 16px;
        font-size: 1em;
        margin-bottom: 1em;
    }

    /* On mouse-over, add a deeper shadow */
    .lab:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }


}