.learnneo-maincontainer {
    background-color: #f2f2f2;

    .main-content-splitter {
        margin: 0;
    }

    .learn-content-container {
        // align-items: center !important;
        // padding: 0 3rem;
        overflow: scroll;


        .content-bottom-toolbar {
            padding: 0 3rem;
            gap: 8px;

            button {
                height: 75px;
                flex: 1 !important;
                justify-content: flex-start;

                .neo-button-text, .neo-button-glyph {
                    padding-top: 16px;
                }
            }

            .content-bottom-toolbar-previous:before {
                content         : 'Previous Page';
                font-family     : var(--core-fontfamily-sans);
                position        : absolute;
                top             : var(--cmp-button-spacinghorizontal);
                left            : var(--cmp-button-spacinghorizontal);
            }
            .content-bottom-toolbar-next:before {
                content         : 'Next Page';
                font-family     : var(--core-fontfamily-sans);
                position        : absolute;
                top             : var(--cmp-button-spacinghorizontal);
                right            : var(--cmp-button-spacinghorizontal);
            }
        }
    }
}





// Live preview Container
.live-preview-container {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: calc(var(--cmp-tab-strip-height) + var(--cmp-button-borderradius));

    .neo-tab-header-toolbar {
        background-color: var(--sem-color-surface-neutral-default);
        padding: var(--cmp-tab-strip-height);
        border: 1px solid #e6e6e6;
        border-top-left-radius: calc(var(--cmp-tab-strip-height) + var(--cmp-button-borderradius));
        border-top-right-radius: calc(var(--cmp-tab-strip-height) + var(--cmp-button-borderradius));
    }

    .neo-tab-strip {
       margin-top: calc(var(--cmp-tab-strip-height) * (-1) - 1px);
    }

    .neo-tab-content-container {
        background-color: transparent;
        border: 1px solid #e6e6e6;
        border-top: 0;
        border-bottom-left-radius: calc(var(--cmp-tab-strip-height) + var(--cmp-button-borderradius));
        border-bottom-right-radius: calc(var(--cmp-tab-strip-height) + var(--cmp-button-borderradius));
    }
}

// Scrollbar Behaviour
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: transparent;
}

.neo-tree-list:hover {
    ::-webkit-scrollbar-thumb {
        background: #b2b2b2;
        border-radius: 100px;
    }
}

.learn-content:hover {
    ::-webkit-scrollbar-thumb {
        background: #b2b2b2;
        border-radius: 100px;
    }
}
