.portal-page-sections-panel.neo-panel {
    background-color: transparent;
    border          : none; // reset the default 1px
    bottom          : 0;
    display         : block;
    flex-shrink     : 0;
    position        : fixed;
    right           : 0;
    top             : 80px;
    width           : 250px;
    z-index         : 1;

    @media only screen and (max-width: 1100px) {
        display: none;
    }

    h3 {
        margin-left: 16px;
    }

    .neo-panel-header-toolbar {
        border       : none; // reset the default 1px
        border-bottom: 1px solid #f2f2f2;

        .neo-button {
            // todo: we need styling for toolbar buttons within neo-theme-neo-light
            border-radius: 4px;
            height       : inherit;
            min-width    : inherit;
            padding      : 5px 12px;

            .neo-button-glyph {
                color: var(--panel-header-text-color);
            }
        }
    }

}
