.portal-page-sections-list.neo-list {
    .neo-h3 {
        margin-left: 1.5em;
    }

    .neo-list-item {
        color        : var(--sem-color-text-neutral-subdued);
        height       : unset;
        margin-bottom: 0;
        padding      : 5px 0 5px 5px !important;
        white-space  : normal;

        &[aria-selected=true] {
            background-color: transparent !important;
            color           : var(--list-item-color-selected) !important;
            font-weight     : 600 !important;
            cursor          : default !important;

        }
    }
}

