.portal-page-sections-panel.neo-panel {
    border: none; // reset the default 1px

    .neo-list .neo-list-item {
        white-space: normal;
    }

    .neo-panel-header-toolbar {
        border       : none; // reset the default 1px
        border-bottom: 1px solid #f2f2f2;;
    }
}
