.portal-page-sections-panel.neo-panel {
    border: none; // reset the default 1px

    @media only screen and (max-width: 1200px) {
        display: none;
    }

    .neo-panel-header-toolbar {
        border       : none; // reset the default 1px
        border-bottom: 1px solid #f2f2f2;

        .neo-button {
            // todo: we need styling for toolbar buttons within neo-theme-neo-light
            border-radius: 4px;
            height       : inherit;
            min-width    : inherit;
            padding      : 5px 12px;

            .neo-button-glyph {
                color: var(--panel-header-text-color);
            }
        }
    }
}
