.portal-page-sections-container.neo-container {
    background-color: transparent;
    border          : none; // reset the default 1px
    display         : block;
    flex-shrink     : 0;
    height          : 100%;
    min-width       : 250px;
    overflow        : visible;
    position        : fixed;
    right           : 0;
    width           : 250px;
    z-index         : 1;

    h3 {
        margin-bottom: .4em;
        margin-left  : 16px;
    }

    .sections-container-button {
        display: none;
    }

    .topics-tree {
        height        : 100%;
        padding-bottom: 8em;
    }

    @media (max-width: 1296px) {
        background-color: #fff;
        box-shadow      : 0 5px 10px rgba(0,0,0,.3);
        right           : -250px;
        transition      : right 250ms ease-out;
        z-index         : 100;

        &.neo-expanded {
            right: 0;
        }

        .sections-container-button {
            background-color: #fff;
            box-shadow      : 0 5px 10px rgba(0,0,0,.3);
            display         : flex;
            height          : 35px;
            min-width       : 35px;
            position        : absolute;
            left            : -42px;
            width           : 35px;
        }
    }
}
