:root .neo-theme-light {
    --neo-background-color: #fafafa;
    --neo-color           : #000;
    --neo-disabled-opacity: 0.5;
    --neo-font-family     : "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    --neo-font-smoothing  : antialiased;

    p {
        color      : inherit;
        font-family: inherit;
        font-size  : inherit;
        font-weight: inherit;
        line-height: inherit;
    }
}
