:root .neo-theme-cyberpunk {
    --grid-header-button-background-color: var(--cyber-bg-alt);
    --grid-header-button-background-image: none;
    --grid-header-button-color           : var(--cyber-cyan);
    --grid-header-button-glyph-color     : var(--cyber-cyan);
}
