@keyframes ripple {
    from {
        opacity  : 1;
        transform: scale(0);
    }
    to {
        opacity  : 0;
        transform: scale(4);
    }
}

.neo-disabled {
    .neo-button,
    &.neo-button {
        background-color: v(button-background-color-disabled);
        border-color    : v(button-border-color-disabled);
        cursor          : default;
        opacity         : v(button-opacity-disabled);

        .neo-button-glyph {
            color: v(button-glyph-color-disabled);
        }

        .neo-button-text {
            color: v(button-text-color-disabled);
        }
    }
}

.neo-button {
    align-items       : center;
    background-color  : v(button-background-color);
    background-image  : v(button-background-image);
    border            : v(button-border-width) solid v(button-border-color);
    border-radius     : v(button-border-radius);
    box-sizing        : border-box;
    cursor            : pointer;
    display           : flex;
    flex-direction    : row;
    height            : v(button-height);
    justify-content   : center;
    margin            : v(button-margin);
    padding           : v(button-padding);
    position          : relative;
    text-decoration   : none; // for url buttons => links
    transition        : outline-width .1s ease-out;
    user-select       : none;
    white-space       : nowrap;
    -webkit-appearance: button;

    &:active {
        background-color: v(button-background-color-active) !important;
        background-image: none !important;
        border-color    : v(button-border-color-active);

        .neo-button-glyph {
            color: v(button-glyph-color-active);
        }

        .neo-button-text {
            color: v(button-text-color-active);
        }
    }

    &:focus {
        outline: v(button-outline-active);
    }

    &:hover {
        background-color: v(button-background-color-hover);
        background-image: none !important;
        border-color    : v(button-hover-border-color);
        color           : v(button-hover-color);
    }

    &.neo-button-secondary {
        background-color: v(button-secondary-background-color);
        background-image: v(button-secondary-background-image);
        border          : v(button-secondary-border-width) solid v(button-secondary-border-color);

        .neo-button-badge {
            background-color: v(button-secondary-badge-background-color);
            color           : v(button-secondary-badge-color);
        }

        .neo-button-glyph {
            color: v(button-secondary-glyph-color);
        }

        .neo-button-text {
            color: v(button-secondary-text-color);
        }

        &:active {
            background-color: v(button-secondary-background-color-active) !important;
            border-color    : v(button-secondary-border-color-active);

            .neo-button-glyph {
                color: v(button-secondary-glyph-color-active);
            }

            .neo-button-text {
                color: v(button-secondary-text-color-active);
            }
        }
    }

    &.neo-button-tertiary {
        background-color: v(button-tertiary-background-color);
        background-image: v(button-tertiary-background-image);
        border          : v(button-tertiary-border-width) solid v(button-tertiary-border-color);

        .neo-button-badge {
            background-color: v(button-tertiary-badge-background-color);
            color           : v(button-tertiary-badge-color);
        }

        .neo-button-glyph {
            color: v(button-tertiary-glyph-color);
        }

        .neo-button-text {
            color: v(button-tertiary-text-color);
        }

        &:active {
            background-color: v(button-tertiary-background-color-active) !important;
            border-color    : v(button-tertiary-border-color-active);

            .neo-button-glyph {
                color: v(button-tertiary-glyph-color-active);
            }

            .neo-button-text {
                color: v(button-tertiary-text-color-active);
            }
        }
    }

    &.no-text {
        .neo-button-glyph {
            margin: 0 !important;
        }
    }

    &.pressed {
        border-color: v(button-pressed-border-color);
    }

    .neo-button-badge {
        background-color: v(button-badge-background-color);
        border-radius   : 5px;
        color           : v(button-badge-color);
        margin-left     : auto;
        padding         : 3px;
        pointer-events  : none;
        position        : absolute;
        user-select     : none;
        z-index         : 3;

        &.neo-bottom-left {
            bottom: v(button-badge-margin-top);
            left  : v(button-badge-margin-left);
        }

        &.neo-bottom-right {
            bottom: v(button-badge-margin-top);
            right : v(button-badge-margin-left);
        }

        &.neo-top-left {
            left: v(button-badge-margin-left);
            top : v(button-badge-margin-top);
        }

        &.neo-top-right {
            right: v(button-badge-margin-left);
            top  : v(button-badge-margin-top);
        }
    }

    .neo-button-glyph {
        color         : v(button-glyph-color);
        font-size     : 12px;
        margin        : 0 6px 0 0;
        pointer-events: none;
        z-index       : 2;
    }

    .neo-button-ripple {
        background-color: v(button-ripple-background-color);
        border-radius   : 50%;
        opacity         : 0;
        position        : absolute;
        transform       : scale(4);
    }

    .neo-button-ripple-wrapper {
        height        : 100%;
        overflow      : hidden;
        pointer-events: none;
        position      : absolute;
        width         : 100%;
    }

    .neo-button-text {
        color         : v(button-text-color);
        font-family   : v(button-text-font-family);
        font-size     : v(button-text-font-size);
        font-weight   : v(button-text-font-weight);
        line-height   : v(button-text-line-height);
        pointer-events: none;
        text-transform: v(button-text-transform);
        z-index       : 2;
    }

    &.icon-bottom {
        flex-direction: column-reverse;

        .neo-button-glyph {
            margin: 6px 0 0 0;
        }
    }

    &.icon-right {
        flex-direction: row-reverse;

        .neo-button-glyph {
            margin: 0 0 0 6px;
        }
    }

    &.icon-top {
        flex-direction: column;

        .neo-button-glyph {
            margin: 0 0 6px 0;
        }
    }
}
