.neo-split-button {
    border       : var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    display      : flex;
    width        : fit-content;

    .neo-button {
        border : none;
        margin : 0;
        padding: .5em;
    }

    .neo-trigger-button {
        border-left: var(--button-border-width) solid var(--button-border-color);
    }
}
