$neoMap: map-merge($neoMap, (
    'button-active-background-color'         : #ddd,
    'button-active-border-color'             : #1c60a0,
    'button-active-color'                    : #1c60a0,
    'button-background-color'                : #fff,
    'button-background-color-disabled'       : #fff,
    'button-background-image'                : none,
    'button-background-gradient-end'         : #323536,
    'button-background-gradient-start'       : #434749,
    'button-badge-background-color'          : #1c60a0,
    'button-badge-color'                     : #fff,
    'button-badge-margin-left'               : -10px,
    'button-badge-margin-top'                : -10px,
    'button-border-color'                    : #ddd,
    'button-border-color-disabled'           : #ddd,
    'button-border-radius'                   : 3px,
    'button-border-width'                    : 1px,
    'button-glyph-color'                     : #1c60a0,
    'button-glyph-color-disabled'            : #1c60a0,
    'button-hover-background-color'          : #fff,
    'button-hover-border-color'              : #1c60a0,
    'button-hover-color'                     : #bbb,
    'button-margin'                          : 2px,
    'button-opacity-disabled'                : #{neo(neo-disabled-opacity)},
    'button-outline-active'                  : none,
    'button-padding'                         : 5px 12px 5px 12px,
    'button-pressed-border-color'            : #1c60a0,
    'button-ripple-background-color'         : lighten(#1c60a0, 50%),
    'button-text-color'                      : #1c60a0,
    'button-text-color-disabled'             : #1c60a0,
    'button-text-font-family'                : #{neo(neo-font-family)},
    'button-text-font-size'                  : 11px,
    'button-text-font-weight'                : 600,
    'button-text-line-height'                : 11px,
    'button-text-transform'                  : uppercase,
    'button-use-gradients'                   : false,
    // {module: Button, ui: 'secondary'}
    'button-secondary-background-color'      : var(--button-text-color),
    'button-secondary-background-image'      : none,
    'button-secondary-badge-background-color': var(--button-badge-color),
    'button-secondary-badge-color'           : var(--button-badge-background-color),
    'button-secondary-border-width'          : var(--button-border-width),
    'button-secondary-glyph-color'           : var(--button-background-color),
    'button-secondary-text-color'            : var(--button-background-color),
    // {module: Button, ui: 'tertiary'}
    'button-tertiary-background-color'       : transparent,
    'button-tertiary-background-image'       : none,
    'button-tertiary-badge-background-color' : var(--button-badge-background-color),
    'button-tertiary-badge-color'            : var(--button-badge-color),
    'button-tertiary-border-width'           : 0,
    'button-tertiary-glyph-color'            : var(--button-glyph-color),
    'button-tertiary-text-color'             : var(--button-text-color)
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-button
        --button-active-background-color         : #{neo(button-active-background-color)};
        --button-active-border-color             : #{neo(button-active-border-color)};
        --button-active-color                    : #{neo(button-active-color)};
        --button-background-color                : #{neo(button-background-color)};
        --button-background-color-disabled       : #{neo(button-background-color-disabled)};
        --button-background-image                : #{neo(button-background-image)};
        --button-background-gradient-end         : #{neo(button-background-gradient-end)};
        --button-background-gradient-start       : #{neo(button-background-gradient-start)};
        --button-badge-background-color          : #{neo(button-badge-background-color)};
        --button-badge-color                     : #{neo(button-badge-color)};
        --button-badge-margin-left               : #{neo(button-badge-margin-left)};
        --button-badge-margin-top                : #{neo(button-badge-margin-top)};
        --button-border-color                    : #{neo(button-border-color)};
        --button-border-color-disabled           : #{neo(button-border-color-disabled)};
        --button-border-radius                   : #{neo(button-border-radius)};
        --button-border-width                    : #{neo(button-border-width)};
        --button-glyph-color                     : #{neo(button-glyph-color)};
        --button-glyph-color-disabled            : #{neo(button-glyph-color-disabled)};
        --button-hover-background-color          : #{neo(button-hover-background-color)};
        --button-hover-border-color              : #{neo(button-hover-border-color)};
        --button-hover-color                     : #{neo(button-hover-color)};
        --button-margin                          : #{neo(button-margin)};
        --button-opacity-disabled                : #{neo(button-opacity-disabled)};
        --button-outline-active                  : #{neo(button-outline-active)};
        --button-padding                         : #{neo(button-padding)};
        --button-pressed-border-color            : #{neo(button-pressed-border-color)};
        --button-ripple-background-color         : #{neo(button-ripple-background-color)};
        --button-text-color                      : #{neo(button-text-color)};
        --button-text-color-disabled             : #{neo(button-text-color-disabled)};
        --button-text-font-family                : #{neo(button-text-font-family)};
        --button-text-font-size                  : #{neo(button-text-font-size)};
        --button-text-font-weight                : #{neo(button-text-font-weight)};
        --button-text-line-height                : #{neo(button-text-line-height)};
        --button-text-transform                  : #{neo(button-text-transform)};
        --button-use-gradients                   : #{neo(button-use-gradients)};

        --button-secondary-background-color      : #{neo(button-secondary-background-color)};
        --button-secondary-background-image      : #{neo(button-secondary-background-image)};
        --button-secondary-badge-background-color: #{neo(button-secondary-badge-background-color)};
        --button-secondary-badge-color           : #{neo(button-secondary-badge-color)};
        --button-secondary-border-width          : #{neo(button-secondary-border-width)};
        --button-secondary-glyph-color           : #{neo(button-secondary-glyph-color)};
        --button-secondary-text-color            : #{neo(button-secondary-text-color)};

        --button-tertiary-background-color       : #{neo(button-tertiary-background-color)};
        --button-tertiary-background-image       : #{neo(button-tertiary-background-image)};
        --button-tertiary-badge-background-color : #{neo(button-tertiary-badge-background-color)};
        --button-tertiary-badge-color            : #{neo(button-tertiary-badge-color)};
        --button-tertiary-border-width           : #{neo(button-tertiary-border-width)};
        --button-tertiary-glyph-color            : #{neo(button-tertiary-glyph-color)};
        --button-tertiary-text-color             : #{neo(button-tertiary-text-color)};
    }
}
