:root .neo-theme-neo-dark {
    --portal-discussion-tree-state-answered-bg : #a371f7;
    --portal-discussion-tree-state-closed-bg   : #a371f7;
    --portal-discussion-tree-state-icon-color  : #ffffff;
    --portal-discussion-tree-state-open-bg     : #3fb950;
}
