$neoMap: map-merge($neoMap, (
    'c-y-cell-color'            : #555,
    'c-y-month-color'           : #555,
    'c-y-today-background-color': red,
    'c-y-today-color'           : #fff,
    'c-y-week-background-color' : #f2f2f2,
    'c-y-week-color'            : #555,
    'c-y-year-color'            : #1c60a0
));

@if $useCss4Vars == true {
    :root .neo-theme-light { // .neo-calendar-yearcomponent
        --c-y-cell-color            : #{neo(c-y-cell-color)};
        --c-y-month-color           : #{neo(c-y-month-color)};
        --c-y-today-background-color: #{neo(c-y-today-background-color)};
        --c-y-today-color           : #{neo(c-y-today-color)};
        --c-y-week-background-color : #{neo(c-y-week-background-color)};
        --c-y-week-color            : #{neo(c-y-week-color)};
        --c-y-year-color            : #{neo(c-y-year-color)};
    }
}