$neoMap: map-merge($neoMap, (
    --calendar-edit-event-background-color: #fff;
    --calendar-edit-event-border-color    : #1c60a0;
    --calendar-edit-event-box-shadow      : 0 5px 10px rgba(0,0,0,.4)
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-calendar-edit-event-container
        --calendar-edit-event-background-color: #{neo(calendar-edit-event-background-color)};
        --calendar-edit-event-border-color    : #{neo(calendar-edit-event-border-color)};
        --calendar-edit-event-box-shadow      : #{neo(calendar-edit-event-box-shadow)};
    }
}
