:root .neo-theme-dark { // .neo-fieldset
    --fieldset-background-color : --#2b2b2b;
    --fieldset-border           : 1px solid #424242;
    --fieldset-legend-color     : #bbb;
    --fieldset-legend-icon-color: #64B5F6;
}
