.neo-examples-calendar-maincontainer {
    .neo-header {
        align-items     : center;
        background-color: var(--examples-calendar-basic-header-background-color);
        color           : var(--examples-calendar-basic-header-color);
        display         : flex;
        padding         : 0 10px;

        .fa {
            font-size   : 18px;
            margin-right: 5px;
        }
    }
}
