$neoMap: map-merge($neoMap, (
    'dialog-border-color': #3c3f41,
    'dialog-header-color': floralwhite,
    'dialog-icon-color'  : floralwhite
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .neo-dialog
        --dialog-border-color: #{neo(dialog-border-color)};
        --dialog-header-color: #{neo(dialog-header-color)};
        --dialog-icon-color  : #{neo(dialog-icon-color)};
    }
}