:root .neo-theme-dark { // .neo-dialog
    --dialog-border-color                : #3c3f41;
    --dialog-box-shadow                  : 0 5px 10px rgba(0,0,0,.4);
    --dialog-footer-button-border-radius: var(--button-border-radius);
    --dialog-footer-button-height       : var(--button-height);
    --dialog-footer-button-margin-left  : 0;
    --dialog-header-color                : floralwhite;
    --dialog-icon-color                  : floralwhite;
}
