:root .neo-theme-dark { // .neo-dialog
    --dialog-border-color: #3c3f41;
    --dialog-box-shadow  : 0 5px 10px rgba(0,0,0,.4);
    --dialog-header-color: floralwhite;
    --dialog-icon-color  : floralwhite;
}
