$neoMap: map-merge($neoMap, (
        'toast-background-color'   : #083741,
        'toast-color'              : lightblue,
        'toast-shadow-color'        : rgba(255, 255, 255, 0.15)
));

@if $useCssVars == true {
  :root .neo-theme-dark { // .neo-button
    --toast-background-color  : #{neo(toast-background-color)};
    --toast-color             : #{neo(toast-color)};
    --toast-shadow-color      : #{neo(toast-shadow-color)};
  }
}
