:root .neo-theme-neo-dark {
    --devindex-tab-indicator-bg    : var(--sem-color-surface-primary-default);
    --devindex-tab-text-color      : var(--sem-color-text-neutral-contrast);
    --devindex-tab-text-color-pressed: var(--sem-color-text-primary-default);
    --devindex-tab-toolbar-bg      : var(--sem-color-surface-primary-background);
}
