:root .neo-theme-neo-light {
    --portal-treelist-bold-color        : inherit;
    --portal-treelist-meta-color        : rgba(0, 0, 0, 0.8);
    --portal-treelist-ticket-title-color: rgba(0, 0, 0, 0.8);
}