:root .neo-theme-neo-light {
    .neo-grid-footer-toolbar {
        --grid-footer-toolbar-background-color: #5d83a7;
        --grid-footer-toolbar-color           : #fff;
        --grid-footer-toolbar-padding         : 4px 10px;
    }
}
