.portal-release-maincontainer {
    .sidenav-container {
        min-width: 250px;
        width    : 250px;
    }

    @media (max-width: 640px) {
        .sidenav-container {
            left: -250px;
        }
    }
}
