$neoMap: map-merge($neoMap, (
    'button-background-color'                 : #3c3f41,
    'button-background-color-active'          : #373a3c,
    'button-background-color-disabled'        : #3c3f41,
    'button-background-color-hover'           : #3a3c3e,
    'button-background-image'                 : linear-gradient(#434749, #323536),
    'button-background-gradient-end'          : #323536,
    'button-background-gradient-start'        : #434749,
    'button-badge-background-color'           : #64b5f6,
    'button-badge-color'                      : #282828,
    'button-badge-margin-left'                : -10px,
    'button-badge-margin-top'                 : -10px,
    'button-border-color'                     : #2b2b2b,
    'button-border-color-active'              : #282828,
    'button-border-color-disabled'            : #2b2b2b,
    'button-border-color-hover'               : #292929,
    'button-border-radius'                    : 0,
    'button-border-width'                     : 1px,
    'button-glyph-color'                      : #bbb,
    'button-glyph-color-active'               : #bbb,
    'button-glyph-color-disabled'             : #bbb,
    'button-glyph-color-hover'                : #bbb,
    'button-height'                           : inherit,
    'button-margin'                           : 2px,
    'button-opacity-disabled'                 : #{neo(neo-disabled-opacity)},
    'button-outline-active'                   : none,
    'button-padding'                          : 5px 12px 5px 12px,
    'button-pressed-border-color'             : #5d83a7,
    'button-ripple-background-color'          : darken(#5d83a7, 10%),
    'button-text-color'                       : #bbb,
    'button-text-color-active'                : #bbb,
    'button-text-color-disabled'              : #bbb,
    'button-text-color-hover'                 : #bbb,
    'button-text-font-family'                 : #{neo(neo-font-family)},
    'button-text-font-size'                   : 11px,
    'button-text-font-weight'                 : 600,
    'button-text-line-height'                 : 11px,
    'button-text-transform'                   : none,
    'button-use-gradients'                    : true,

    // {module: Button, ui: 'secondary'}
    'button-secondary-background-color'       : var(--button-text-color),
    'button-secondary-background-color-active': #373a3c,
    'button-secondary-background-color-hover' : var(--button-text-color),
    'button-secondary-background-image'       : none,
    'button-secondary-badge-background-color' : var(--button-badge-color),
    'button-secondary-badge-color'            : var(--button-badge-background-color),
    'button-secondary-border-color'           : var(--button-background-color),
    'button-secondary-border-color-active'    : #282828,
    'button-secondary-border-color-hover'     : #292929,
    'button-secondary-border-width'           : var(--button-border-width),
    'button-secondary-glyph-color'            : var(--button-background-color),
    'button-secondary-glyph-color-active'     : var(--button-background-color),
    'button-secondary-glyph-color-hover'      : var(--button-background-color),
    'button-secondary-text-color'             : var(--button-background-color),
    'button-secondary-text-color-active'      : var(--button-background-color),

    // {module: Button, ui: 'tertiary'}
    'button-tertiary-background-color'        : transparent,
    'button-tertiary-background-color-active' : #373a3c,
    'button-tertiary-background-color-hover'  : v(button-background-color-hover),
    'button-tertiary-background-image'        : none,
    'button-tertiary-badge-background-color'  : var(--button-badge-background-color),
    'button-tertiary-badge-color'             : var(--button-badge-color),
    'button-tertiary-border-color'            : var(--button-border-color),
    'button-tertiary-border-color-active'     : #282828,
    'button-tertiary-border-color-hover'      : #292929,
    'button-tertiary-border-width'            : 0,
    'button-tertiary-glyph-color'             : var(--button-glyph-color),
    'button-tertiary-glyph-color-active'      : var(--button-glyph-color),
    'button-tertiary-glyph-color-hover'       : var(--button-glyph-color),
    'button-tertiary-text-color'              : var(--button-text-color),
    'button-tertiary-text-color-active'       : var(--button-text-color)
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-button
        --button-background-color                 : #{neo(button-background-color)};
        --button-background-color-active          : #{neo(button-background-color-active)};
        --button-background-color-disabled        : #{neo(button-background-color-disabled)};
        --button-background-color-hover           : #{neo(button-background-color-hover)};
        --button-background-image                 : #{neo(button-background-image)};
        --button-background-gradient-end          : #{neo(button-background-gradient-end)};
        --button-background-gradient-start        : #{neo(button-background-gradient-start)};
        --button-badge-background-color           : #{neo(button-badge-background-color)};
        --button-badge-color                      : #{neo(button-badge-color)};
        --button-badge-margin-left                : #{neo(button-badge-margin-left)};
        --button-badge-margin-top                 : #{neo(button-badge-margin-top)};
        --button-border-color                     : #{neo(button-border-color)};
        --button-border-color-active              : #{neo(button-border-color-active)};
        --button-border-color-disabled            : #{neo(button-border-color-disabled)};
        --button-border-color-hover               : #{neo(button-border-color-hover)};
        --button-border-radius                    : #{neo(button-border-radius)};
        --button-border-width                     : #{neo(button-border-width)};
        --button-glyph-color                      : #{neo(button-glyph-color)};
        --button-glyph-color-active               : #{neo(button-glyph-color-active)};
        --button-glyph-color-disabled             : #{neo(button-glyph-color-disabled)};
        --button-height                           : #{neo(button-height)};
        --button-margin                           : #{neo(button-margin)};
        --button-opacity-disabled                 : #{neo(button-opacity-disabled)};
        --button-outline-active                   : #{neo(button-outline-active)};
        --button-padding                          : #{neo(button-padding)};
        --button-pressed-border-color             : #{neo(button-pressed-border-color)};
        --button-ripple-background-color          : #{neo(button-ripple-background-color)};
        --button-text-color                       : #{neo(button-text-color)};
        --button-text-color-active                : #{neo(button-text-color-active)};
        --button-text-color-disabled              : #{neo(button-text-color-disabled)};
        --button-text-color-hover                 : #{neo(button-text-color-hover)};
        --button-text-font-family                 : #{neo(button-text-font-family)};
        --button-text-font-size                   : #{neo(button-text-font-size)};
        --button-text-font-weight                 : #{neo(button-text-font-weight)};
        --button-text-line-height                 : #{neo(button-text-line-height)};
        --button-text-transform                   : #{neo(button-text-transform)};
        --button-use-gradients                    : #{neo(button-use-gradients)};

        --button-secondary-background-color       : #{neo(button-secondary-background-color)};
        --button-secondary-background-color-active: #{neo(button-secondary-background-color-active)};
        --button-secondary-background-color-hover : #{neo(button-secondary-background-color-hover)};
        --button-secondary-background-image       : #{neo(button-secondary-background-image)};
        --button-secondary-badge-background-color : #{neo(button-secondary-badge-background-color)};
        --button-secondary-badge-color            : #{neo(button-secondary-badge-color)};
        --button-secondary-border-color           : #{neo(button-secondary-border-color)};
        --button-secondary-border-color-active    : #{neo(button-secondary-border-color-active)};
        --button-secondary-border-width           : #{neo(button-secondary-border-width)};
        --button-secondary-glyph-color            : #{neo(button-secondary-glyph-color)};
        --button-secondary-glyph-color-active     : #{neo(button-secondary-glyph-color-active)};
        --button-secondary-text-color             : #{neo(button-secondary-text-color)};
        --button-secondary-text-color-active      : #{neo(button-secondary-text-color-active)};

        --button-tertiary-background-color        : #{neo(button-tertiary-background-color)};
        --button-tertiary-background-color-active : #{neo(button-tertiary-background-color-active)};
        --button-tertiary-background-color-hover  : #{neo(button-tertiary-background-color-hover)};
        --button-tertiary-background-image        : #{neo(button-tertiary-background-image)};
        --button-tertiary-badge-background-color  : #{neo(button-tertiary-badge-background-color)};
        --button-tertiary-badge-color             : #{neo(button-tertiary-badge-color)};
        --button-tertiary-border-color            : #{neo(button-tertiary-border-color)};
        --button-tertiary-border-color-active     : #{neo(button-tertiary-border-color-active)};
        --button-tertiary-border-width            : #{neo(button-tertiary-border-width)};
        --button-tertiary-glyph-color             : #{neo(button-tertiary-glyph-color)};
        --button-tertiary-glyph-color-active      : #{neo(button-tertiary-glyph-color-active)};
        --button-tertiary-text-color              : #{neo(button-tertiary-text-color)};
        --button-tertiary-text-color-active       : #{neo(button-tertiary-text-color-active)};
    }
}
