$background-color: #3c3f41;
$border-color    : #2b2b2b;
$border-style    : solid;
$border-width    : 1px;
$text-color      : #bbb;

$neoMap: map-merge($neoMap, (
    --button-background-color                   : $background-color;
    --button-background-color-active            : #373a3c;
    --button-background-color-disabled          : $background-color;
    --button-background-color-hover             : #3a3c3e;
    --button-background-image                   : linear-gradient(#434749, #323536);
    --button-background-gradient-end            : #323536;
    --button-background-gradient-start          : #434749;
    --button-badge-background-color             : #64b5f6;
    --button-badge-color                        : #282828;
    --button-badge-margin-left                  : -10px;
    --button-badge-margin-top                   : -10px;
    --button-border                             : 1px $border-style $border-color;
    --button-border-active                      : 1px $border-style #282828;
    --button-border-disabled                    : 1px $border-style $border-color;
    --button-border-hover                       : 1px $border-style #292929;
    --button-border-pressed                     : 1px $border-style #5d83a7;
    --button-border-radius                      : 0;
    --button-border-width                       : 1px;
    --button-glyph-color                        : $text-color;
    --button-glyph-color-active                 : $text-color;
    --button-glyph-color-disabled               : $text-color;
    --button-glyph-color-hover                  : $text-color;
    --button-height                             : inherit;
    --button-margin                             : 2px;
    --button-opacity-disabled                   : #{neo(neo-disabled-opacity)};
    --button-outline-active                     : none;
    --button-padding                            : 5px 12px 5px 12px;
    --button-ripple-background-color            : darken(#5d83a7, 10%);
    --button-text-color                         : $text-color;
    --button-text-color-active                  : $text-color;
    --button-text-color-disabled                : $text-color;
    --button-text-color-hover                   : $text-color;
    --button-text-font-family                   : #{neo(neo-font-family)};
    --button-text-font-size                     : 11px;
    --button-text-font-weight                   : 600;
    --button-text-line-height                   : 11px;
    --button-text-transform                     : none;
    --button-use-gradients                      : true;

    // {module: Button, ui: --ghost}
    --button-ghost-background-color             : var(--button-text-color);
    --button-ghost-background-color-active      : #373a3c;
    --button-ghost-background-color-disabled    : inherit;
    --button-ghost-background-color-hover       : var(--button-text-color);
    --button-ghost-background-image             : none;
    --button-ghost-badge-background-color       : var(--button-badge-color);
    --button-ghost-badge-color                  : var(--button-badge-background-color);
    --button-ghost-border                       : 1px $border-style var(--button-background-color);
    --button-ghost-border-active                : 1px $border-style #282828;
    --button-ghost-border-disabled              : inherit;
    --button-ghost-border-hover                 : 1px $border-style #282828;
    --button-ghost-border-pressed               : 1px $border-style #5d83a7;
    --button-ghost-glyph-color                  : var(--button-background-color);
    --button-ghost-glyph-color-active           : var(--button-background-color);
    --button-ghost-glyph-color-disabled         : inherit;
    --button-ghost-glyph-color-hover            : var(--button-background-color);
    --button-ghost-opacity-disabled             : var(--neo-disabled-opacity);
    --button-ghost-ripple-background-color      : inherit;
    --button-ghost-text-color                   : var(--button-background-color);
    --button-ghost-text-color-active            : var(--button-background-color);
    --button-ghost-text-color-disabled          : inherit;
    --button-ghost-text-color-hover             : var(--button-background-color);

    // {module: Button, ui: --secondary}
    --button-secondary-background-color         : var(--button-text-color);
    --button-secondary-background-color-active  : #373a3c;
    --button-secondary-background-color-disabled: inherit;
    --button-secondary-background-color-hover   : var(--button-text-color);
    --button-secondary-background-image         : none;
    --button-secondary-badge-background-color   : var(--button-badge-color);
    --button-secondary-badge-color              : var(--button-badge-background-color);
    --button-secondary-border                   : 1px $border-style var(--button-background-color);
    --button-secondary-border-active            : 1px $border-style #282828;
    --button-secondary-border-disabled          : inherit;
    --button-secondary-border-hover             : 1px $border-style #292929;
    --button-secondary-border-pressed           : 1px $border-style #5d83a7;
    --button-secondary-glyph-color              : var(--button-background-color);
    --button-secondary-glyph-color-active       : var(--button-background-color);
    --button-secondary-glyph-color-disabled     : inherit;
    --button-secondary-glyph-color-hover        : var(--button-background-color);
    --button-secondary-opacity-disabled         : var(--neo-disabled-opacity);
    --button-secondary-ripple-background-color  : inherit;
    --button-secondary-text-color               : var(--button-background-color);
    --button-secondary-text-color-active        : var(--button-background-color);
    --button-secondary-text-color-disabled      : inherit;
    --button-secondary-text-color-hover         : var(--button-background-color);

    // {module: Button, ui: --tertiary}
    --button-tertiary-background-color          : transparent;
    --button-tertiary-background-color-active   : #373a3c;
    --button-tertiary-background-color-disabled : inherit;
    --button-tertiary-background-color-hover    : var(--button-background-color-hover);
    --button-tertiary-background-image          : none;
    --button-tertiary-badge-background-color    : var(--button-badge-background-color);
    --button-tertiary-badge-color               : var(--button-badge-color);
    --button-tertiary-border                    : 1px $border-style transparent;
    --button-tertiary-border-active             : 1px $border-style #282828;
    --button-tertiary-border-disabled           : inherit;
    --button-tertiary-border-hover              : 1px $border-style #292929;
    --button-tertiary-border-pressed            : 1px $border-style #5d83a7;
    --button-tertiary-glyph-color               : var(--button-glyph-color);
    --button-tertiary-glyph-color-active        : var(--button-glyph-color);
    --button-tertiary-glyph-color-disabled      : inherit;
    --button-tertiary-glyph-color-hover         : var(--button-glyph-color);
    --button-tertiary-opacity-disabled          : var(--neo-disabled-opacity);
    --button-tertiary-ripple-background-color   : inherit;
    --button-tertiary-text-color                : var(--button-text-color);
    --button-tertiary-text-color-active         : var(--button-text-color);
    --button-tertiary-text-color-disabled       : inherit;
    --button-tertiary-text-color-hover          : var(--button-text-color)
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-button
        --button-background-color                   : #{neo(button-background-color)};
        --button-background-color-active            : #{neo(button-background-color-active)};
        --button-background-color-disabled          : #{neo(button-background-color-disabled)};
        --button-background-color-hover             : #{neo(button-background-color-hover)};
        --button-background-image                   : #{neo(button-background-image)};
        --button-background-gradient-end            : #{neo(button-background-gradient-end)};
        --button-background-gradient-start          : #{neo(button-background-gradient-start)};
        --button-badge-background-color             : #{neo(button-badge-background-color)};
        --button-badge-color                        : #{neo(button-badge-color)};
        --button-badge-margin-left                  : #{neo(button-badge-margin-left)};
        --button-badge-margin-top                   : #{neo(button-badge-margin-top)};
        --button-border                             : #{neo(button-border)};
        --button-border-active                      : #{neo(button-border-active)};
        --button-border-disabled                    : #{neo(button-border-disabled)};
        --button-border-hover                       : #{neo(button-border-hover)};
        --button-border-pressed                     : #{neo(button-border-pressed)};
        --button-border-radius                      : #{neo(button-border-radius)};
        --button-glyph-color                        : #{neo(button-glyph-color)};
        --button-glyph-color-active                 : #{neo(button-glyph-color-active)};
        --button-glyph-color-disabled               : #{neo(button-glyph-color-disabled)};
        --button-glyph-color-hover                  : #{neo(button-glyph-color-hover)};
        --button-height                             : #{neo(button-height)};
        --button-margin                             : #{neo(button-margin)};
        --button-opacity-disabled                   : #{neo(button-opacity-disabled)};
        --button-outline-active                     : #{neo(button-outline-active)};
        --button-padding                            : #{neo(button-padding)};
        --button-ripple-background-color            : #{neo(button-ripple-background-color)};
        --button-text-color                         : #{neo(button-text-color)};
        --button-text-color-active                  : #{neo(button-text-color-active)};
        --button-text-color-disabled                : #{neo(button-text-color-disabled)};
        --button-text-color-hover                   : #{neo(button-text-color-hover)};
        --button-text-font-family                   : #{neo(button-text-font-family)};
        --button-text-font-size                     : #{neo(button-text-font-size)};
        --button-text-font-weight                   : #{neo(button-text-font-weight)};
        --button-text-line-height                   : #{neo(button-text-line-height)};
        --button-text-transform                     : #{neo(button-text-transform)};
        --button-use-gradients                      : #{neo(button-use-gradients)};

        --button-ghost-background-color             : #{neo(button-ghost-background-color)};
        --button-ghost-background-color-active      : #{neo(button-ghost-background-color-active)};
        --button-ghost-background-color-disabled    : #{neo(button-ghost-background-color-disabled)};
        --button-ghost-background-color-hover       : #{neo(button-ghost-background-color-hover)};
        --button-ghost-background-image             : #{neo(button-ghost-background-image)};
        --button-ghost-badge-background-color       : #{neo(button-ghost-badge-background-color)};
        --button-ghost-badge-color                  : #{neo(button-ghost-badge-color)};
        --button-ghost-border                       : #{neo(button-ghost-border)};
        --button-ghost-border-active                : #{neo(button-ghost-border-active)};
        --button-ghost-border-disabled              : #{neo(button-ghost-border-disabled)};
        --button-ghost-border-hover                 : #{neo(button-ghost-border-hover)};
        --button-ghost-border-pressed               : #{neo(button-ghost-border-pressed)};
        --button-ghost-glyph-color                  : #{neo(button-ghost-glyph-color)};
        --button-ghost-glyph-color-active           : #{neo(button-ghost-glyph-color-active)};
        --button-ghost-glyph-color-disabled         : #{neo(button-ghost-glyph-color-disabled)};
        --button-ghost-glyph-color-hover            : #{neo(button-ghost-glyph-color-hover)};
        --button-ghost-opacity-disabled             : #{neo(button-ghost-opacity-disabled)};
        --button-ghost-ripple-background-color      : #{neo(button-ghost-ripple-background-color)};
        --button-ghost-text-color                   : #{neo(button-ghost-text-color)};
        --button-ghost-text-color-active            : #{neo(button-ghost-text-color-active)};
        --button-ghost-text-color-disabled          : #{neo(button-ghost-text-color-disabled)};
        --button-ghost-text-color-hover             : #{neo(button-ghost-text-color-hover)};

        --button-secondary-background-color         : #{neo(button-secondary-background-color)};
        --button-secondary-background-color-active  : #{neo(button-secondary-background-color-active)};
        --button-secondary-background-color-disabled: #{neo(button-secondary-background-color-disabled)};
        --button-secondary-background-color-hover   : #{neo(button-secondary-background-color-hover)};
        --button-secondary-background-image         : #{neo(button-secondary-background-image)};
        --button-secondary-badge-background-color   : #{neo(button-secondary-badge-background-color)};
        --button-secondary-badge-color              : #{neo(button-secondary-badge-color)};
        --button-secondary-border                   : #{neo(button-secondary-border)};
        --button-secondary-border-active            : #{neo(button-secondary-border-active)};
        --button-secondary-border-disabled          : #{neo(button-secondary-border-disabled)};
        --button-secondary-border-hover             : #{neo(button-secondary-border-hover)};
        --button-secondary-border-pressed           : #{neo(button-secondary-border-pressed)};
        --button-secondary-glyph-color              : #{neo(button-secondary-glyph-color)};
        --button-secondary-glyph-color-active       : #{neo(button-secondary-glyph-color-active)};
        --button-secondary-glyph-color-disabled     : #{neo(button-secondary-glyph-color-disabled)};
        --button-secondary-glyph-color-hover        : #{neo(button-secondary-glyph-color-hover)};
        --button-secondary-opacity-disabled         : #{neo(button-secondary-opacity-disabled)};
        --button-secondary-ripple-background-color  : #{neo(button-secondary-ripple-background-color)};
        --button-secondary-text-color               : #{neo(button-secondary-text-color)};
        --button-secondary-text-color-active        : #{neo(button-secondary-text-color-active)};
        --button-secondary-text-color-disabled      : #{neo(button-secondary-text-color-disabled)};
        --button-secondary-text-color-hover         : #{neo(button-secondary-text-color-hover)};

        --button-tertiary-background-color          : #{neo(button-tertiary-background-color)};
        --button-tertiary-background-color-active   : #{neo(button-tertiary-background-color-active)};
        --button-tertiary-background-color-disabled : #{neo(button-tertiary-background-color-hover)};
        --button-tertiary-background-color-hover    : #{neo(button-tertiary-background-color-hover)};
        --button-tertiary-background-image          : #{neo(button-tertiary-background-image)};
        --button-tertiary-badge-background-color    : #{neo(button-tertiary-badge-background-color)};
        --button-tertiary-badge-color               : #{neo(button-tertiary-badge-color)};
        --button-tertiary-border                    : #{neo(button-tertiary-border)};
        --button-tertiary-border-active             : #{neo(button-tertiary-border-active)};
        --button-tertiary-border-disabled           : #{neo(button-tertiary-border-disabled)};
        --button-tertiary-border-hover              : #{neo(button-tertiary-border-hover)};
        --button-tertiary-border-pressed            : #{neo(button-tertiary-border-pressed)};
        --button-tertiary-glyph-color               : #{neo(button-tertiary-glyph-color)};
        --button-tertiary-glyph-color-active        : #{neo(button-tertiary-glyph-color-active)};
        --button-tertiary-glyph-color-disabled      : #{neo(button-tertiary-glyph-color-disabled)};
        --button-tertiary-glyph-color-hover         : #{neo(button-tertiary-glyph-color-hover)};
        --button-tertiary-opacity-disabled          : #{neo(button-tertiary-opacity-disabled)};
        --button-tertiary-ripple-background-color   : #{neo(button-tertiary-ripple-background-color)};
        --button-tertiary-text-color                : #{neo(button-tertiary-text-color)};
        --button-tertiary-text-color-active         : #{neo(button-tertiary-text-color-active)};
        --button-tertiary-text-color-disabled       : #{neo(button-tertiary-text-color-disabled)};
        --button-tertiary-text-color-hover          : #{neo(button-tertiary-text-color-hover)};
    }
}
