.neo-grid-header-button {
    background-color: #323232;
    border-width    : 0;
    box-sizing      : border-box;
    color           : #bbb;
    cursor          : pointer;
    font-size       : 13px;
    font-weight     : 600;
    margin          : 0;
    padding         : 7px 10px 6px;
    text-align      : left;
    white-space     : nowrap;
    width           : 100%;

    background-image: linear-gradient(#3c3f41, #323232);
}