:root .neo-theme-neo-dark { // .neo-viewport
    --portal-bg-main            : var(--sem-color-bg-neutral-default);
    --portal-headline-primary   : var(--sem-color-text-primary-default);
    --portal-scrollbar-thumb    : var(--sem-color-surface-primary-default);
    --portal-scrollbar-track    : var(--sem-color-bg-neutral-hover);
    --portal-transition-duration: 300ms;
}