@use "sass:color";

:root .neo-theme-neo-dark { // .neo-grid-body
    --grid-cell-background-color-hover                    : var(--purple-900);
    --grid-cell-ismodified-color                          : orange;
    --grid-cell-ismodified-size                           : 10px;
    --grid-cellmodel-selected-cell-background-color       : var(--purple-600);
    --grid-cellmodel-selected-cell-color                  : var(--sem-color-text-neutral-contrast);
    --grid-cellmodel-selected-column-cell-background-color: var(--purple-700);
    --grid-cellmodel-selected-column-cell-color           : var(--sem-color-text-neutral-contrast);
    --grid-cellrowmodel-selected-cell-background-color    : var(--purple-600);
    --grid-cellrowmodel-selected-cell-color               : var(--sem-color-text-neutral-contrast);
    --grid-cellrowmodel-selected-row-cell-background-color: var(--purple-700);
    --grid-cellrowmodel-selected-row-cell-color           : var(--sem-color-text-neutral-contrast);
    --grid-rowmodel-selected-cell-background-color        : var(--purple-600);
    --grid-rowmodel-selected-cell-color                   : var(--sem-color-text-neutral-contrast);
}