:root .neo-theme-neo-dark { // .neo-grid-container
    --grid-container-border-color              : var(--purple-800);
    --grid-container-cell-background-color     : var(--sem-color-surface-neutral-default);
    --grid-container-cell-background-color-even: var(--purple-950);
    --grid-container-color                     : var(--sem-color-text-neutral-default);
    --grid-container-font-size                 : 13px;
    --grid-container-header-cell-border-bottom : 1px solid var(--purple-800);
}