:root .neo-theme-neo-light { // .portal-services-component
    --portal-services-card-hover-border: rgba(62, 99, 221, 0.4);
    --portal-services-card-hover-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    --portal-services-glass-background : rgba(255, 255, 255, 0.6);
    --portal-services-glass-border     : 1px solid rgba(255, 255, 255, 0.2);
    --portal-services-glass-shadow     : 0 4px 30px rgba(0, 0, 0, 0.05);
    --portal-services-headline-shadow  : 0 0 20px rgba(62, 99, 221, 0.3);
    --portal-services-link-color       : #3E63DD;
    --portal-services-link-hover-color : #8BA6FF;
    --portal-services-text-opacity     : 0.85;
}
