:root .neo-theme-neo-light { // .neo-calendar-edit-event-container
    --calendar-edit-event-background-color: #fff;
    --calendar-edit-event-border-color    : #1c60a0;
    --calendar-edit-event-box-shadow      : 0 5px 10px rgba(0,0,0,.4);
}
