:root .neo-theme-neo-light { // .neo-calendar-yearcomponent
    --c-y-cell-border-color     : #ddd;
    --c-y-cell-color            : #555;
    --c-y-month-color           : #555;
    --c-y-today-background-color: red;
    --c-y-today-color           : #fff;
    --c-y-week-background-color : #f2f2f2;
    --c-y-week-color            : #555;
    --c-y-year-color            : #1c60a0;
}
