$neoMap: map-merge($neoMap, (
    'neo-background-color': #323232,
    'neo-color'           : #bbb,
    'neo-disabled-opacity': 0.5,
    'neo-font-family'     : '"Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif',
    'neo-font-smoothing'  : antialiased
));

@if $useCssVars == true {
    :root .neo-theme-dark {
        --neo-background-color: #{neo(neo-background-color)};
        --neo-color           : #{neo(neo-color)};
        --neo-disabled-opacity: #{neo(neo-disabled-opacity)};
        --neo-font-family     : #{neo(neo-font-family)};
        --neo-font-smoothing  : #{neo(neo-font-smoothing)};
    }
}