:root .neo-theme-light { // .neo-calendar-edit-container
    --calendar-edit-calendar-background-color: #fff;
    --calendar-edit-calendar-border-color    : #1c60a0;
    --calendar-edit-calendar-box-shadow      : 0 5px 10px rgba(0,0,0,.4);
}
