$neoMap: map-merge($neoMap, (
    --calendars-list-edit-icon-color: #1c60a0
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-calendars-list
        --calendars-list-edit-icon-color: #{neo(calendars-list-edit-icon-color)};
    }
}
