:root .neo-theme-neo-light { // .neo-menu-list
    --menu-list-background-color              : #fff;
    --menu-list-border-color                  : #1c60a0;
    --menu-list-item-background-color         : inherit;
    --menu-list-item-background-color-disabled: inherit;
    --menu-list-item-background-color-hover   : inherit;
    --menu-list-item-background-color-selected: inherit;
    --menu-list-item-color                    : inherit;
    --menu-list-item-font-family              : inherit;
    --menu-list-item-font-weight              : inherit;
    --menu-list-item-icon-color               : #1c60a0;
    --menu-list-item-icon-color-disabled      : #1c60a0;
    --menu-list-item-icon-color-selected      : #1c60a0;
    --menu-list-item-icon-gap                 : .4em;
    --menu-list-item-height                   : inherit;
    --menu-list-item-line-height              : inherit;
    --menu-list-item-opacity-disabled         : inherit;
    --menu-list-item-outline-focus            : none;
    --menu-list-item-padding                  : 5px;
    --menu-list-item-text-transform           : inherit;
}
