.portal-news-tickets-component {
    .neo-ticket-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 20px;

        .neo-badge {
            align-items: center;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 2em;
            display: inline-flex;
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            padding: 0 10px;
            text-transform: capitalize;

            // Default fallback
            background-color: #eff1f3;
            color: #24292f;
        }
    }
}
