.devrank-grid-container {
    border-radius: 8px;

    .devrank-sparkline-wrapper {
        height: 100%;
        position: relative;
        width: 100%;

        .devrank-sparkline-canvas {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .neo-grid-body .neo-grid-row .neo-grid-cell {
        &.heatmap-cell-0 {
            background-color: var(--heatmap-bg-0);
            color           : var(--heatmap-text-0);
        }

        &.heatmap-cell-1 {
            background-color: var(--heatmap-bg-1);
            color           : var(--heatmap-text-1);
        }

        &.heatmap-cell-2 {
            background-color: var(--heatmap-bg-2);
            color           : var(--heatmap-text-2);
            text-shadow     : var(--heatmap-shadow-2);
        }

        &.heatmap-cell-3 {
            background-color: var(--heatmap-bg-3);
            color           : var(--heatmap-text-3);
            font-weight     : bold;
            text-shadow     : var(--heatmap-shadow-3);
        }
    }
}