.covid-header-container {
    .covid-numberbox {
        background-color: #3c3f41;
        border-radius   : 3px;
        border-style    : solid;
        border-width    : 1px;
        margin-bottom   : 10px;
        margin-right    : 10px;
        padding         : 5px;
        width           : 150px;
    }
}