.neo-calendars-colors-list {
    .neo-list-item {
        background-color: red;
        border-radius: 50%;
        display      : inline-block;
        height       : 1.5em;
        margin-right : 0.2em;
        width        : 1.5em;
    }
}
