.neo-calendar-calendarscontainer {
    margin: 10px;

    .neo-checkboxfield {
        align-items: center;
        display    : flex;

        .neo-checkbox-input {
            &:checked {
                &::after {
                    content    : "\f14a";
                    font-weight: 600;
                }
            }

            &::after {
                content    : "\f0c8";
                font-size  : 20px;
                font-weight: 600;
            }
        }
    }

    .neo-color-blue {
        .neo-checkbox-input {
            &::after {
                color: v(event-blue-color) !important;
            }
        }
    }

    .neo-color-green {
        .neo-checkbox-input {
            &::after {
                color: v(event-green-color) !important;
            }
        }
    }

    .neo-color-orange {
        .neo-checkbox-input {
            &::after {
                color: v(event-orange-color) !important;
            }
        }
    }

    .neo-color-pink {
        .neo-checkbox-input {
            &::after {
                color: v(event-pink-color) !important;
            }
        }
    }

    .neo-color-red {
        .neo-checkbox-input {
            &::after {
                color: v(event-red-color) !important;
            }
        }
    }

    .neo-color-yellow {
        .neo-checkbox-input {
            &::after {
                color: v(event-yellow-border-color) !important;
            }
        }
    }
}
