.neo-calendar-edit-container {
    background-color: var(--calendar-edit-calendar-background-color);
    border          : 1px solid var(--calendar-edit-calendar-border-color);
    box-shadow      : var(--calendar-edit-calendar-box-shadow);
    padding         : .7em;
    position        : absolute;
    top             : 0;
    z-index         : 10000;

    &:before {
        border-bottom: 12px solid transparent;
        border-right : 12px solid var(--calendar-edit-calendar-border-color);
        border-top   : 12px solid transparent;
        content      : '';
        display      : block;
        height       : 0;
        left         : -12px;
        position     : absolute;
        top          : 10px;
        width        : 0;
    }
}
