.neo-calendars-list {
    .neo-checkboxfield {
        align-items: center;
        display    : flex;

        .neo-checkbox-icon {
            font-size : 20px;
            margin    : 2px;
            transition: color .15s ease-out;
        }

        .neo-checkbox-value-label {
            cursor: pointer;
        }
    }

    .neo-color-blue {
        .neo-checkbox-icon {
            color: v(event-blue-color) !important;
        }
    }

    .neo-color-green {
        .neo-checkbox-icon {
            color: v(event-green-color) !important;
        }
    }

    .neo-color-orange {
        .neo-checkbox-icon {
            color: v(event-orange-color) !important;
        }
    }

    .neo-color-pink {
        .neo-checkbox-icon {
            color: v(event-pink-color) !important;
        }
    }

    .neo-color-red {
        .neo-checkbox-icon {
            color: v(event-red-color) !important;
        }
    }

    .neo-color-yellow {
        .neo-checkbox-icon {
            color: v(event-yellow-border-color) !important;
        }
    }

    .neo-list-item {
        align-items     : center;
        background-color: transparent;
        display         : flex;
        padding         : 0;

        &:hover {
            .neo-edit-icon {
                opacity: 1;
            }
        }

        .neo-edit-icon {
            color       : var(--calendars-list-edit-icon-color);
            font-size   : 16px;
            font-weight : 600;
            height      : 1em;
            margin-left : auto;
            margin-right: 4px;
            opacity     : 0;
            width       : 1em;
        }
    }
}
