:root .neo-theme-neo-light {
    --portal-tab-indicator-bg    : #3E63DD;
    --portal-tab-text-color      : #fff;
    --portal-tab-text-color-pressed: #3E63DD;
    --portal-tab-toolbar-bg      : #8BA6FF;
}
