:root .neo-theme-light { // .neo-grid-header-button
    --grid-header-button-background-color: #5d83a7;
    --grid-header-button-background-image: none;
    --grid-header-button-color           : #fff;
    --grid-header-button-glyph-color     : #fff;
}
