:root .neo-theme-light { // .neo-grid-header-button
    --grid-header-button-background-color        : #5d83a7;
    --grid-header-button-background-image        : none;
    --grid-header-button-border-hover-color      : transparent;
    --grid-header-button-border-right-color      : var(--grid-container-border-color);
    --grid-header-button-border-right-hover-color: var(--grid-container-border-color);
    --grid-header-button-box-shadow-hover        : none;
    --grid-header-button-color                   : #fff;
    --grid-header-button-font-size               : 11px;
    --grid-header-button-glyph-color             : #fff;
    --grid-header-button-transition              : none;
}
