$neoMap: map-merge($neoMap, (
    'docs-classdetails-headercomponent-background-color': #323232,
    'docs-classdetails-headerpanel-border-right'        : 0
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-docs-classdetails-headercontainer
        --docs-classdetails-headercomponent-background-color: #{neo(docs-classdetails-headercomponent-background-color)};
        --docs-classdetails-headerpanel-border-right        : #{neo(docs-classdetails-headerpanel-border-right)};
    }
}