:root .neo-theme-dark { // .docs-classhierarchy-memberslist
    --docs-classhierarchy-memberslist-background-color : #282b2b;
    --docs-memberlist-group-header-background-color    : #33343d;
    --docs-memberlist-group-header-color               : #bbb;
    --docs-param-table-list-item-background-color      : #323232;
    --docs-param-table-list-item-background-image      : linear-gradient(lighten(#323232, 2%), #323232);
    --docs-param-table-list-item-header-background-clip: text;
    --docs-param-table-list-item-header-text-shadow    : 2px 2px 3px rgba(200,200,200,0.1);
    --docs-param-table-list-item-highlight-search-color: #ccc;
    --docs-param-table-source-link-color               : #555;
    --docs-param-table-source-link-color-hover         : #bbb;
    --docs-param-table-thead-background-color          : #343537;
    --docs-param-table-thead-background-image          : linear-gradient(#414244, #343537);
    --docs-param-table-tr-background-clip              : text;
    --docs-param-table-tr-color                        : rgba(0,0,0,0.6);
    --docs-param-table-tr-text-shadow                  : 2px 2px 3px rgba(200,200,200,0.1);
}
