<<<<<<<< HEAD:resources/scss/src/draggable/dashboard/SortZone.scss
.neo-dashboard {
    .neo-panel {
========
.neo-container .neo-draggable,
.neo-panel .neo-draggable {
    cursor: pointer;

    &:active {
        cursor: pointer;
    }
}

.neo-toolbar.neo-is-dragging {
    > .neo-button {
>>>>>>>> dev:resources/scss/src/draggable/container/SortZone.scss
        transition-duration       : 200ms;
        transition-property       : left, top;
        transition-timing-function: ease-out;
    }
}
