.neo-container .neo-draggable,
.neo-panel .neo-draggable {
    cursor: pointer;

    &:active {
        cursor: pointer;
    }
}

.neo-toolbar.neo-is-dragging {
    > .neo-button {
        transition-duration       : 200ms;
        transition-property       : left, top;
        transition-timing-function: ease-out;
    }
}