.neo-grid-header-toolbar {
    border-bottom: 1px solid var(--grid-container-border-color);
    border-top   : 1px solid var(--grid-container-border-color);
    padding      : 0;
    width        : max-content;
}
