.neo-chip {
    align-items    : v(chip-align-items);
    border         : v(chip-border);
    border-radius  : v(chip-border-radius);
    // display will get handled on component level => either flex or inline-flex
    flex-direction : row;
    height         : v(chip-height);
    justify-content: v(chip-justify-content);
    transition     : border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: v(chip-border-color-focus);
        outline     : 0;
    }

    .neo-chip-close-button {
        color     : v(chip-close-button-color);
        cursor    : pointer;
        margin    : 0 calc(15px / 2);
        transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: v(chip-close-button-color-hover);
        }
    }

    .neo-chip-glyph {
        color         : v(chip-glyph-color);
        margin        : 0 calc(15px / 2);
        pointer-events: none;
    }

    .neo-chip-text {
        color         : v(chip-text-color);
        flex          : 1;
        font-size     : v(chip-text-font-size);
        pointer-events: none;
        text-align    : v(chip-text-align);
    }
}