:root .neo-theme-light { // .neo-fieldset
    --fieldset-background-color : #f9f9f9;
    --fieldset-border           : 1px solid #ddd;
    --fieldset-legend-color     : #1c60a0;
    --fieldset-legend-icon-color: #1c60a0;
}
