:root .neo-theme-neo-dark { // .portal-services-component
    --portal-services-glass-background: rgba(0, 0, 0, 0.6);
    --portal-services-glass-border: 1px solid rgba(255, 255, 255, 0.1);
    --portal-services-glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    --portal-services-headline-shadow: 0 0 20px rgba(62, 99, 221, 0.5);
    --portal-services-link-color: var(--sem-color-text-primary-default);
    --portal-services-link-hover-color: var(--sem-color-text-primary-highlighted);
    --portal-services-text-opacity: 0.9;
}
