$neoMap: map-merge($neoMap, (
    'panel-border-color'     : #ddd,
    'panel-header-text-color': #666
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-panel
        --panel-border-color     : #{neo(panel-border-color)};
        --panel-header-text-color: #{neo(panel-header-text-color)};
    }
}