:root .neo-theme-light { // .neo-accordion-item
  --accordion-item-arrow-bg-color  : #dedede;
  --accordion-item-arrow-shadow    : 0 4px 16px rgba(0 0 0 / .1);
  --accordion-item-bg-color        : #f9f9f9;
  --accordion-item-border-color    : #ddd;
  --accordion-item-content-bg-color: #ffffff;
  --accordion-item-header-height   : 50px;
  --accordion-item-radius          : 5px;
  --accordion-item-shadow          : 0 4px 16px rgba(0 0 0 / .1);
}
