.portal-about-member-container {
    border    : 1px solid var(--sem-color-border-default);
    min-height: 400px;
    min-width : 600px;
    padding   : 1em;
    position  : relative;

    .portal-profiles {
        position: absolute;
        right   : 1em;

        .portal-profile {
            font-size: 2em;
        }
    }
}
