:root .neo-theme-neo-light {
    --cmp-breadcrumb-arrow                      : var(--sem-color-fg-neutral-default);
    --cmp-breadcrumb-currentpage                : var(--sem-color-fg-primary-base);
    --cmp-breadcrumb-gap                        : var(--sem-spacing-xxsmall);
    --cmp-breadcrumb-pagelevel                  : var(--sem-color-fg-neutral-default);
    --cmp-button-borderradius                   : var(--sem-borderradius-large);
    --cmp-button-borderwidth                    : 1px;
    --cmp-button-gap                            : var(--sem-spacing-xxsmall);
    --cmp-button-ghost-surface-active           : var(--sem-color-surface-neutral-active);
    --cmp-button-ghost-surface-default          : transparent;
    --cmp-button-ghost-surface-disabled         : var(--sem-color-surface-disabled);
    --cmp-button-ghost-surface-hover            : var(--sem-color-surface-neutral-hover);
    --cmp-button-ghost-surface-loading          : var(--sem-color-bg-neutral-hover);
    --cmp-button-ghost-text-default             : var(--sem-color-fg-neutral-contrast);
    --cmp-button-ghost-text-disabled            : var(--sem-color-fg-neutral-disabled);
    --cmp-button-height                         : var(--height-48);
    --cmp-button-primary-surface-active         : var(--sem-color-surface-primary-active);
    --cmp-button-primary-surface-default        : var(--sem-color-surface-primary-default);
    --cmp-button-primary-surface-disabled       : var(--sem-color-bg-primary-disabled);
    --cmp-button-primary-surface-hover          : var(--sem-color-surface-primary-hover);
    --cmp-button-primary-text-default           : var(--sem-color-text-neutral-reversed);
    --cmp-button-primary-text-disabled          : var(--sem-color-text-disabled);
    --cmp-button-secondary-border-default-color : var(--sem-color-border-default);
    --cmp-button-secondary-border-default-style : solid;
    --cmp-button-secondary-border-default-width : 1px;
    --cmp-button-secondary-border-disabled-color: var(--sem-color-border-subtle);
    --cmp-button-secondary-border-disabled-style: solid;
    --cmp-button-secondary-border-disabled-width: 1px;
    --cmp-button-secondary-surface-active       : var(--sem-color-surface-neutral-active);
    --cmp-button-secondary-surface-default      : transparent;
    --cmp-button-secondary-surface-disabled     : var(--sem-color-surface-disabled);
    --cmp-button-secondary-surface-hover        : var(--sem-color-surface-neutral-hover);
    --cmp-button-secondary-surface-loading      : var(--sem-color-bg-neutral-default);
    --cmp-button-secondary-text-default         : var(--sem-color-text-neutral-default);
    --cmp-button-secondary-text-disabled        : var(--sem-color-text-disabled);
    --cmp-button-spacinghorizontal              : var(--sem-spacing-medium);
    --cmp-button-tertiary-default               : var(--sem-color-fg-neutral-contrast);
    --cmp-button-tertiary-disabled              : var(--sem-color-fg-neutral-disabled);
    --cmp-list-borderradius                     : var(--sem-borderradius-large);
    --cmp-list-chapter-bg-active                : var(--sem-color-bg-neutral-active);
    --cmp-list-chapter-bg-default               : transparent;
    --cmp-list-chapter-bg-hover                 : var(--sem-color-bg-neutral-hover);
    --cmp-list-chapter-bg-selected              : var(--sem-color-bg-primary-background);
    --cmp-list-chapter-fg-default               : var(--sem-color-fg-neutral-default);
    --cmp-list-chapter-fg-disabled              : var(--sem-color-fg-neutral-disabled);
    --cmp-list-chapter-gap                      : var(--sem-spacing-small);
    --cmp-list-chapter-height                   : var(--sem-height-xlarge);
    --cmp-list-gap                              : var(--sem-spacing-xsmall);
    --cmp-list-item-borderradius                : var(--sem-borderradius-large);
    --cmp-list-item-gap                         : var(--sem-spacing-small);
    --cmp-list-item-height                      : var(--sem-height-xlarge);
    --cmp-list-item-spacex                      : var(--sem-spacing-medium);
    --cmp-list-item-surface-active              : var(--sem-color-surface-primary-background);
    --cmp-list-item-surface-default             : #fff;
    --cmp-list-item-surface-hover               : var(--sem-color-surface-neutral-hover);
    --cmp-list-item-surface-selected            : var(--sem-color-surface-primary-background);
    --cmp-list-item-text-default                : var(--sem-color-fg-neutral-default);
    --cmp-list-item-text-disabled               : var(--sem-color-fg-neutral-disabled);
    --cmp-list-item-text-selected               : var(--sem-color-text-primary-default);
    --cmp-list-spacex                           : var(--sem-spacing-xsmall);
    --cmp-list-spacey                           : var(--sem-spacing-xsmall);
    --cmp-tab-borderradius                      : var(--sem-borderradius-large);
    --cmp-tab-gap                               : var(--sem-spacing-xsmall);
    --cmp-tab-height                            : var(--sem-height-xlarge);
    --cmp-tab-spacinghorizontal                 : var(--sem-spacing-medium);
    --cmp-tab-strip-height                      : 3px;
    --cmp-tab-strip-selected                    : var(--sem-color-fg-neutral-contrast);
    --cmp-tab-strip-unselected                  : transparent;
    --cmp-tab-unselected-bg-active              : var(--sem-color-surface-neutral-active);
    --cmp-tab-unselected-bg-default             : transparent;
    --cmp-tab-unselected-bg-hover               : var(--sem-color-surface-neutral-hover);
    --cmp-tooltip-bg                            : var(--sem-color-surface-neutral-contrast);
    --cmp-tooltip-borderradius                  : var(--sem-borderradius-medium);
    --cmp-tooltip-fg                            : var(--sem-color-fg-neutral-inverted);
    --cmp-tooltip-height                        : var(--height-24);
    --cmp-tooltip-spacinghorizontal             : var(--sem-spacing-xsmall);
}
