:root .neo-theme-neo-light {
    --cmp-breadcrumb-arrow                      : var(--sem-color-fg-neutral-default);
    --cmp-breadcrumb-currentpage                : var(--sem-color-fg-primary-base);
    --cmp-breadcrumb-gap                        : var(--sem-spacing-xxsmall);
    --cmp-breadcrumb-pagelevel                  : var(--sem-color-fg-neutral-default);
    --cmp-button-borderradius                   : var(--sem-borderradius-large);
    --cmp-button-borderwidth                    : 1px;
    --cmp-button-gap                            : var(--sem-spacing-xxsmall);
    --cmp-button-ghost-bg-active                : var(--sem-color-bg-neutral-active);
    --cmp-button-ghost-bg-default               : transparent;
    --cmp-button-ghost-bg-disabled              : var(--sem-color-bg-neutral-disabled);
    --cmp-button-ghost-bg-hover                 : var(--sem-color-bg-neutral-hover);
    --cmp-button-ghost-bg-loading               : var(--sem-color-bg-neutral-hover);
    --cmp-button-ghost-fg-default               : var(--sem-color-fg-neutral-contrast);
    --cmp-button-ghost-fg-disabled              : var(--sem-color-fg-neutral-disabled);
    --cmp-button-height                         : var(--height-48);
    --cmp-button-primary-bg-active              : var(--sem-color-bg-primary-active);
    --cmp-button-primary-bg-default             : var(--sem-color-bg-primary-default);
    --cmp-button-primary-bg-disabled            : var(--sem-color-bg-primary-disabled);
    --cmp-button-primary-bg-hover               : var(--sem-color-bg-primary-hover);
    --cmp-button-primary-bg-loading             : var(--sem-color-bg-primary-background);
    --cmp-button-primary-fg-default             : var(--sem-color-fg-neutral-contrast);
    --cmp-button-primary-fg-disabled            : var(--sem-color-fg-neutral-disabled);
    --cmp-button-secondary-bg-active            : var(--sem-color-bg-neutral-active);
    --cmp-button-secondary-bg-default           : transparent;
    --cmp-button-secondary-bg-disabled          : transparent;
    --cmp-button-secondary-bg-hover             : var(--sem-color-bg-neutral-hover);
    --cmp-button-secondary-bg-loading           : var(--sem-color-bg-neutral-default);
    --cmp-button-secondary-border-default-color : var(--sem-color-border-default);
    --cmp-button-secondary-border-default-style : solid;
    --cmp-button-secondary-border-default-width : 1px;
    --cmp-button-secondary-border-disabled-color: var(--sem-color-border-subtle);
    --cmp-button-secondary-border-disabled-style: solid;
    --cmp-button-secondary-border-disabled-width: 1px;
    --cmp-button-secondary-text-default         : var(--sem-color-fg-neutral-default);
    --cmp-button-secondary-text-disabled        : var(--sem-color-fg-neutral-disabled);
    --cmp-button-spacinghorizontal              : var(--sem-spacing-medium);
    --cmp-button-tertiary-default               : var(--sem-color-fg-neutral-contrast);
    --cmp-button-tertiary-disabled              : var(--sem-color-fg-neutral-disabled);
    --cmp-sidenav-borderradius                  : var(--sem-borderradius-large);
    --cmp-sidenav-chapter-bg-active             : var(--sem-color-bg-neutral-active);
    --cmp-sidenav-chapter-bg-default            : transparent;
    --cmp-sidenav-chapter-bg-hover              : var(--sem-color-bg-neutral-hover);
    --cmp-sidenav-chapter-bg-selected           : var(--sem-color-bg-primary-background);
    --cmp-sidenav-chapter-fg-default            : var(--sem-color-fg-neutral-default);
    --cmp-sidenav-chapter-fg-disabled           : var(--sem-color-fg-neutral-disabled);
    --cmp-sidenav-chapter-gap                   : var(--sem-spacing-small);
    --cmp-sidenav-chapter-height                : var(--sem-height-xlarge);
    --cmp-sidenav-gap                           : var(--sem-spacing-xsmall);
    --cmp-sidenav-item-bg-default               : transparent;
    --cmp-sidenav-item-bg-hover                 : var(--sem-color-bg-neutral-hover);
    --cmp-sidenav-item-bg-pressed               : var(--sem-color-bg-neutral-active);
    --cmp-sidenav-item-bg-selected              : var(--sem-color-bg-primary-background);
    --cmp-sidenav-item-borderradius             : var(--sem-borderradius-large);
    --cmp-sidenav-item-fg-default               : var(--sem-color-fg-neutral-default);
    --cmp-sidenav-item-fg-disabled              : var(--sem-color-fg-neutral-disabled);
    --cmp-sidenav-item-gap                      : var(--sem-spacing-small);
    --cmp-sidenav-item-height                   : var(--sem-height-xlarge);
    --cmp-sidenav-item-spacex                   : var(--sem-spacing-medium);
    --cmp-sidenav-spacex                        : var(--sem-spacing-xsmall);
    --cmp-sidenav-spacey                        : var(--sem-spacing-xsmall);
    --cmp-tab-borderradius                      : var(--sem-borderradius-large);
    --cmp-tab-gap                               : var(--sem-spacing-xsmall);
    --cmp-tab-height                            : var(--sem-height-xxlarge);
    --cmp-tab-spacinghorizontal                 : var(--sem-spacing-medium);
    --cmp-tab-strip-height                      : 3px;
    --cmp-tab-strip-selected                    : var(--sem-color-fg-neutral-contrast);
    --cmp-tab-strip-unselected                  : transparent;
    --cmp-tab-unselected-bg-active              : var(--sem-color-bg-neutral-active);
    --cmp-tab-unselected-bg-default             : transparent;
    --cmp-tab-unselected-bg-hover               : var(--sem-color-bg-neutral-hover);
}
