:root .neo-theme-neo-light {
    --black                                           : #000000;
    --borderradius-0                                  : 0;
    --borderradius-4                                  : 4;
    --borderradius-8                                  : 8;
    --core-fontfamily-mono                            : 'Source Code Pro', monospace;
    --core-fontfamily-sans                            : 'Source Sans 3', sans-serif;
    --core-fontfamily-serif                           : 'Source Serif 4', serif;
    --core-fontsize-body                              : 18px;
    --core-fontsize-h1                                : 2.5rem;
    --core-fontsize-h2                                : 1.75rem;
    --core-fontweight-bold                            : 700;
    --core-fontweight-regular                         : 400;
    --core-fontweight-semibold                        : 600;
    --core-lineheight-headline                        : 1.2;
    --core-lineheight-paragraph                       : 1.5;
    --gray-100                                        : #F0F2F0;
    --gray-200                                        : #D3D7D2;
    --gray-300                                        : #B6BDB4;
    --gray-400                                        : #99A295;
    --gray-50                                         : #fafafa;
    --gray-500                                        : #7C8877;
    --gray-600                                        : #606A5D;
    --gray-700                                        : #454B42;
    --gray-800                                        : #292D28;
    --gray-900                                        : #0E0F0D;
    --green-50                                        : #DFFEF2;
    --green-100                                       : #BFFCE6;
    --green-200                                       : #94FAD5;
    --green-300                                       : #54F7BB;
    --green-400                                       : #3FF6B3;
    --green-500                                       : #29F5AA;
    --green-600                                       : #0EF49F;
    --green-700                                       : #0ADB8E;
    --green-800                                       : #08A46A;
    --green-900                                       : #056D47;
    --height-16                                       : 16;
    --height-2                                        : 2;
    --height-32                                       : 32;
    --height-4                                        : 4;
    --height-48                                       : 48;
    --height-8                                        : 8;
    --purple-100                                      : #efe3ff;
    --purple-200                                      : #d0aaff;
    --purple-300                                      : #b071ff;
    --purple-400                                      : #9039ff;
    --purple-500                                      : #7100ff;
    --purple-600                                      : #5800c6;
    --purple-700                                      : #3f008e;
    --purple-800                                      : #260055;
    --purple-900                                      : #0d001c;
    --spacing-12                                      : 12;
    --spacing-16                                      : 16;
    --spacing-2                                       : 2;
    --spacing-20                                      : 20;
    --spacing-24                                      : 24;
    --spacing-32                                      : 32;
    --spacing-4                                       : 4;
    --spacing-40                                      : 40;
    --spacing-48                                      : 48;
    --spacing-64                                      : 64;
    --spacing-8                                       : 8;
    --spacing-80                                      : 80;
    --spacing-96                                      : 96;
    --Transparent                                     : rgba(255,255,255,0);
    --white                                           : #FFFFFF;
}
