:root .neo-theme-neo-light {
    --black                        : #000000;
    --borderradius-0               : 0px;
    --borderradius-4               : 4px;
    --borderradius-8               : 8px;
    --core-fontfamily-mono         : 'Source Code Pro';
    --core-fontfamily-sans         : 'Source Sans 3';
    --core-fontfamily-serif        : 'Source Serif Pro';
    --core-fontsize-body           : 16px;
    --core-fontsize-h1             : 2.5rem;
    --core-fontsize-h2             : 1.75rem;
    --core-fontsize-h3             : 1.25rem;
    --core-fontsize-label          : 1rem;
    --core-fontweight-bold         : 700;
    --core-fontweight-medium       : 500;
    --core-fontweight-regular      : 400;
    --core-fontweight-semibold     : 600;
    --core-lineheight-headline     : 1.2;
    --core-lineheight-paragraph    : 1.5;
    --core-textdecoration-underline: underline;
    --gray-100                     : #F0F2F0;
    --gray-200                     : #D3D7D2;
    --gray-300                     : #B6BDB4;
    --gray-400                     : #99A295;
    --gray-50                      : #fafafa;
    --gray-500                     : #7C8877;
    --gray-600                     : #606A5D;
    --gray-700                     : #454B42;
    --gray-800                     : #292D28;
    --gray-900                     : #0E0F0D;
    --green-100                    : #{lighten(#29F5AA, 70%)};
    --green-200                    : #{lighten(#29F5AA, 50%)};
    --green-300                    : #{lighten(#29F5AA, 20%)};
    --green-400                    : #{lighten(#29F5AA, 10%)};
    --green-50                     : #{lighten(#29F5AA, 85%)};
    --green-500                    : #29F5AA;
    --green-600                    : #{darken(#29F5AA, 10%)};
    --green-700                    : #{darken(#29F5AA, 20%)};
    --green-800                    : #{darken(#29F5AA, 40%)};
    --green-900                    : #{darken(#29F5AA, 60%)};
    --height-16                    : 16px;
    --height-2                     : 2px;
    --height-24                    : 24px;
    --height-32                    : 32px;
    --height-4                     : 4px;
    --height-48                    : 48px;
    --height-56                    : 56px;
    --height-8                     : 8px;
    --purple-100                   : #D6E1FF;
    --purple-200                   : #9EB1FF;
    --purple-300                   : #5472E4;
    --purple-400                   : #3E63DD;
    --purple-500                   : #435DB1;
    --purple-600                   : #304384;
    --purple-700                   : #253974;
    --purple-800                   : #1D2E62;
    --purple-900                   : #182449;
    --spacing-12                   : 12px;
    --spacing-16                   : 16px;
    --spacing-2                    : 2px;
    --spacing-20                   : 20px;
    --spacing-24                   : 24px;
    --spacing-32                   : 32px;
    --spacing-4                    : 4px;
    --spacing-40                   : 40px;
    --spacing-48                   : 48px;
    --spacing-64                   : 64px;
    --spacing-8                    : 8px;
    --spacing-80                   : 80px;
    --spacing-96                   : 96px;
    --Transparent                  : rgba(255,255,255,0);
    --white                        : #FFFFFF;
}
