:root .neo-theme-neo-light {
    --sem-borderradius-large                                                 : var(--borderradius-8);
    --sem-borderradius-medium                                                : var(--borderradius-4);
    --sem-borderradius-none                                                  : var(--borderradius-0);
    --sem-borderwidth-focus                                                  : 3px;
    --sem-color-bg-neutral-active                                            : var(--gray-900);
    --sem-color-bg-neutral-contrast                                          : var(--gray-900);
    --sem-color-bg-neutral-default                                           : var(--gray-50);
    --sem-color-bg-neutral-disabled                                          : var(--gray-200);
    --sem-color-bg-neutral-highlighted                                       : var(--white);
    --sem-color-bg-neutral-hover                                             : var(--gray-900);
    --sem-color-bg-primary-active                                            : var(--green-600);
    --sem-color-bg-primary-background                                        : var(--green-50);
    --sem-color-bg-primary-default                                           : var(--green-400);
    --sem-color-bg-primary-disabled                                          : var(--gray-200);
    --sem-color-bg-primary-hover                                             : var(--green-500);
    --sem-color-border-contrast                                              : var(--black);
    --sem-color-border-default                                               : var(--gray-200);
    --sem-color-border-focus                                                 : #5595F5;
    --sem-color-border-subtle                                                : var(--gray-100);
    --sem-color-fg-neutral-contrast                                          : var(--black);
    --sem-color-fg-neutral-default                                           : var(--gray-900);
    --sem-color-fg-neutral-disabled                                          : var(--gray-300);
    --sem-color-fg-neutral-inverted                                          : var(--white);
    --sem-color-fg-neutral-subdued                                           : var(--gray-700);
    --sem-color-fg-primary-base                                              : var(--green-500);
    --sem-color-fg-primary-faded                                             : var(--green-600);
    --sem-color-fg-primary-highlighted                                       : var(--green-400);
    --sem-color-surface-disabled                                             : var(--gray-200);
    --sem-color-surface-neutral-active                                       : rgba(0, 0, 0, .1);
    --sem-color-surface-neutral-default                                      : var(--gray-50);
    --sem-color-surface-neutral-highlighted                                  : var(--white);
    --sem-color-surface-neutral-hover                                        : rgba(0, 0, 0, .05);
    --sem-color-surface-primary-active                                       : var(--purple-700);
    --sem-color-surface-primary-background                                   : var(--purple-100);
    --sem-color-surface-primary-default                                      : var(--purple-400);
    --sem-color-surface-primary-hover                                        : var(--purple-500);
    --sem-color-text-disabled                                                : var(--gray-300);
    --sem-color-text-neutral-contrast                                        : var(--black);
    --sem-color-text-neutral-default                                         : var(--gray-900);
    --sem-color-text-neutral-reversed                                        : var(--white);
    --sem-color-text-neutral-subdued                                         : var(--gray-700);
    --sem-color-text-primary-default                                         : var(--purple-400);
    --sem-color-icon-neutral-contrast                                        : var(--black);
    --sem-color-icon-neutral-default                                         : var(--gray-900);
    --sem-color-icon-neutral-reversed                                        : var(--white);
    --sem-color-icon-neutral-subdued                                         : var(--gray-700);
    --sem-color-icon-primary-default                                         : var(--purple-400);
    --sem-height-large                                                       : var(--height-32);
    --sem-height-medium                                                      : var(--height-16);
    --sem-height-small                                                       : var(--height-8);
    --sem-height-xlarge                                                      : var(--height-48);
    --sem-height-xsmall                                                      : var(--height-4);
    --sem-height-xxlarge                                                     : var(--height-56);
    --sem-height-xxsmall                                                     : var(--height-2);
    --sem-spacing-large                                                      : var(--spacing-20);
    --sem-spacing-medium                                                     : var(--spacing-16);
    --sem-spacing-small                                                      : var(--spacing-12);
    --sem-spacing-xlarge                                                     : var(--spacing-24);
    --sem-spacing-xsmall                                                     : var(--spacing-8);
    --sem-spacing-xxlarge                                                    : var(--spacing-32);
    --sem-spacing-xxsmall                                                    : var(--spacing-4);
    --sem-spacing-xxxlarge                                                   : var(--spacing-40);
    --sem-spacing-xxxsmall                                                   : var(--spacing-2);
    --sem-typo-body-fontFamily                                               : var(--core-fontfamily-sans);
    --sem-typo-body-fontSize                                                 : var(--core-fontsize-body);
    --sem-typo-body-fontWeight                                               : var(--core-fontweight-regular);
    --sem-typo-body-letterSpacing                                            : 0;
    --sem-typo-body-lineHeight                                               : var(--core-lineheight-paragraph);
    --sem-typo-body-paragraphIndent                                          : 0;
    --sem-typo-body-paragraphSpacing                                         : 0;
    --sem-typo-body-textDecoration                                           : none;
    --sem-typo-h1-fontFamily                                                 : var(--core-fontfamily-sans);
    --sem-typo-h1-fontSize                                                   : var(--core-fontsize-h1);
    --sem-typo-h1-fontWeight                                                 : var(--core-fontweight-bold);
    --sem-typo-h1-letterSpacing                                              : -0.02em;
    --sem-typo-h1-lineHeight                                                 : var(--core-lineheight-headline);
    --sem-typo-h1-textDecoration                                             : none;
    --sem-typo-h2-fontFamily                                                 : var(--core-fontfamily-sans);
    --sem-typo-h2-fontSize                                                   : var(--core-fontsize-h2);
    --sem-typo-h2-fontWeight                                                 : var(--core-fontweight-semibold);
    --sem-typo-h2-lineHeight                                                 : var(--core-lineheight-headline);
    --sem-typo-label-medium-fontFamily                                       : var(--core-fontfamily-sans);
    --sem-typo-label-medium-fontSize                                         : var(--core-fontsize-body);
    --sem-typo-label-medium-fontWeight                                       : var(--core-fontweight-medium);
    --sem-typo-label-regular-fontFamily                                      : var(--core-fontfamily-sans);
    --sem-typo-label-regular-fontSize                                        : var(--core-fontsize-body);
    --sem-typo-label-regular-fontWeight                                      : var(--core-fontweight-regular);
}
