$neoMap: map-merge($neoMap, (
    'covid-gallery-background-color': #fff,
    'covid-gallery-border-color'    : #ddd
));

@if $useCss4Vars == true {
    :root .neo-theme-light { // .neo-gallery.covid-country-gallery
        --covid-gallery-background-color: #{neo(covid-gallery-background-color)};
        --covid-gallery-border-color    : #{neo(covid-gallery-border-color)};
    }
}