:root .neo-theme-light { // .neo-gallery.covid-country-gallery
    --covid-gallery-background-color             : #fff;
    --covid-gallery-border-color                 : #ddd;
    --covid-gallery-item-border-color            : rgba(73,120,184,.5);
    --covid-gallery-item-border-sides-width      : 1px;
    --covid-gallery-item-wrapper-background-color: rgba(73,120,184,.5);
}
