:root .neo-theme-neo-light { // .neo-tooltip
    --tooltip-bg            : var(--cmp-tooltip-bg);
    --tooltip-border        : none;
    --tooltip-borderradius  : var(--cmp-tooltip-borderradius);
    --tooltip-boxshadow     : none;
    --tooltip-color         : var(--cmp-tooltip-fg);
    --tooltip-fontsize      : 14px;
    --tooltip-height        : var(--cmp-tooltip-height);
    --tooltip-padding       : 2px var(--cmp-tooltip-spacinghorizontal) 0;
}


// 3px 3px 4px rgba(0,0,0, .6);