:root .neo-theme-light { // .neo-calendar-monthcomponent
    --c-m-background-color        : #fff;
    --c-m-border-color            : #ddd;
    --c-m-day-name-color          : #666;
    --c-m-day-number-color        : #666;
    --c-m-month-name-color        : #444;
    --c-m-scroll-box-shadow       : --0 0 1.56em 0.78em #fff, 0 0 3.9em 1.95em #1c60a0;
    --c-m-weekend-background-color: rgba(240, 240, 240, .35);
    --c-m-year-color              : #1c60a0;
}
