:root .neo-theme-neo-light {
    --gh-badge-bg       : #eff1f3;
    --gh-badge-border   : rgba(0, 0, 0, 0.1);
    --gh-bg-default     : #ffffff;
    --gh-bg-subtle      : #f6f8fa;
    --gh-border-default : #d0d7de;
    --gh-timeline-border  : #d0d7de;
    --gh-header-text-color: #57606a;
    --gh-event-text-color : #57606a;
    --gh-icon-muted     : #8c959f;
    --gh-state-closed-bg: #8250df;
    --gh-state-open-bg  : #2da44e;
    --gh-text-inverse   : #ffffff;
    --gh-text-primary   : #24292f;
    --gh-text-secondary : #57606a;
}
