.topics-tree {
    &.neo-tree-list {

        .neo-treelist-collapse-all-icon {
            .neo-treelist-menu-item-content:before {
                content: "\f102" !important;
            }
        }

        .neo-treelist-expand-all-icon {
            .neo-treelist-menu-item-content:before {
                content: "\f103" !important;
            }
        }

        .neo-list-container {
            .neo-list-item {
                &.neo-list-item-leaf {
                    .neo-list-item-content:before {
                        content: none !important;
                    }
                }

                &.neo-list-folder {
                    .neo-list-item-content:before {
                        content: "\f107" !important;
                    }

                    &.neo-folder-open {
                        .neo-list-item-content:before {
                            content: "\f106" !important;
                        }
                    }
                }
            }
        }
    }
}
