.learn-content {
    font-family   : 'Open Sans';
    font-size     : 13pt;
    letter-spacing: 1px;
    overflow      : scroll;
    padding       : 1em;

    em,
    i {
        font-family: Palatino, "Times New Roman", serif;
        font-size  : 1.07em;
    }

    p {
        margin: 0.5em 0em 0.7em 0em;
    }

    mark {
        background-color: #B8FCE3;
        color           : black;
        padding         : 0.1em 0.2em;
    }

    details summary {
        cursor: pointer;
        transition: margin 300ms ease-out;
    }

    details[open] {
        margin-bottom: 2em;
    }

    details summary {
        list-style: none;
        color: #555;
        display: flex;
        /* also removes the list marker */
        align-items: center;
        font-weight: bold;
    }

    details summary::before {
        content: "\f055";
    }

    details[open] summary::before {
        content: "\f056";
    }

    details summary::before {
        color      : #c4c4c4;
        font-family: var(--fa-style-family, "Font Awesome 6 Free");
        font-size  : 1.3em;
        font-weight: var(--fa-style, 900);
        margin     : 0.4em 0.4em 0.4em 0;
    }

    summary::-webkit-details-marker {
        display: none;
    }
}
