:root .neo-theme-neo-dark { // .neo-docs-classdetails-headercontainer
    --docs-classdetails-headercomponent-background-color: var(--sem-color-bg-neutral-default);
    --docs-classdetails-headerpanel-border-right        : 1px solid var(--sem-color-border-default);
}