:root .neo-theme-neo-dark { // .neo-docs-classdetails-headercontainer
    --docs-classdetails-headercomponent-background-color: #fff;
    --docs-classdetails-headerpanel-border-right        : 1px solid #ddd;
}
