:root .neo-theme-neo-dark {
    --docs-classdetails-tutorialcomponent-background-color: var(--sem-color-bg-neutral-default);
    --docs-classdetails-tutorialcomponent-color           : var(--sem-color-text-neutral-default);
}