:root .neo-theme-dark { // .neo-tab-header-button
    --tab-button-background-color               : #282b2b;
    --tab-button-background-color-active        : #373a3c;
    --tab-button-background-color-disabled      : #282b2b;
    --tab-button-background-color-hover         : #3a3c3e;
    --tab-button-background-image               : linear-gradient(#393d3e, #282b2b);
    --tab-button-background-image-bottom        : linear-gradient(to top, #393d3e, #282b2b);
    --tab-button-background-image-left          : linear-gradient(to right, #393d3e, #282b2b);
    --tab-button-background-image-pressed       : linear-gradient(#434749, #323536);
    --tab-button-background-image-pressed-bottom: linear-gradient(to top, #434749, #323536);
    --tab-button-background-image-pressed-left  : linear-gradient(to right, #434749, #323536);
    --tab-button-background-image-pressed-right : linear-gradient(to left,  #434749, #323536);
    --tab-button-background-image-right         : linear-gradient(to left,  #393d3e, #282b2b);
    --tab-button-border                         : none;
    --tab-button-border-bottom                  : none;
    --tab-button-border-bottom-pressed          : none;
    --tab-button-border-pressed                 : none;
    --tab-button-border-radius                  : 0;
    --tab-button-gap                            : 0;
    --tab-button-glyph-color                    : #bbb;
    --tab-button-glyph-color-active             : #bbb;
    --tab-button-glyph-color-hover              : #bbb;
    --tab-button-glyph-color-pressed            : #bbb;
    --tab-button-height                         : 25px;
    --tab-button-height-pressed                 : 25px;
    --tab-button-margin-bottom                  : 0;
    --tab-button-padding                        : 7px 12px 6px 12px;
    --tab-button-text-color                     : #bbb;
    --tab-button-text-transform                 : none;
}
