@use "sass:color";

:root .neo-theme-light { // .neo-list-container
    --list-container-background-color     : #fff;
    --list-container-border               : 0;
    --list-container-list-color           : #{color.adjust(#33343d, $lightness: 20%)};
    --list-item-background-color          : #fff;
    --list-item-background-color-hover    : #{color.adjust(#33343d, $lightness: 70%)};
    --list-item-background-color-selected : #{color.adjust(#64B5F6, $lightness: 22%)};
    --list-item-color-selected            : #2b2b2b;
    --list-item-focus-outline             : 1px solid darkorange;
    --list-item-focus-outline-offset      : -1px;
    --list-item-glyph-color               : #{color.adjust(#33343d, $lightness: 20%)};
    --list-item-highlight-search-color    : red;
    --list-item-padding                   : 5px;
}
