:root .neo-theme-neo-dark { // .neo-gallery.covid-country-gallery
    --covid-gallery-background-color             : var(--sem-color-bg-neutral-default);
    --covid-gallery-border-color                 : var(--sem-color-border-default);
    --covid-gallery-item-border-color            : rgba(73,120,184,.5);
    --covid-gallery-item-border-sides-width      : 1px;
    --covid-gallery-item-wrapper-background-color: rgba(73,120,184,.2);
}