.neo-app-content-container {
    flex-shrink: 1 !important;
    min-width  : 0;

    .main-content-splitter {
        margin: 0;
    }

    .sidenav-button {
        display: none;
    }

    .sidenav-container {
        min-width: 350px;
        width    : 350px;
    }

    @media (max-width: 640px) {
        .sidenav-container {
            background-color: var(--neo-app-content-sidenav-bg);
            box-shadow      : var(--neo-app-content-sidenav-shadow);
            height          : 100%;
            left      : -350px;
            overflow  : visible;
            position  : fixed;
            transition: left 250ms ease-out;
            z-index   : 101;

            &.neo-expanded {
                left: 0;
            }

            .sidenav-button {
                background-color: var(--neo-app-content-sidenav-btn-bg);
                box-shadow      : var(--neo-app-content-sidenav-shadow);
                display         : flex;
                height          : 35px;
                min-width       : 35px;
                position        : absolute;
                right           : -42px;
                width           : 35px;
                z-index         : 101;

                .neo-button-glyph {
                    font-size: 13px;
                }
            }

            .topics-tree {
                padding-bottom: 4em;
            }
        }
    }
}
