.neo-app-content-sections-list.neo-list {
    .neo-h3 {
        margin-left: 1.5em;
    }

    .neo-list-item {
        align-items     : center;
        background-color: transparent;
        color           : var(--sem-color-text-neutral-subdued);
        display         : flex;
        height          : unset;
        margin-bottom   : 0;
        padding         : 5px 0 5px 5px !important;
        white-space     : normal;

        &[aria-selected=true] {
            background-color: transparent !important;
            color           : var(--list-item-color-selected) !important;
            font-weight     : 600 !important;
            cursor          : default !important;
        }

        .neo-list-icon {
            height      : 20px;
            margin-right: 10px;
            object-fit  : contain;
            width       : 20px;

            &:not(.avatar) {
                align-items: center;
                display    : flex;
            }

            &.avatar {
                border       : 1px solid var(--list-border-color);
                border-radius: 50%;
            }
        }
    }
}

