.sidenav-container {
    background-color: transparent;
}

.neo-app-content-tree-list {
    background-color: transparent;
    padding         : 8px 2px 8px 8px;

    &.neo-tree-list {
        .neo-list-container {
            background-color: transparent;

            .neo-list-item {
                &:not(.neo-list-item[aria-selected=true]) {
                    background-color: transparent;

                    &:hover {
                        background-color: var(--list-item-background-color-hover);
                        color           : var(--list-container-list-color);
                    }
                }

                &[aria-selected=true]:hover {
                    background-color: var(--list-item-background-color-selected);
                    color           : var(--list-item-color-selected);
                }

                &.neo-list-item-leaf {
                    .neo-list-item-content:after {
                        content: none !important;
                    }
                }

                .neo-list-item-content:before {
                    content: unset !important;
                }

                &.neo-list-folder {
                    .neo-list-item-content:after {
                        content: "\f054" !important;
                    }

                    .neo-list-item-content:before {
                        content: unset !important;
                    }

                    &.neo-folder-open {
                        .neo-list-item-content:after {
                            content: "\f078" !important;
                        }

                        .neo-list-item-content:before {
                            content: unset !important;
                        }
                    }

                    &.neo-stuck {
                        background-color: var(--list-item-background-color);
                    }
                }
            }
        }
    }

    .neo-list-container {
        padding: 3px;
    }

    .neo-list-container>.neo-list-item {
        font-size  : 18px !important;
        font-weight: 600;
    }

    .neo-list-item {
        border-radius   : 8px;
        font-size       : 16px;
        margin-right    : 0 !important;
        padding         : 0 3px 0 calc(var(--tree-list-indent-base) + (var(--neo-tree-level) * var(--tree-list-indent-step))) !important;
        height          : 48px;
        display         : flex;
        align-items     : center;
        margin-bottom   : 3px;

        .neo-list-item-content {
            flex          : 1;
            min-width     : 0;
            overflow      : hidden;
            text-overflow : ellipsis;
            white-space   : nowrap;

            b {
                color: var(--neo-app-content-treelist-bold-color, inherit);
            }
        }
    }

    .neo-list-container ul {
        padding: 0 !important;
    }

    .neo-list-folder {
        font-weight: 500;

        .neo-list-item-content {
            width           : 100%;
            display         : flex;
            justify-content : space-between;

            &:after {
                color       : var(--list-item-glyph-color);
                content     : "\f054";
                display     : inline-block;
                font-family : "Font Awesome 7 Free";
                font-weight : 900;
                font-size   : 14px;
                width       : 25px;
                padding-top : 4px;
            }

            &:before {
                content: unset !important;
            }
        }
    }

    .release-date {
        color       : var(--neo-app-content-treelist-meta-color, inherit);
        font-size   : 90%;
        margin-left : 5px;
        position    : relative;
        top         : -1px;
    }

    .blog-date {
        color       : var(--neo-app-content-treelist-meta-color, inherit);
        font-size   : 90%;
        margin-right: 5px;
        position    : relative;
        top         : -1px;
    }

    .ticket-title {
        color       : var(--neo-app-content-treelist-ticket-title-color, inherit);
        font-size   : 90%;
        margin-left : 5px;
        position    : relative;
        top         : -1px;
    }
}
