.neo-fieldset {
    background-color: var(--fieldset-background-color);
    border          : var(--fieldset-border);

    &.neo-collapsed {
        background-color: inherit;
        border-bottom   : none;
        border-left     : none;
        border-right    : none;
        padding         : 0 0 0 0.75em;

        .neo-legend {
            .neo-legend-icon {
                font-weight: 300;
            }
        }
    }

    &.neo-collapsible {
        .neo-legend {
            cursor: pointer;
        }
    }

    .neo-legend {
        color        : var(--fieldset-legend-color);
        cursor       : default;
        font-weight  : 500;
        padding-right: 0.1em;
        user-select  : none;

        .neo-legend-icon {
            color       : var(--fieldset-legend-icon-color);
            font-weight : 600;
            margin-left : 0.1em;
            margin-right: 0.3em;
        }
    }
}
