:root .neo-theme-neo-dark {
    --agent-priority-warning-color         : orange;
    --agent-priority-warning-color-selected: orange;
    --agent-priority-error-color           : red;
    --agent-priority-error-color-selected  : red;
}
