
.newwebsite-main-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 48px;
    padding: 10% 15% 15% 15%;
}

.button-group {
    display: flex !important;
    flex-direction: row-reverse !important;
    gap: 8px !important;
}

.neo-h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.vector {
    background-image: url("../../../../images/Neo_Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 150px;
}

.get-started-button {
    cursor: not-allowed !important;
}