:root .neo-theme-neo-dark { // .neo-calendar-edit-event-container
    --calendar-edit-event-background-color: var(--sem-color-surface-neutral-default);
    --calendar-edit-event-border-color    : var(--sem-color-border-default);
    --calendar-edit-event-box-shadow      : 0 5px 10px rgba(0,0,0,.8);
}