:root .neo-theme-neo-dark { // .neo-calendar-yearcomponent
    --c-y-cell-border-color     : var(--sem-color-border-default);
    --c-y-cell-color            : var(--sem-color-text-neutral-default);
    --c-y-month-color           : var(--sem-color-text-neutral-default);
    --c-y-today-background-color: red;
    --c-y-today-color           : var(--sem-color-text-neutral-contrast);
    --c-y-week-background-color : var(--sem-color-bg-subtle);
    --c-y-week-color            : var(--sem-color-text-neutral-subdued);
    --c-y-year-color            : var(--sem-color-text-primary-default);
}