$neoMap: map-merge($neoMap, (
    'docs-content-tabcontainer-tab-header-toolbar-background-color' : #343537,
    'docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover': brown
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .docs-content-tabcontainer
        --docs-content-tabcontainer-tab-header-toolbar-background-color : #{neo(docs-content-tabcontainer-tab-header-toolbar-background-color)};
        --docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover: #{neo(docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover)};
    }
}