$neoMap: map-merge($neoMap, (
        'docs-classdetails-tutorialcomponent-background-color': #fff,
        'docs-classdetails-tutorialcomponent-color'           : #000
));

@if $useCssVars == true {
    :root .neo-theme-light {
        --docs-classdetails-tutorialcomponent-background-color: #{neo(docs-classdetails-tutorialcomponent-background-color)};
        --docs-classdetails-tutorialcomponent-color           : #{neo(docs-classdetails-tutorialcomponent-color)};
    }
}