.neo-chip-list {
    border  : 1px solid #ddd;
    overflow: auto;

    .neo-list-item {
        padding: 0;

        &.neo-selected {
            background-color: inherit;
            color           : inherit;

            .neo-chip {
                background-color: var(--list-item-background-color-selected);
                border-color    : var(--chip-border-color-focus);
            }

            .neo-chip-close-button {
                color: var(--chip-close-button-color-hover);
            }
        }
    }
}
