.neo-circle-list.neo-list {
    background-color: v(list-item-background-color);

    .neo-circle-component {
        background-color: transparent;
        border          : none;

        .neo-circle-center {
            top: 50%;
        }
    }

    .neo-list-item {
        background-color: transparent;
        padding         : 0;

        &:hover {
            background-color: v(list-item-background-color-hover);
        }
    }
}
