.neo-color-list {
    .neo-icon {
        font-size   : 1.7em;
        margin-left : .1em;
        margin-right: .2em;
    }

    .neo-list-item {
        align-items: center;
        display    : flex;
        padding    : 0;
    }
}
