:root .neo-theme-light {
    --hljs-line-numbers-background-color: #fff;
    --hljs-line-numbers-border-right    : inherit;
    --hljs-line-numbers-color           : rgba(27,31,35,.3);
    --hljs-line-numbers-highlighted-line: #cee8fc !important;
}
