:root .neo-theme-neo-light {
    --portal-discussion-tree-state-answered-bg : #8250df;
    --portal-discussion-tree-state-closed-bg   : #8250df;
    --portal-discussion-tree-state-icon-color  : #ffffff;
    --portal-discussion-tree-state-open-bg     : #2da44e;
}
