.neo-menu-list {
    background-color: var(--menu-list-background-color);
    border          : 1px solid var(--menu-list-border-color);
    overflow-y      : auto;
    width           : fit-content;

    .neo-list-item {
        align-items     : center;
        background-color: var(--menu-list-item-background-color);
        color           : var(--menu-list-item-color);
        display         : flex;
        font-family     : var(--menu-list-item-font-family);
        font-weight     : var(--menu-list-item-font-weight);
        height          : var(--menu-list-item-height);
        line-height     : var(--menu-list-item-line-height);
        padding         : var(--menu-list-item-padding);
        text-transform  : var(--menu-list-item-text-transform);

        .neo-arrow-icon {
            color      : var(--menu-list-item-icon-color);
            margin-left: 1em;
        }

        .neo-content {
            flex: 1;
        }

        .neo-icon {
            color          : var(--menu-list-item-icon-color);
            display        : flex;
            justify-content: center;
        }

        .neo-menu-icon {
            margin-right: var(--menu-list-item-icon-gap);
            width       : 1.2em;
        }

        &:focus {
            outline: var(--menu-list-item-outline-focus);
        }

        &:hover {
            background-color: var(--menu-list-item-background-color-hover);
        }

        &.neo-disabled {
            background-color: var(--menu-list-item-background-color-disabled);
            color           : var(--menu-list-item-color-disabled);
            opacity         : var(--menu-list-item-opacity-disabled);

            .neo-icon {
                color: var(--menu-list-item-icon-color-disabled);
            }
        }

        &.neo-selected {
            background-color: var(--menu-list-item-background-color-selected);

            .neo-icon {
                color: var(--menu-list-item-icon-color-selected);
            }
        }
    }
}
