.neo-menu-list {
    border     : 1px solid v(menu-list-border-color);
    overflow-y : auto;
    width      : fit-content;

    .neo-list-item {
        align-items     : center;
        background-color: v(menu-list-item-background-color);
        color           : v(menu-list-item-color);
        display         : flex;
        font-family     : v(menu-list-item-font-family);
        font-weight     : v(menu-list-item-font-weight);
        height          : v(menu-list-item-height);
        line-height     : v(menu-list-item-line-height);
        padding         : v(menu-list-item-padding);
        text-transform  : v(menu-list-item-text-transform);

        .neo-arrow-icon {
            color      : v(menu-list-item-icon-color);
            margin-left: 1em;
        }

        .neo-content {
            flex: 1;
        }

        .neo-icon {
            color          : v(menu-list-item-icon-color);
            display        : flex;
            justify-content: center;
        }

        .neo-menu-icon {
            margin-right: v(menu-list-item-icon-gap);
            width       : 1.2em;
        }

        &:focus {
            outline: v(menu-list-item-outline-focus);
        }

        &:hover {
            background-color: v(menu-list-item-background-color-hover);
        }

        &.neo-disabled {
            background-color: v(menu-list-item-background-color-disabled);
            color           : v(menu-list-item-color-disabled);
            opacity         : v(menu-list-item-opacity-disabled);

            .neo-icon {
                color: v(menu-list-item-icon-color-disabled);
            }
        }

        &.neo-selected {
            background-color: v(menu-list-item-background-color-selected);

            .neo-icon {
                color: v(menu-list-item-icon-color-selected);
            }
        }
    }

    &.neo-floating {
        box-shadow: v(menu-list-box-shadow);
        position  : absolute;
    }
}
