:root .neo-theme-neo-dark {
    --neo-app-content-sidenav-bg    : var(--sem-color-bg-neutral-default);
    --neo-app-content-sidenav-btn-bg: var(--sem-color-bg-neutral-default);
    --neo-app-content-sidenav-shadow: 0 5px 10px rgba(0,0,0,.5);
}
