:root .neo-theme-neo-dark {
    --neo-app-content-sections-bg             : var(--sem-color-bg-neutral-default);
    --neo-app-content-sections-btn-bg         : var(--sem-color-bg-neutral-default);
    --neo-app-content-sections-btn-disabled-bg: var(--sem-color-bg-neutral-disabled);
    --neo-app-content-sections-glyph-color    : var(--sem-color-icon-neutral-default);
    --neo-app-content-sections-shadow         : 0 5px 10px rgba(0,0,0,.5);
}
