:root .neo-theme-neo-dark {
    --neo-app-content-treelist-bold-color        : inherit;
    --neo-app-content-treelist-meta-color        : var(--white-off);
    --neo-app-content-treelist-ticket-title-color: var(--white-off);
}
