.portal-services-component {
    overflow-y: auto;
    padding   : 0.1em 6em 1em 6em;

    a {
        color: #3E63DD;
    }

    h1.neo-h1 {
        margin-left : auto;
        margin-right: auto;
        width       : fit-content;
    }

    .portal-content-box {
        margin-left : auto;
        margin-right: auto;
        margin-top  : 2em;
        max-width   : 800px;
    }

    @media (max-width: 600px) {
        padding: 0.1em 1em 1em 1em;

        .portal-content-box {
            padding: 0.1em 1em 1em 1em;
        }
    }
}
