.portal-services-component {
    background-color: #fff !important;
    overflow-y      : auto;
    padding         : 0.1em 6em 1em 6em;

    .info-block {
        background-color: lighten(#8BA6FF, 10%);
        border-radius   : 8px;
        box-shadow      : 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-left     : auto;
        margin-right    : auto;
        margin-top      : 2em;
        max-width       : 800px;
        padding         : 0.5em 3em 1em 3em;
    }

    h1 {
        margin-left : auto;
        margin-right: auto;
        width       : fit-content;
    }

    @media (max-width: 600px) {
        padding: 0.1em 1em 1em 1em;

        .info-block {
            padding: 0.1em 1em 1em 1em;
        }
    }
}
