:root .neo-theme-neo-dark {
    --highlight-background-color: #0d1117;
    --highlight-color: #c9d1d9;
    --highlight-comment-color: #8b949e;
    --highlight-keyword-color: #ff7b72;
    --highlight-number-color: #79c0ff;
    --highlight-string-color: #a5d6ff;
    --highlight-doctag-color: #79c0ff;
    --highlight-title-color: #d2a8ff;
    --highlight-type-color: #79c0ff;
    --highlight-tag-color: #7ee787;
    --highlight-regexp-color: #a5d6ff;
    --highlight-symbol-color: #79c0ff;
    --highlight-builtin-color: #ffa657;
    --highlight-meta-color: #8b949e;
    --highlight-deletion-background: #442c30;
    --highlight-addition-background: #243e30;
    --highlight-code-color: #c9d1d9;
    --highlight-params-color: #c9d1d9;
    --highlight-subst-color: #c9d1d9;
}