:root .neo-theme-neo-dark {
    --hljs-line-numbers-background-color: #0d1117;
    --hljs-line-numbers-border-right    : 1px solid #30363d;
    --hljs-line-numbers-color           : #484f58;
    --hljs-line-numbers-highlighted-line: #161b22 !important;
}