.website-blog-container {
    .website-blog-searchfield {
        transition: margin 250ms ease-out;
        width     : 240px;

        @media (max-height: 400px), (max-width: 600px) {
            margin: 5px;
        }

        @media (min-height: 401px) and (min-width: 601px) {
            margin: 10px;
        }
    }

    .website-blog-toolbar {
        background-color: v(toolbar-background-color);
    }
}