.website-blog-list.neo-list-container.neo-list {
    padding: 10px;

    .neo-list-item {
        border       : 1px solid #bbb;
        height       : 150px;
        margin-bottom: 10px;
        width        : 800px
    }
}