.website-blog-list.neo-list-container.neo-list {
    padding: 10px;

    .neo-list-item {
        border       : 1px solid #282829;
        display      : flex;
        height       : 400px;
        margin-bottom: 10px;
        padding      : 0;
        white-space  : normal;
        width        : 800px;

        .content {
            flex: 1;
        }

        .neo-absolute {
            position: absolute;
        }

        .neo-bold {
            font-weight: 600;
        }

        .neo-inner-content {
            color      : #fff;
            display    : inline-block;
            font-size  : 14px;
            margin-left: 10px;
        }

        .neo-full-size {
            height: 100%;
            width : 100%;
        }

        .neo-inner-details {
            line-height: 22px;
        }

        .neo-item-bottom-position {
            bottom: 0;
            left  : 0;
            margin: 30px 40px;
            right : 30%;
        }

        .neo-item-top-position {
            color     : #fff;
            font-size : 14px;
            margin    : 30px 40px;
            left      : 30%;
            right     : 0;
            text-align: end;
            top       : -400px;
        }

        .neo-relative {
            position: relative;
        }

        .neo-title {
            color      : #fff;
            font-size  : 34px;
            font-weight: 600;
            line-height: 1;
        }

        .neo-top-20 {
            align-items: center;
            display    : flex;
            margin-top : 20px;
        }

        .neo-user-image {
            border-radius: 50%;
            display      : inline-block;
            height       : 44px;
            width        : 44px;
        }

        .preview-image {
            background-blend-mode: overlay;
            background-color     : #333;
            background-position  : 50% 50%;
            background-size      : cover;
            height               : 100%;
        }
    }
}