.website-blog-list.neo-list-container.neo-list {
    transition: padding 250ms ease-out;

    .neo-list-item {
        border     : 1px solid #282829;
        cursor     : default;
        display    : flex;
        max-width  : 800px;
        padding    : 0;
        transition : height 250ms ease-out, margin-bottom 250ms ease-out;
        white-space: normal;
        width      : 100%;

        .content {
            flex: 1;
        }

        .neo-absolute {
            position: absolute;
        }

        .neo-bold {
            font-weight: 600;
        }

        .neo-inner-content {
            color      : #fff;
            display    : inline-block;
            margin-left: 10px;
            text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
            transition : font-size 250ms ease-out;
        }

        .neo-full-size {
            height: 100%;
            width : 100%;
        }

        .neo-inner-details {
            transition: line-height 250ms ease-out;
        }

        .neo-item-bottom-position {
            bottom    : 0;
            left      : 0;
            transition: margin 250ms ease-out;
        }

        .neo-item-top-position {
            color      : #fff;
            font-size  : 16px;
            margin     : 30px 40px;
            left       : 30%;
            right      : 0;
            text-align : end;
            text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
        }

        .neo-relative {
            position: relative;
        }

        .neo-title {
            color          : #fff;
            font-weight    : 600;
            line-height    : 1;
            text-decoration: none;
            text-shadow    : 1px 1px 1px #000, 1px 1px 1px #fff;
            transition     : font-size 250ms ease-out;
        }

        .neo-top-20 {
            align-items: center;
            display    : flex;
            margin-top : 20px;
        }

        .neo-user-image {
            border-radius: 50%;
            display      : inline-block;
            transition   : height 250ms ease-out, width 250ms ease-out;
        }

        .preview-image {
            background-blend-mode: overlay;
            background-position  : 50% 50%;
            background-size      : cover;
            height               : 100%;
        }
    }

    @media (max-height: 400px), (max-width: 600px) {
        padding: 5px;

        .neo-inner-content {
            font-size: 12px;
        }

        .neo-inner-details {
            line-height: 16px;
        }

        .neo-item-bottom-position {
            margin: 9px 12px;
            right : 15%;
        }

        .neo-item-top-position {
            top: -300px;
        }

        .neo-list-item {
            height       : 300px;
            margin-bottom: 5px;
        }

        .neo-title {
            font-size: 20px;
        }

        .neo-user-image {
            height: 30px;
            width : 30px;
        }
    }

    @media (min-height: 401px) and (min-width: 601px) {
        padding: 10px;

        .neo-inner-content {
            font-size: 16px;
        }

        .neo-inner-details {
            line-height: 22px;
        }

        .neo-item-bottom-position {
            margin: 30px 40px;
            right : 30%;
        }

        .neo-item-top-position {
            top: -400px;
        }

        .neo-list-item {
            height       : 400px;
            margin-bottom: 10px;
        }

        .neo-title {
            font-size: 34px;
        }

        .neo-user-image {
            height: 44px;
            width : 44px;
        }
    }
}