.rw2-main-container {
    .rw2-home-container {
        .banner {
            background: #5cb85c;
            box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
        }

        .banner h1 {
            font-size     : 3.5rem;
            font-weight   : 700!important;
            padding-bottom: .5rem;
            text-align    : center;
            text-shadow   : 0 1px 3px rgba(0,0,0,.3);
        }

        .banner p {
            color        : #fff;
            font-size    : 1.5rem;
            font-weight  : 300!important;
            margin-bottom: 0;
            text-align   : center;
        }
    }
}