.rw2-main-container {
    background-color: #fff;
    color           : #373a3c;
    font-family     : source sans pro,sans-serif;
    font-size       : 1rem;
    line-height     : 1.5;

    @media (min-width: 544px)  { .container {max-width: 576px; } }
    @media (min-width: 768px)  { .container {max-width: 720px; } }
    @media (min-width: 992px)  { .container {max-width: 940px; } }
    @media (min-width: 1200px) { .container {max-width: 1140px;} }

    h1 {
        font-size: 2em;
        margin   : .67em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        margin-top   : 0;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color        : inherit;
        font-family  : inherit;
        font-weight  : 500;
        line-height  : 1.1;
        margin-bottom: .5rem;
    }

    p {
        margin-bottom: 1rem;
        margin-top   : 0;
    }

    .article-meta {
        display    : block;
        font-weight: 300;
        position   : relative;

        img {
            border-radius : 30px;
            display       : inline-block;
            height        : 32px;
            vertical-align: middle;
            width         : 32px;
        }

        .info {
            display       : inline-block;
            line-height   : 1rem;
            margin        : 0 1.5rem 0 .3rem;
            vertical-align: middle;
        }
    }

    .banner {
        background   : #333;
        color        : #fff;
        margin-bottom: 2rem;
        padding      : 2rem;
    }

    .banner h1 {
        text-shadow  : 0 1px 3px rgba(0,0,0,.3);
        margin-bottom: 0;
    }

    .container {
        margin-left  : auto;
        margin-right : auto;
        padding-left : 15px;
        padding-right: 15px;
    }

    .logo-font {
        font-family   : "Titillium Web", sans-serif;
        vertical-align: middle;
    }
}