.rw2-footer-component {
    background : #f3f3f3;
    bottom     : 0;
    font-family: source sans pro,sans-serif;
    font-size  : 1rem;
    line-height: 1.5;
    padding    : .4rem 0;

    .attribution {
        color         : #666;
        font-size     : 0.8rem;
        font-weight   : 300;
        margin-left   : 10px;
        vertical-align: middle;
    }
}