:root .neo-theme-neo-dark { // .neo-box-label
    --boxlabel-background-color: var(--sem-color-surface-neutral-default);
    --boxlabel-border          : 1px solid var(--sem-color-border-default);
    --boxlabel-color           : var(--sem-color-text-neutral-default);
}
