:root .neo-theme-neo-dark { // .neo-chip
    --chip-align-items             : center;
    --chip-border                  : 1px solid var(--sem-color-border-default);
    --chip-border-color-focus      : var(--sem-color-border-focus);
    --chip-border-radius           : 15px;
    --chip-close-button-color      : var(--sem-color-icon-neutral-subdued);
    --chip-close-button-color-hover: var(--sem-color-icon-primary-default);
    --chip-glyph-color             : var(--sem-color-icon-primary-default);
    --chip-height                  : 30px;
    --chip-justify-content         : center;
    --chip-text-align              : left;
    --chip-text-color              : var(--sem-color-text-neutral-default);
    --chip-text-font-size          : 12px;
}
