:root .neo-theme-neo-dark {
    --process-arrow-color     : var(--yellow-700);
    --process-background-color: var(--sem-color-surface-neutral-default);
    --process-icon-color      : var(--yellow-600);
    --process-icon-size       : 2rem;
    --process-shadow-color    : rgba(0, 0, 0, .5);
    --process-text-color      : var(--sem-color-text-neutral-subdued);
    --process-title-color     : var(--sem-color-text-neutral-default);
}
