:root .neo-theme-neo-dark { // .neo-splitter
    --splitter-background-color : var(--gray-800);
    --splitter-border           : none;
    --splitter-border-radius    : 5px;
    --splitter-hover-color      : var(--purple-500);
    --splitter-margin-horizontal: 2px 8px;
    --splitter-margin-vertical  : 8px 2px;
}
