.neo-calendar-timeaxis {
    background-position-x: 100%;
    background-position-y: 0;
    background-repeat    : repeat-y;
    flex                 : none;
    height               : 1008px; // todo: dynamic height
    max-height           : 1008px; // todo: dynamic height
    width                : 50px;

    .neo-c-w-timeaxis-item {
        align-items    : center;
        color          : #999;
        display        : flex;
        font-size      : 10px;
        justify-content: center;
    }
}