.neo-calendar-weekcomponent {
    align-items   : stretch;
    display       : flex;
    flex-direction: column;
    overflow      : hidden;
    position      : relative;

    &.neo-timeaxis-end {
        .neo-c-w-column{
            border-left : 1px solid v(c-w-border-color);
            border-right: none;

            &:first-child {
                border-left: 1px solid transparent;
            }

            &:last-child {
                border-right: none;
            };
        }

        .neo-header-row {
            margin-left : unset;
            margin-right: 50px;
        }

        .neo-scroll-overlay {
            left : unset;
            right: 0;
        }
    }

    .neo-c-w-scrollcontainer {
        display       : flex;
        flex          : 1 1 100%;
        flex-direction: column;
        overflow      : auto;
    }

    .neo-c-w-column{
        border-right  : 1px solid v(c-w-border-color);
        display       : flex;
        flex          : 1 0 calc(100% / 21);
        flex-direction: column;
        overflow      : hidden;
        position      : relative;

        &:last-child {
            border-right: 1px solid transparent;
        }

        &.neo-weekend {
            background-color: v(c-w-weekend-background-color);
        }

        .neo-event {
            background-color: rgba(255, 0, 0, 0.2);
            border-left     : 2px solid red;
            border-right    : 1px solid transparent;
            padding         : 5px;
            position        : absolute;

            transition-duration       : 400ms;
            transition-property       : height, top, width;
            transition-timing-function: ease-out;
        }
    }

    .neo-c-w-column-timeaxis-container {
        align-items: stretch;
        display    : flex;
        flex       : 1 0 100%;
        min-width  : calc(300% - 100px);
    }

    .neo-c-w-column-container {
        align-items: stretch;
        display    : flex;
        flex       : 1 1 100%;
    }

    .neo-header-row-item {
        align-items     : center;
        background-color: v(c-w-header-background-color);
        border-bottom   : 1px solid v(c-w-border-color);
        cursor          : pointer;
        display         : flex;
        flex            : 1 0 calc(100% / 7);
        flex-direction  : column;
        height          : 4.7em; // we need a fixed height for the bg margin top
        justify-content : center;
        padding-bottom  : 0.3125em;
        padding-top     : 0.625em;

        &:hover {
            .neo-date {
                background-color: v(c-w-header-date-background-color-hover);
                color           : v(c-w-header-date-color-hover);
            }
        }

        .neo-date {
            align-items    : center;
            border-radius  : 50%;
            color          : v(c-w-header-date-color);
            display        : flex;
            font-size      : 1.6em;
            height         : 1.62em;
            justify-content: center;
            transition     : background-color 100ms ease-out;
            width          : 1.62em;

            &.neo-today {
                background-color: v(c-w-header-today-background-color);
                color           : v(c-w-header-today-color);
            }
        }

        .neo-day {
            color        : v(c-w-header-day-color);
            font-size    : .7em;
            margin-bottom: .3em;
        }
    }

    .neo-header-row {
        display    : flex;
        flex       : none;
        margin-left: 50px;
        position   : sticky;
        top        : 0;
        z-index    : 100;
    }

    .neo-scroll-overlay {
        background-color: v(c-w-header-background-color);
        height          : 4.4em;
        left            : 0;
        position        : absolute;
        top             : 0;
        width           : 51px;
        z-index         : 500;
    }
}