.neo-calendar-yearcomponent {
    display       : flex;
    flex-direction: column;
    font-size     : 0.9em;

    .neo-header {
        color      : #1c60a0;
        font-size  : 1.3em;
        font-weight: 600;
        padding    : 0.4em 0.8em;
    }

    .neo-months-container {
        display  : flex;
        flex     : 1;
        flex-wrap: wrap;

        .neo-month {
            flex-basis: 25%;
            padding   : 0 1em 2em 1em;
        }
    }

    .neo-calendar-week {
        display: flex;
        height : 2em;

        .neo-cell {
            align-items    : center;
            display        : flex;
            flex           : 1;
            justify-content: center;
        }

        .neo-top-left-spacer {

        }

        .neo-weekday-cell {

        }

        .neo-weeknumber-cell {
            background-color: #f2f2f2;
        }
    }
}