.neo-calendar-yearcomponent {
    display       : flex;
    flex-direction: column;
    font-size     : 0.9em;

    .neo-year-header {
        color        : v(calendar-yearcomponent-year-color);
        font-size    : 1.3em;
        font-weight  : 600;
        margin-bottom: .5em;
        padding      : .4em .8em;
    }

    .neo-month-name {
        color        : v(calendar-yearcomponent-month-color);
        font-size    : 1.3em;
        margin-bottom: .5em;
    }

    .neo-months-container {
        align-content: flex-start;
        display      : flex;
        flex         : 1;
        flex-wrap    : wrap;
        overflow-y   : auto;

        .neo-month {
            flex-basis: 25%;
            min-width : 18em;
            padding   : 0 2em 4em;
        }
    }

    .neo-calendar-week {
        display: flex;
        height : 2em;

        .neo-cell {
            align-items    : center;
            color          : v(calendar-yearcomponent-cell-color);
            display        : flex;
            flex           : 1;
            font-weight    : 400;
            justify-content: center;

            &:focus {
                outline: 0;

                .neo-cell-content {
                    background-color: #1c60a0;
                    color           : #fff;
                    font-weight     : 900;
                }
            }
        }

        .neo-cell-content {
            align-items    : center;
            border-radius  : 50%;
            cursor         : pointer;
            display        : flex;
            height         : 1.8em;
            width          : 1.8em;
            justify-content: center;

            &.neo-today {
                background-color: red;
                color           : #fff;
                font-weight     : 900;
            }
        }

        .neo-top-left-spacer {

        }

        .neo-weekday-cell {

        }

        .neo-weeknumber-cell {
            background-color: v(calendar-yearcomponent-week-background-color);
            color           : v(calendar-yearcomponent-week-color);
        }
    }
}