.neo-calendar-maincontainer {
    .neo-calendar-header-toolbar {
        border-bottom: 1px solid v(calendar-border-color);

        &.neo-left {
            padding-right: 0;
        }
    }

    .neo-calendar-sidebar {
        border-right: 1px solid v(calendar-border-color);
        transition  : margin-left 350ms ease-out;
    }

    .neo-dateselector {
        .neo-dateselector-content {
            border-right: 0;
        }

        .neo-dateselector-header {
            border-right: 0;
            border-top  : 0;
        }
    }
}

.neo-event {
    &.neo-blue {
        background-color: v(event-blue-background-color);
        border-left     : 2px solid v(event-blue-color);
        color           : v(event-blue-color);

        &.neo-focus {
            background-color: v(event-blue-background-color-focus);
        }
    }

    &.neo-green {
        background-color: v(event-green-background-color);
        border-left     : 2px solid v(event-green-color);
        color           : v(event-green-color);

        &.neo-focus {
            background-color: v(event-green-background-color-focus);
        }
    }

    &.neo-orange {
        background-color: v(event-orange-background-color);
        border-left     : 2px solid v(event-orange-color);
        color           : v(event-orange-color);

        &.neo-focus {
            background-color: v(event-orange-background-color-focus);
        }
    }

    &.neo-pink {
        background-color: v(event-pink-background-color);
        border-left     : 2px solid v(event-pink-color);
        color           : v(event-pink-color);

        &.neo-focus {
            background-color: v(event-pink-background-color-focus);
        }
    }

    &.neo-red {
        background-color: v(event-red-background-color);
        border-left     : 2px solid v(event-red-color);
        color           : v(event-red-color);

        &.neo-focus {
            background-color: v(event-red-background-color-focus);
        }
    }
}
