.neo-calendar-maincontainer {
    .neo-calendar-header-toolbar {
        border-bottom: 1px solid v(calendar-border-color);

        &.neo-left {
            padding-right: 0;
        }
    }

    .neo-calendar-sidebar {
        border-right: 1px solid v(calendar-border-color);
        transition  : margin-left 350ms ease-out;
    }

    .neo-dateselector {
        .neo-dateselector-content {
            border-right: 0;
        }

        .neo-dateselector-header {
            border-right: 0;
            border-top  : 0;
        }
    }
}

.neo-event {
    &.neo-blue {
        background-color: rgba(104, 169, 217, 0.1);
        border-left     : 2px solid rgb(104, 169, 217);
        color           : rgb(104, 169, 217);

        &.neo-focus {
            background-color: rgba(104, 169, 217, 0.6);
        }
    }

    &.neo-red {
        background-color: rgba(255, 0, 0, 0.1);
        border-left     : 2px solid rgb(255, 0, 0);
        color           : rgb(255, 0, 0);

        &.neo-focus {
            background-color: rgba(255, 0, 0, 0.6);
        }
    }
}
