.neo-calendar-maincontainer {
    .neo-calendar-header-toolbar {
        border-bottom: 1px solid var(--calendar-border-color);

        &.neo-left {
            padding-right: 0;
        }
    }

    .neo-calendar-sidebar {
        border-right: 1px solid var(--calendar-border-color);
        transition  : margin-left 350ms ease-out;
    }

    .neo-dateselector {
        .neo-dateselector-content {
            border-right: 0;
        }

        .neo-dateselector-header {
            border-right: 0;
            border-top  : 0;
        }
    }
}

.neo-button {
    &.neo-red {
        &:hover {
            border-color: red;
        }

        .neo-button-glyph {
            color: red;
        }

        .neo-button-text {
            color: red;
        }
    }
}

.neo-event {
    transition:
        background-color .15s ease-out,
        border-color     .15s ease-out,
        color            .15s ease-out;

    &.neo-blue {
        background-color: var(--event-blue-background-color);
        border-left     : 2px solid var(--event-blue-color);
        color           : var(--event-blue-color);

        &.neo-focus {
            background-color: var(--event-blue-background-color-focus);
        }

        .neo-resizable {
            color: var(--event-blue-color);
        }
    }

    &.neo-green {
        background-color: var(--event-green-background-color);
        border-left     : 2px solid var(--event-green-color);
        color           : var(--event-green-color);

        &.neo-focus {
            background-color: var(--event-green-background-color-focus);
        }

        .neo-resizable {
            color: var(--event-green-color);
        }
    }

    &.neo-orange {
        background-color: var(--event-orange-background-color);
        border-left     : 2px solid var(--event-orange-color);
        color           : var(--event-orange-color);

        &.neo-focus {
            background-color: var(--event-orange-background-color-focus);
        }

        .neo-resizable {
            color: var(--event-orange-color);
        }
    }

    &.neo-pink {
        background-color: var(--event-pink-background-color);
        border-left     : 2px solid var(--event-pink-color);
        color           : var(--event-pink-color);

        &.neo-focus {
            background-color: var(--event-pink-background-color-focus);
        }

        .neo-resizable {
            color: var(--event-pink-color);
        }
    }

    &.neo-red {
        background-color: var(--event-red-background-color);
        border-left     : 2px solid var(--event-red-color);
        color           : var(--event-red-color);

        &.neo-focus {
            background-color: var(--event-red-background-color-focus);
        }

        .neo-resizable {
            color: var(--event-red-color);
        }
    }

    &.neo-yellow {
        background-color: var(--event-yellow-background-color);
        border-left     : 2px solid var(--event-yellow-border-color);
        color           : var(--event-yellow-color);

        &.neo-focus {
            background-color: var(--event-yellow-background-color-focus);
            color           : var(--event-yellow-color-focus) !important;

            .neo-resizable {
                color: var(--event-yellow-color-focus) !important;
            }
        }

        .neo-resizable {
            color: var(--event-yellow-color);
        }
    }
}

.neo-event-border-all-sides {
    .neo-event {
        border-radius: 3px;

        &.neo-blue {
            border: 1px solid var(--event-blue-color);
        }

        &.neo-green {
            border: 1px solid var(--event-green-color);
        }

        &.neo-orange {
            border: 1px solid var(--event-orange-color);
        }

        &.neo-pink {
            border: 1px solid var(--event-pink-color);
        }

        &.neo-red {
            border: 1px solid var(--event-red-color);
        }

        &.neo-yellow {
            border: 1px solid var(--event-yellow-border-color);
        }
    }
}

.neo-event-border-right {
    .neo-event {
        &.neo-blue {
            border-left : 0;
            border-right: 2px solid var(--event-blue-color);
        }

        &.neo-green {
            border-left : 0;
            border-right: 2px solid var(--event-green-color);
        }

        &.neo-orange {
            border-left : 0;
            border-right: 2px solid var(--event-orange-color);
        }

        &.neo-pink {
            border-left : 0;
            border-right: 2px solid var(--event-pink-color);
        }

        &.neo-red {
            border-left : 0;
            border-right: 2px solid var(--event-red-color);
        }

        &.neo-yellow {
            border-left : 0;
            border-right: 2px solid var(--event-yellow-border-color);
        }
    }
}
