.neo-calendar-settingscontainer {
    border-left: 1px solid var(--calendar-border-color);
    transition : margin-right 350ms ease-out;

    .neo-layout-card-item {
        overflow-y: auto;
    }

    .neo-tab-content-container {
        border: 0 !important;
    }
}

// todo: move into a better spot
.neo-header {
    align-items     : center;
    background-color: var(--calendar-settings-header-background-color);
    color           : var(--calendar-settings-header-color);
    display         : flex;
    padding         : 0 10px;

    .fa {
        font-size   : 18px;
        margin-right: 5px;
    }
}
