@use "sass:color";

:root .neo-theme-neo-dark { // .neo-table-header-button
    --table-header-button-background-color       : var(--sem-color-surface-neutral-highlighted);
    --table-header-button-background-image       : none;
    --table-header-button-color                  : var(--sem-color-text-neutral-default);
    --table-header-button-glyph-color            : var(--sem-color-icon-neutral-default);
    --table-header-button-ripple-background-color: var(--sem-color-surface-neutral-hover);
}