$neoMap: map-merge($neoMap, (
    --menu-list-border-color                  : #1c60a0;
    --menu-list-box-shadow                    : 0 5px 10px rgba(0,0,0,.4);
    --menu-list-item-background-color         : inherit;
    --menu-list-item-background-color-disabled: inherit;
    --menu-list-item-background-color-hover   : inherit;
    --menu-list-item-background-color-selected: inherit;
    --menu-list-item-color                    : inherit;
    --menu-list-item-font-family              : inherit;
    --menu-list-item-font-weight              : inherit;
    --menu-list-item-icon-color               : #1c60a0;
    --menu-list-item-icon-color-disabled      : #1c60a0;
    --menu-list-item-icon-color-selected      : #1c60a0;
    --menu-list-item-icon-gap                 : .4em;
    --menu-list-item-height                   : inherit;
    --menu-list-item-line-height              : inherit;
    --menu-list-item-opacity-disabled         : inherit;
    --menu-list-item-outline-focus            : none;
    --menu-list-item-padding                  : 5px;
    --menu-list-item-text-transform           : inherit
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-menu-list
        --menu-list-border-color                  : #{neo(menu-list-border-color)};
        --menu-list-box-shadow                    : #{neo(menu-list-box-shadow)};
        --menu-list-item-background-color         : #{neo(menu-list-item-background-color)};
        --menu-list-item-background-color-disabled: #{neo(menu-list-item-background-color-disabled)};
        --menu-list-item-background-color-hover   : #{neo(menu-list-item-background-color-hover)};
        --menu-list-item-background-color-selected: #{neo(menu-list-item-background-color-selected)};
        --menu-list-item-color                    : #{neo(menu-list-item-color)};
        --menu-list-item-font-family              : #{neo(menu-list-item-font-family)};
        --menu-list-item-font-weight              : #{neo(menu-list-item-font-weight)};
        --menu-list-item-icon-color               : #{neo(menu-list-item-icon-color)};
        --menu-list-item-icon-color-disabled      : #{neo(menu-list-item-icon-color-disabled)};
        --menu-list-item-icon-color-selected      : #{neo(menu-list-item-icon-color-selected)};
        --menu-list-item-icon-gap                 : #{neo(menu-list-item-icon-gap)};
        --menu-list-item-height                   : #{neo(menu-list-item-height)};
        --menu-list-item-line-height              : #{neo(menu-list-item-line-height)};
        --menu-list-item-opacity-disabled         : #{neo(menu-list-item-opacity-disabled)};
        --menu-list-item-outline-focus            : #{neo(menu-list-item-outline-focus)};
        --menu-list-item-padding                  : #{neo(menu-list-item-padding)};
        --menu-list-item-text-transform           : #{neo(menu-list-item-text-transform)};
    }
}
