$neoMap: map-merge($neoMap, (
    --menu-border-color: #1c60a0
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-menu
        --menu-border-color: #{neo(menu-border-color)};
    }
}
