:root .neo-theme-neo-dark {
    --gh-badge-bg       : var(--sem-color-bg-neutral-highlighted);
    --gh-badge-border   : var(--sem-color-border-subtle);
    --gh-bg-default     : var(--sem-color-bg-neutral-default);
    --gh-bg-subtle      : var(--sem-color-bg-neutral-active);
    --gh-border-default : var(--sem-color-border-default);
    --gh-icon-muted     : var(--sem-color-icon-neutral-subdued);
    --gh-state-closed-bg: #a371f7;
    --gh-state-open-bg  : #3fb950;
    --gh-text-inverse   : #ffffff;
    --gh-text-primary   : var(--sem-color-text-neutral-default);
    --gh-text-secondary : var(--sem-color-text-neutral-subdued);
}
