:root .neo-theme-dark { // .neo-tooltip
    --tooltip-bg            : black;
    --tooltip-border        : 1px solid grey;
    --tooltip-borderradius  : 4px;
    --tooltip-boxshadow     : none;
    --tooltip-color         : white;
    --tooltip-fontsize      : 14px;
    --tooltip-height        : 24px;
    --tooltip-padding       : 2px 8px 0;
}
