.neo-panel {
    border: 1px solid v(panel-border-color);

    .neo-panel-header-text {
        color      : v(panel-header-text-color);
        font-size  : 16px;
        font-weight: 600;
    }

    .neo-toolbar {
        border: 1px solid #3c3f41;
    }
}