.neo-dateselector.neo-container {
    background-color: var(--dateselector-background-color);
    color           : var(--dateselector-color);
    font-size       : 16px; // todo: em-based once table headers are em based
    font-weight     : 400;
    user-select     : none;

    .date-card {
        border: 1px solid var(--dateselector-border-color);
    }

    .header-toolbar {
        background-color: var(--dateselector-header-background-color);
        border          : 1px solid var(--dateselector-border-color);
        border-bottom   : var(--dateselector-header-border-bottom);
        min-height      : 30px;
    }
}
