.neo-container-dialog {
    padding: 0;
    z-index: 100;
    
    &:not([open]) {
        display: none;
    }

    .neo-header-toolbar {
        padding: 1em;
        align-items: baseline;

        .neo-dialog-header-icon {
            font-size: 16px;
            margin-right: .25em;
        }
    }

    .neo-dialog-content {
        padding: 1em;
    }
}