$neoMap: map-merge($neoMap, (
    'toolbar-background-color': #323232,
    'toolbar-padding'         : 5px
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-toolbar
        --toolbar-background-color: #{neo(toolbar-background-color)};
        --toolbar-padding         : #{neo(toolbar-padding)};
    }
}