:root .neo-theme-dark { // .neo-accordion-item
    --accordion-item-arrow-bg-color  : #323232;
    --accordion-item-arrow-shadow    : 0 4px 16px rgba(0 0 0 / .15);
    --accordion-item-bg-color        : #212121;
    --accordion-item-border-color    : #333;
    --accordion-item-content-bg-color: #050505;
    --accordion-item-header-height   : 50px;
    --accordion-item-radius          : 5px;
    --accordion-item-shadow          : 0 4px 8px rgba(0 0 0 / .5);
}
