:root .neo-theme-light { // .website-header-container
    --website-header-button-background-image: linear-gradient(#fff,#ccc);
    --website-header-button-glyph-color     : #1c60a0;
    --website-header-button-border          : 1px solid #ddd;
}
