<!DOCTYPE HTML>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>COVID19 Gallery</title>
</head>
<body>
    <script>
        Neo = self.Neo || {}; Neo.config = Neo.config || {};

        Object.assign(Neo.config, {
            appPath       : 'examples/component/coronaGallery/app.mjs',
            basePath      : '../../../',
            environment   : 'development',
            isExperimental: true,
            themes        : ['neo-theme-dark']
        });
    </script>

    <script src="../../../src/Main.mjs" type="module"></script>
</body>
</html>