$neoMap: map-merge($neoMap, (
    'radiofield-color'        : #aaa,
    'radiofield-checked-color': #1c60a0
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-radiofield
        --radiofield-color        : #{neo(radiofield-color)};
        --radiofield-checked-color: #{neo(radiofield-checked-color)};
    }
}