:root .neo-theme-light { // .neo-fileuploadfield
    --fileuploadfield-background-color        : #fff;
    --fileuploadfield-border-color            : #d5d5d5;
    --fileuploadfield-color                   : #000;
    --fileuploadfield-downloadable-state-color: #d9d9d9;
    --fileuploadfield-error-color             : #f00;
    --fileuploadfield-focus-color             : #80d3f4;
    --fileuploadfield-hover-color             : #f0f0f0;
    --fileuploadfield-pressed-color           : #e0e0e0;
    --fileuploadfield-progress-color          : #5d94f3;
    --fileuploadfield-success-color           : rgb(112, 169, 112);
}
