$neoMap: map-merge($neoMap, (
    'switchfield-checked'         : green,
    'switchfield-background-color': darkgrey,
    'switchfield-inactive-color'  : grey,
    'switchfield-active-color'    : white,
    'switchfield-thumb-color'     : white
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-switchfield
        --switchfield-checked         : #{neo(switchfield-checked)};
        --switchfield-background-color: #{neo(switchfield-background-color)};
        --switchfield-inactive-color  : #{neo(switchfield-inactive-color)};
        --switchfield-active-color    : #{neo(switchfield-active-color)};
        --switchfield-thumb-color     : #{neo(switchfield-thumb-color)};
    }
}
