$neoMap: map-merge($neoMap, (
    'textfield-border-color'             : #ddd,
    'textfield-border-color-active'      : #1c60a0,
    'textfield-border-color-invalid'     : brown,
    'textfield-border-radius'            : 3px,
    'textfield-border-width'             : 1px,
    'textfield-input-background-color'   : #fff,
    'textfield-input-color'              : #000,
    'textfield-input-placeholder-color'  : #333,
    'textfield-input-placeholder-opacity': 0.6,
    'textfield-label-color'              : #666,
    'textfield-label-top-margin'         : 0 0 3px
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-textfield
        --textfield-border-color             : #{neo(textfield-border-color)};
        --textfield-border-color-active      : #{neo(textfield-border-color-active)};
        --textfield-border-color-invalid     : #{neo(textfield-border-color-invalid)};
        --textfield-border-radius            : #{neo(textfield-border-radius)};
        --textfield-border-width             : #{neo(textfield-border-width)};
        --textfield-input-background-color   : #{neo(textfield-input-background-color)};
        --textfield-input-color              : #{neo(textfield-input-color)};
        --textfield-input-placeholder-color  : #{neo(textfield-input-placeholder-color)};
        --textfield-input-placeholder-opacity: #{neo(textfield-input-placeholder-opacity)};
        --textfield-label-color              : #{neo(textfield-label-color)};
        --textfield-label-top-margin         : #{neo(textfield-label-top-margin)};
    }
}
