$neoMap: map-merge($neoMap, (
    --textfield-border-color                   : #ddd;
    --textfield-border-color-active            : #1c60a0;
    --textfield-border-color-disabled          : #ddd;
    --textfield-border-color-hovered           : #ddd;
    --textfield-border-color-invalid           : brown;
    --textfield-border-color-readonly          : #ddd;
    --textfield-border-radius                  : 3px;
    --textfield-border-width                   : 1px;
    --textfield-input-background-color         : #fff;
    --textfield-input-background-color-disabled: #fff;
    --textfield-input-background-color-readonly: #fbfbfb;
    --textfield-input-color                    : #000;
    --textfield-input-color-disabled           : #000;
    --textfield-input-color-readonly           : #000;
    --textfield-input-font                     : 400 13px/17px Arial;
    --textfield-input-height                   : 25px;
    --textfield-input-padding                  : 3px 6px 2px;
    --textfield-input-placeholder-color        : #333;
    --textfield-input-placeholder-opacity      : 0.6;
    --textfield-label-color                    : #666;
    --textfield-label-color-disabled           : #666;
    --textfield-label-color-readonly           : #666;
    --textfield-label-top-margin               : 0 0 3px;
    --textfield-opacity-disabled               : #{neo(neo-disabled-opacity)};
    --textfield-opacity-readonly               : 1;
    --textfield-outline-active                 : none;
    --textfield-outline-hovered                : none;
    --textfield-sublabel-color                 : #666;
    --textfield-sublabel-font-size             : 12px;
    --textfield-sublabel-margin                : 0 0 5px
));

@if $useCssVars == true {
    :root .neo-theme-light { // .neo-textfield
        --textfield-border-color                   : #{neo(textfield-border-color)};
        --textfield-border-color-active            : #{neo(textfield-border-color-active)};
        --textfield-border-color-disabled          : #{neo(textfield-border-color-disabled)};
        --textfield-border-color-hovered           : #{neo(textfield-border-color-hovered)};
        --textfield-border-color-invalid           : #{neo(textfield-border-color-invalid)};
        --textfield-border-color-readonly          : #{neo(textfield-border-color-readonly)};
        --textfield-border-radius                  : #{neo(textfield-border-radius)};
        --textfield-border-width                   : #{neo(textfield-border-width)};
        --textfield-input-background-color         : #{neo(textfield-input-background-color)};
        --textfield-input-background-color-disabled: #{neo(textfield-input-background-color-disabled)};
        --textfield-input-background-color-readonly: #{neo(textfield-input-background-color-readonly)};
        --textfield-input-color                    : #{neo(textfield-input-color)};
        --textfield-input-color-disabled           : #{neo(textfield-input-color-disabled)};
        --textfield-input-color-readonly           : #{neo(textfield-input-color-readonly)};
        --textfield-input-font                     : #{neo(textfield-input-font)};
        --textfield-input-height                   : #{neo(textfield-input-height)};
        --textfield-input-padding                  : #{neo(textfield-input-padding)};
        --textfield-input-placeholder-color        : #{neo(textfield-input-placeholder-color)};
        --textfield-input-placeholder-opacity      : #{neo(textfield-input-placeholder-opacity)};
        --textfield-label-color                    : #{neo(textfield-label-color)};
        --textfield-label-color-disabled           : #{neo(textfield-label-color-disabled)};
        --textfield-label-color-readonly           : #{neo(textfield-label-color-readonly)};
        --textfield-label-top-margin               : #{neo(textfield-label-top-margin)};
        --textfield-opacity-disabled               : #{neo(textfield-opacity-disabled)};
        --textfield-opacity-readonly               : #{neo(textfield-opacity-readonly)};
        --textfield-outline-active                 : #{neo(textfield-outline-active)};
        --textfield-outline-hovered                : #{neo(textfield-outline-hovered)};
        --textfield-sublabel-color                 : #{neo(textfield-sublabel-color)};
        --textfield-sublabel-font-size             : #{neo(textfield-sublabel-font-size)};
        --textfield-sublabel-margin                : #{neo(textfield-sublabel-margin)};
    }
}
