.neo-tab-container {
    &.neo-bottom {
        > .neo-tab-content-container {
            border-bottom: 0;
        }
    }

    &.neo-left {
        > .neo-tab-content-container {
            border-left: 0;
        }
    }

    &.neo-right {
        > .neo-tab-content-container {
            border-right: 0;
        }
    }

    &.neo-top {
        > .neo-tab-content-container {
            border-top: 0;
        }
    }
}

.neo-tab-container-plain {

}

.neo-tab-content-container {
    border: v(tab-container-content-border);
}

.neo-tab-header-toolbar {
    background-color: transparent;
    padding         : 0;
}