.neo-tab-container {
    &.neo-bottom {
        > .neo-tab-body-container {
            border-bottom: 0;
        }
    }

    &.neo-left {
        > .neo-tab-body-container {
            border-left: 0;
        }
    }

    &.neo-right {
        > .neo-tab-body-container {
            border-right: 0;
        }
    }

    &.neo-top {
        > .neo-tab-body-container {
            border-top: 0;
        }
    }

    &.neo-tab-container-plain {

    }

    .neo-tab-body-container {
        border  : var(--tab-container-content-border);
        overflow: hidden;
    }
}
