.neo-tab-strip {
    background-color: var(--tab-strip-background-color);
    height          : var(--tab-strip-height);
    overflow        : hidden;

    .neo-active-tab-indicator {
        background-color   : var(--tab-indicator-background-color-active);
        height             : var(--tab-strip-height);
        opacity            : 0;
        position           : absolute;
        transition         : all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: left, width;
        will-change        : height, left, top, width;
    }

    &.neo-dock-left, &.neo-dock-right {
        height: inherit;
        width : var(--tab-strip-height);

        .neo-active-tab-indicator {
            height             : inherit;
            transition-property: height, top;
            width              : var(--tab-strip-height) !important;
        }
    }
}
