:root .neo-theme-light { // .neo-dialog
    --dialog-border-color: #ddd;
    --dialog-box-shadow  : 0 5px 10px rgba(0,0,0,.4);
    --dialog-header-color: #1c60a0;
    --dialog-icon-color  : #1c60a0;
}
