$neoMap: map-merge($neoMap, (
    'menu-list-border-color': #64B5F6,
    'menu-list-box-shadow'  : 0 5px 10px rgba(0,0,0,.4),
    'menu-list-icon-color'  : #64B5F6
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-menu-list
        --menu-list-border-color: #{neo(menu-list-border-color)};
        --menu-list-box-shadow  : #{neo(menu-list-box-shadow)};
        --menu-list-icon-color  : #{neo(menu-list-icon-color)};
    }
}
