:root .neo-theme-cyberpunk {
    --agent-priority-warning-color         : orange;
    --agent-priority-warning-color-selected: #000;
    --agent-priority-error-color           : red;
    --agent-priority-error-color-selected  : #000;
}