:root .neo-theme-neo-light {
    .portal-home-footer-container {
        --portal-footer-background-color: var(--sem-color-bg-neutral-strong);
        --portal-footer-text-color: var(--sem-color-text-neutral-default);
        --portal-footer-button-hover-background-color: rgba(0, 0, 0, 0.05);
        --portal-footer-highlight-color: var(--portal-headline-primary);
    }
}
