.portal-blog-container {
    .portal-blog-searchfield {
        transition: margin var(--portal-transition-duration) ease-out;
        width     : 240px;

        @media (max-height: 400px), (max-width: 600px) {
            margin: 5px auto;
        }

        @media (min-height: 401px) and (min-width: 601px) {
            margin: 10px auto;
        }
    }

    .portal-blog-toolbar {
        background-color: var(--portal-blog-toolbar-background-color);
        box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.3);
        z-index         : 2;
    }
}
