// todo: add a wrapper cls
.covid-viewport {
    .neo-table-wrapper {
        width: 100%
    }
}

.neo-table-container.covid-country-table {
    .neo-country-column {
        min-width: 200px;
        width    : 100%
    }

    .neo-index-column {
        max-width: 40px;
        min-width: 40px;
        width    : 40px;
    }

    td, th {
        min-width: 100px;
    }
}