.neo-timefield-trigger {
    align-items    : center;
    display        : flex;
    justify-content: center;
    padding        : 2px;

    .neo-clock {
        background-color: v(trigger-color);
        background-image: none;
        height          : 16px;
        width           : 16px;

        .neo-hours,
        .neo-minutes {
            background-color: v(trigger-time-pointer-color);
        }

        .neo-hours {
            box-shadow: 0 -2em v(trigger-time-pointer-color), 0 -4em v(trigger-time-pointer-color);
        }

        .neo-minutes {
            box-shadow: 0 -3.4em v(trigger-time-pointer-color), 0 -6.8em v(trigger-time-pointer-color);
        }
    }
}
