.portal-home-hero-canvas {
    height        : 100%;
    left          : 0;
    pointer-events: none;
    position      : absolute;
    top           : 0;
    width         : 100%;
    z-index       : 0;
}