$text-color      : #1c60a0;
$background-color: #fff;
$border-color    : #ddd;
$border-style    : solid;
$border-width    : 1px;


:root .neo-theme-neo-light { // .neo-button
    --button-background-color                   : var(--cmp-button-primary-bg-default);
    --button-background-color-active            : var(--cmp-button-primary-bg-active);
    --button-background-color-disabled          : var(--cmp-button-primary-bg-disabled);
    --button-background-color-hover             : var(--cmp-button-primary-bg-hover);
    --button-background-image                   : none;
    --button-background-gradient-end            : #323536;
    --button-background-gradient-start          : #434749;
    --button-badge-background-color             : var(--sem-color-fg-neutral-contrast);
    --button-badge-color                        : var(--sem-color-fg-neutral-contrast);
    --button-badge-margin-left                  : -10px;
    --button-badge-margin-top                   : -10px;
    --button-border                             : none;
    --button-border-active                      : none;
    --button-border-disabled                    : none;
    --button-border-hover                       : none;
    --button-border-pressed                     : none;
    --button-border-radius                      : var(--cmp-button-borderradius);
    --button-glyph-color                        : var(--sem-color-fg-neutral-contrast);
    --button-glyph-color-active                 : var(--sem-color-fg-neutral-contrast);
    --button-glyph-color-disabled               : var(--sem-color-fg-neutral-contrast);
    --button-glyph-color-hover                  : var(--sem-color-fg-neutral-contrast);
    --button-height                             : var(--cmp-button-height);
    --button-margin                             : var(--cmp-button-gap);
    --button-opacity-disabled                   : inherit;
    --button-outline-active                     : none;
    --button-padding                            : 0 var(--cmp-button-spacinghorizontal);
    --button-ripple-background-color            : transparent;
    --button-text-color                         : var(--sem-color-fg-neutral-contrast);
    --button-text-color-active                  : var(--sem-color-fg-neutral-contrast);
    --button-text-color-disabled                : var(--sem-color-fg-neutral-disabled);
    --button-text-color-hover                   : var(--sem-color-fg-neutral-contrast);
    --button-text-font-family                   : var(--core-fontfamily-sans), sans-serif;
    --button-text-font-size                     : var(--core-fontsize-label);
    --button-text-font-weight                   : var(--core-fontweight-semibold);
    --button-text-line-height                   : inherit;
    --button-text-transform                     : none;
    --button-use-gradients                      : false;

    // {module: Button; ui: --ghost}
    --button-ghost-background-color             : var(--button-text-color);
    --button-ghost-background-color-active      : #{$border-color};
    --button-ghost-background-color-disabled    : inherit;
    --button-ghost-background-color-hover       : var(--button-text-color);
    --button-ghost-background-image             : none;
    --button-ghost-badge-background-color       : var(--button-badge-color);
    --button-ghost-badge-color                  : var(--button-badge-background-color);
    --button-ghost-border                       : #{$border-width} #{$border-style} var(--button-background-color);
    --button-ghost-border-active                : #{$border-width} #{$border-style} #{$border-color};
    --button-ghost-border-disabled              : inherit;
    --button-ghost-border-hover                 : #{$border-width} #{$border-style} #{$text-color};
    --button-ghost-border-pressed               : #{$border-width} #{$border-style} #{$text-color};
    --button-ghost-glyph-color                  : var(--button-background-color);
    --button-ghost-glyph-color-active           : var(--button-background-color);
    --button-ghost-glyph-color-disabled         : inherit;
    --button-ghost-glyph-color-hover            : var(--button-background-color);
    --button-ghost-opacity-disabled             : var(--neo-disabled-opacity);
    --button-ghost-ripple-background-color      : inherit;
    --button-ghost-text-color                   : var(--button-background-color);
    --button-ghost-text-color-active            : var(--button-background-color);
    --button-ghost-text-color-disabled          : inherit;
    --button-ghost-text-color-hover             : var(--button-background-color);

    // {module: Button; ui: --secondary}
    --button-secondary-background-color         : var(--cmp-button-secondary-bg-default);
    --button-secondary-background-color-active  : var(--cmp-button-secondary-bg-active);
    --button-secondary-background-color-disabled: inherit;
    --button-secondary-background-color-hover   : var(--cmp-button-secondary-bg-hover);
    --button-secondary-background-image         : none;
    --button-secondary-badge-background-color   : transparent;
    --button-secondary-badge-color              : transparent;
    --button-secondary-border                   : var(--cmp-button-secondary-border-default-width) solid var(--cmp-button-secondary-border-default-color);
    --button-secondary-border-active            : inherit;
    --button-secondary-border-disabled          : var(--cmp-button-secondary-border-default-width) solid var(--cmp-button-secondary-border-disabled-color);
    --button-secondary-border-hover             : inherit
    --button-secondary-border-pressed           : inherit
    --button-secondary-glyph-color              : var(--sem-color-fg-neutral-contrast);
    --button-secondary-glyph-color-active       : var(--sem-color-fg-neutral-contrast);
    --button-secondary-glyph-color-disabled     : var(--sem-color-fg-neutral-disabled);
    --button-secondary-glyph-color-hover        : var(--sem-color-fg-neutral-contrast);
    --button-secondary-opacity-disabled         : none;
    --button-secondary-ripple-background-color  : inherit;
    --button-secondary-text-color               : var(--sem-color-fg-neutral-contrast);
    --button-secondary-text-color-active        : var(--sem-color-fg-neutral-contrast);
    --button-secondary-text-color-disabled      : var(--sem-color-fg-neutral-disabled);
    --button-secondary-text-color-hover         : var(--sem-color-fg-neutral-contrast);

    // {module: Button; ui: --tertiary}
    --button-tertiary-background-color          : transparent;
    --button-tertiary-background-color-active   : #{$border-color};
    --button-tertiary-background-color-disabled : inherit;
    --button-tertiary-background-color-hover    : var(--button-background-color-hover);
    --button-tertiary-background-image          : none;
    --button-tertiary-badge-background-color    : var(--button-badge-background-color);
    --button-tertiary-badge-color               : var(--button-badge-color);
    --button-tertiary-border                    : #{$border-width} #{$border-style} transparent;
    --button-tertiary-border-active             : #{$border-width} #{$border-style} #{$border-color};
    --button-tertiary-border-disabled           : inherit;
    --button-tertiary-border-hover              : #{$border-width} #{$border-style} #{$text-color};
    --button-tertiary-border-pressed            : #{$border-width} #{$border-style} #{$text-color};
    --button-tertiary-glyph-color               : var(--button-glyph-color);
    --button-tertiary-glyph-color-active        : var(--button-glyph-color);
    --button-tertiary-glyph-color-disabled      : inherit;
    --button-tertiary-glyph-color-hover         : var(--button-glyph-color);
    --button-tertiary-opacity-disabled          : var(--neo-disabled-opacity);
    --button-tertiary-ripple-background-color   : inherit;
    --button-tertiary-text-color                : var(--button-text-color);
    --button-tertiary-text-color-active         : var(--button-text-color);
    --button-tertiary-text-color-disabled       : inherit;
    --button-tertiary-text-color-hover          : var(--button-text-color);
}
