.portal-home-aftermath {
    height: 60em;

    a {
        color: #3E63DD;
    }

    li {
        font-size: var(--core-fontsize-body);
        font-weight: var(--core-fontweight-regular);
        line-height: var(--core-lineheight-paragraph);

        &::marker {
            color: #3E63DD;
        }
    }

    ul {
        align-self: center;
    }
}
