.portal-home-parts-colors {
    @media (max-width: 840px) {
        &.neo-flex-container {
            flex-direction: column;
        }
    }

    @media (max-width: 600px) {
        .portal-content-wrapper {
            max-height: 46em;
            min-height: 46em;
        }
    }
}
