.portal-home-features {
    gap                  : 2em;
    grid-template-columns: repeat(3, 1fr);
    overflow-x           : auto;
    padding              : 2em;
    place-content        : start;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(6, 1fr);
        min-height           : 50%;
    }

    @media (max-width: 500px) {
        min-height: 60%;
    }
}
