.portal-home-features {
    align-self           : center;
    background-color     : transparent;
    gap                  : 1.5em;
    grid-template-columns: repeat(3, 1fr);
    justify-content      : center;
    max-width            : 1200px;
    padding              : 1.5em;
    place-content        : start;
    scrollbar-color      : var(--portal-scrollbar-thumb) var(--portal-scrollbar-track);
    scrollbar-width      : thin;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background   : var(--portal-scrollbar-track);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--portal-scrollbar-thumb);
        border-radius   : 10px;
    }

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 700px) {
        align-self           : start;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom        : 5em;
        max-width            : fill-available; // prefixed by postCSS
        min-height           : 50%;
        overflow-x           : scroll;
    }

    @media (max-width: 500px) {
        min-height: 60%;
    }
}
