.portal-home-parts-how {
    .neo-worker-setup {
        align-items    : center;
        display        : flex;
        height         : 100%;
        justify-content: center;
        width          : 100%;

        --fill-opacity  : 0.3;
        --stroke-opacity: 0.3;

        &:hover {
            --fill-opacity  : 1;
            --stroke-opacity: 1;
        }
    }

    .portal-content-container {
        background-color: #17141c;
        border          : 1px solid #e6e6e6;
        border-radius   : 8px;
        padding         : 20px;
    }

    @media (max-width: 840px) {
        &.neo-flex-container {
            flex-direction: column;
        }
    }

    @media (max-width: 500px) {
        .portal-content-container {
            padding: 5px;
        }
    }
}
