.portal-home-parts-how {
    .neo-worker-setup {
        background-image   : url("../../../../../../../../resources/images/worker-setup.svg");
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : contain;
        height             : 100%;
        width              : 100%;
    }

    .portal-content-container {
        background-color: #17141c;
        border          : 1px solid #e6e6e6;
        border-radius   : 8px;
        padding         : 20px;
    }

    @media (max-width: 840px) {
        &.neo-flex-container {
            flex-direction: column;
        }
    }

    @media (max-width: 500px) {
        .portal-content-container {
            padding: 5px;
        }
    }
}
