.portal-home-main-neo.portal-home-content-view {
    padding: 3em;

    .button-group {
        display       : flex !important;
        flex-direction: row-reverse !important;
        gap           : 8px !important;
    }

    .neo-h1 {
        margin: 0 0 0.25em 0;
    }
    .neo-h3 {
        margin: 0.25em 0 2em 0;
    }

    .vector {
        background-image   : url("../../../../../../../../resources/images/logo/neo_logo_text_primary.svg");
        background-position: center center;
        background-repeat  : no-repeat;
        background-size    : contain;
        height             : 10vW;
        margin             : 0 0 3rem 0;
        max-height         : 130px;
        width              : 100%;
    }
}
