.portal-references {
  user-select: none;

  .neo-carousel {
    width: 90%;
    height: 350px;
    margin: 0 auto;

    .neo-carousel-inner {
      border-radius: 15px;
      border: 1px solid var(--sem-color-fg-neutral-contrast);
      color: var(--sem-color-fg-neutral-contrast);


      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 90px;
        z-index: 11;
        background: {
          color: var(--toolbar-background-color);
          image: url('../../../../../../../../resources/images/apps/portal/neo-references.png');
          position: center;
          repeat: no-repeat;
          size: 70% auto;
        }
      }

      .neo-carousel-item {
        padding-left: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .neo-details {
          margin-top: 1em;
          font-weight: 700;
          font-style: italic;
        }
      }
    }
  }
}