.neo-table-view {
    .neo-center {
        text-align: center;
    }

    .neo-right {
        text-align: right;
    }

    .neo-table-row {
        .neo-table-cell {
            position: relative;

            &.neo-is-modified {
                &:after {
                    border-color: transparent orange transparent transparent;
                    border-style: solid;
                    border-width: 0 10px 10px 0;
                    content     : '';
                    height      : 0;
                    position    : absolute;
                    right       : 0;
                    top         : -1px;
                    width       : 0;
                }
            }
        }

        &:hover {
            .neo-table-cell {
                background-color: var(--table-cell-background-color-hover);
            }
        }

        // selection.RowModel
        &.neo-selected {
            .neo-table-cell {
                background-color: var(--table-rowmodel-selected-cell-background-color);
                color           : var(--table-rowmodel-selected-cell-color);
            }
        }

        // selection.CellModel
        .neo-table-cell {
            &.neo-selected {
                background-color: var(--table-cellmodel-selected-cell-background-color) !important;
                color           : var(--table-cellmodel-selected-cell-color) !important;
            }

            &.selected-column-cell {
                background-color: var(--table-cellmodel-selected-column-cell-background-color);
                color           : var(--table-cellmodel-selected-column-cell-color);
            }
        }
    }
}

.neo-selection-cellrowmodel,
.neo-selection-cellcolumnrowmodel{
    .neo-table-row {
        &.neo-selected {
            .neo-table-cell {
                background-color: var(--table-cellrowmodel-selected-row-cell-background-color);
                color           : var(--table-cellrowmodel-selected-row-cell-color);
            }
        }

        .neo-table-cell {
            &.neo-selected {
                background-color: var(--table-cellrowmodel-selected-cell-background-color);
                color           : var(--table-cellrowmodel-selected-cell-color);
            }
        }
    }
}

.neo-selection-cellcolumnmodel,
.neo-selection-cellcolumnrowmodel,
.neo-selection-cellmodel,
.neo-selection-cellrowmodel,
.neo-selection-columnmodel,
.neo-selection-rowmodel {
    .neo-table-row {
        &:focus {
            outline: 0;
        }
        .neo-table-cell {
            &:focus {
                outline: 0;
            }
        }
    }
}
