:root .neo-theme-neo-dark { // .docs-content-tabcontainer
    --docs-content-tabcontainer-tab-header-toolbar-background-color : #fff;
    --docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover: red;
}
