:root .neo-theme-neo-dark { // .docs-content-tabcontainer
    --docs-content-tabcontainer-tab-header-toolbar-background-color : var(--sem-color-bg-neutral-default);
    --docs-content-tabcontainer-tab-header-toolbar-glyph-color-hover: red;
}