.portal-content-component {
    // legacy support to not break external apps
}

.portal-size-large {
    .portal-content-component,
    .neo-markdown-component {
        padding: 0 250px 0 3rem;
    }
}