.portal-content-component {
    background-color: transparent;
}

.portal-content-component,
.neo-markdown-component {
    min-width: 0;

    @media (min-width: 1297px) {
        margin-left: 0;
        max-width  : min(1200px, calc(100% - 250px));
    }
}
