.neo-sparkline-wrapper {
    contain : strict;
    height  : 100%;
    position: relative;
    width   : 100%;

    .neo-sparkline-canvas {
        height  : 100%;
        left    : 0;
        position: absolute;
        top     : 0;
        width   : 100%;
    }
}
