.neo-docs-header-container {
    background-color: var(--docs-header-container-background-color);
    background-image: var(--docs-header-container-background-image);

    .neo-logo-text {
        background-clip : var(--docs-header-container-logo-text-background-clip);
        color           : var(--docs-header-container-logo-text-color);
        font-size       : var(--docs-header-container-logo-text-font-size);
        font-weight     : var(--docs-header-container-logo-text-font-weight);
        padding         : var(--docs-header-container-logo-padding);
        text-shadow     : var(--docs-header-container-logo-text-shadow);
    }
}
