.neo-docs-maincontainer {
    .neo-docs-navigation-tab-container {
        background-color: var(--docs-navigation-tab-container-background-color);

        .neo-tab-content-container {
            border-right: none;
        }
    }
}
