.neo-tooltip {
    background-color: var(--tooltip-bg);
    border          : var(--tooltip-border);
    border-radius   : var(--tooltip-borderradius);
    box-shadow      : var(--tooltip-boxshadow);
    color           : var(--tooltip-color);
    font-size       : var(--tooltip-fontsize);
    height          : var(--tooltip-height);
    padding         : var(--tooltip-padding);
    position        : absolute;
}
