:root .neo-theme-dark {
    --trigger-background-color-hover: #33343d;
    --trigger-border-width          : 1px;
    --trigger-color                 : #bbb;
    --trigger-color-hover           : #ddd;
}
