$neoMap: map-merge($neoMap, (
    'tree-list-color'          : #bbb,
    'tree-list-menu-item-color': lighten(#33343d, 20%)
));

@if $useCssVars == true {
    :root .neo-theme-dark { // .neo-tree-list
        --tree-list-color          : #{neo(tree-list-color)};
        --tree-list-menu-item-color: #{neo(tree-list-menu-item-color)};
    }
}