.hljs {
    .hljs-ln {
        border-collapse: collapse;

        td {
            padding: 0;
        }

        td.hljs-ln-numbers {
            border-right         : 1px solid #717171;
            padding-right        : 5px;
            text-align           : right;
            user-select          : none;
            vertical-align       : top;
            -webkit-touch-callout: none;
        }

        td.hljs-ln-code {
            padding-left : 20px !important;
            padding-right: 20px !important;
        }
    }

    .hljs-ln-n:before {
        content: attr(data-line-number)
    }

    .neo-highlighted-line {
        background-color: #cee8fc !important;
    }
}
