:root .neo-theme-neo-dark {
    --portal-sections-bg             : var(--sem-color-bg-neutral-default);
    --portal-sections-btn-bg         : var(--sem-color-bg-neutral-default);
    --portal-sections-btn-disabled-bg: var(--sem-color-bg-neutral-disabled);
    --portal-sections-glyph-color    : var(--sem-color-icon-neutral-default);
    --portal-sections-shadow         : 0 5px 10px rgba(0,0,0,.5);
}
