:root .neo-theme-neo-dark {
    --portal-treelist-bold-color        : inherit;
    --portal-treelist-meta-color        : var(--white-off);
    --portal-treelist-ticket-title-color: var(--white-off);
}
