@use "sass:color";

:root .neo-theme-neo-light { // .neo-table-header-button
    --table-header-button-background-color       : #5d83a7;
    --table-header-button-background-image       : none;
    --table-header-button-color                  : #fff;
    --table-header-button-glyph-color            : #fff;
    --table-header-button-ripple-background-color: #{color.adjust(#5d83a7, $lightness: -10%)};
}
