.neo-calendar-monthcomponent {
    background-color: var(--c-m-background-color);
    display         : flex;
    flex-direction  : column;
    position        : relative;

    .neo-c-m-scrollcontainer {
        display       : flex;
        flex          : 1 1 100%;
        flex-direction: column;
        overflow-y    : auto;
        padding-top   : 3.75em;
        position      : relative;

        &.neo-is-scrolling {
            .neo-month-header-content {
                opacity: 1;
            }
        }

        &.neo-scroll-shadows {
            .neo-month-header-content {
                box-shadow: var(--c-m-scroll-box-shadow);
            }
        }

        .neo-day {
            border-right   : 1px solid var(--c-m-border-color);
            color          : var(--c-m-day-number-color);
            display        : flex;
            flex           : 1 1 100%;
            flex-direction : column;
            justify-content: stretch;
            overflow       : hidden;
            padding        : .3em;

            &:last-child {
                border-right: 1px solid transparent;
            }

            .neo-day-number {
                margin-bottom: .2em;
                text-align   : end;
            }
        }

        .neo-event {
            //border          : 1px solid currentColor;
            //border-radius   : 3px;
            cursor          : pointer;
            display         : flex;
            font-size       : .7em;
            margin          : 1px;
            padding         : 3px;

            &.neo-focus {
                color  : #fff;
                outline: 0;

                .neo-event-time,
                .neo-event-title {
                    font-weight: bold;
                }
            }

            .neo-event-time,
            .neo-event-title {
                pointer-events: none;
                user-select   : none;
            }

            .neo-event-time {
                text-align: end;
            }

            .neo-event-title {
                flex         : 1;
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
            }
        }

        .neo-month-header {
            font-size: 1.6em;
            height   : 0;
            position : sticky;
            top      : -2.3em;
            width    : 5.8em;
            z-index  : 3;
        }

        .neo-month-header-content {
            background-color: var(--c-m-background-color);
            color           : var(--c-m-year-color);
            min-width       : fit-content;
            opacity         : 0;
            padding         : 0 calc(.3em / 1.6);
            transition      : opacity 200ms ease-in-out;
            white-space     : nowrap;
        }

        .neo-week {
            align-content: flex-start;
            border-bottom: 1px solid var(--c-m-border-color);
            display      : flex;
            flex         : 1 0 math.divar(--100%, 6);
        }

        .neo-weekend {
            background-color: var(--c-m-weekend-background-color);
        }
    }

    .neo-days-header {
        align-items     : stretch;
        background-color: var(--c-m-background-color);
        border-bottom   : 1px solid var(--c-m-border-color);
        display         : flex;
        height          : 3.75em;
        position        : absolute;
        width           : 100%;
        z-index         : 2;

        .neo-day-name {
            align-items    : flex-end;
            border-right   : 1px solid transparent;
            color          : var(--c-m-day-name-color);
            display        : flex;
            flex           : 1 1 100%;
            justify-content: flex-end;
            padding        : .3em;
        }

        .neo-static-header {
            position: absolute;
        }
    }

    .neo-month-name {
        color      : var(--c-m-month-name-color);
        font-weight: bold;
    }

    .neo-static-header {
        color       : var(--c-m-year-color);
        font-size   : 1.6em;
        padding-left: calc(.3em / 1.6);
    }
}
