$neoMap: map-merge($neoMap, (
    'covid-header-active-background-color'   : rgba(100, 181, 246, .5),
    'covid-header-cases-background-color'    : rgba(187, 187, 187, .5),
    'covid-header-deaths-background-color'   : rgba(251, 103, 103, .5),
    'covid-header-recovered-background-color': rgba( 40, 218, 111, .5)
));

@if $useCss4Vars == true {
    :root .neo-theme-dark { // .covid-header-container
        --covid-header-active-background-color   : #{neo(covid-header-active-background-color)};
        --covid-header-cases-background-color    : #{neo(covid-header-cases-background-color)};
        --covid-header-deaths-background-color   : #{neo(covid-header-deaths-background-color)};
        --covid-header-recovered-background-color: #{neo(covid-header-recovered-background-color)};
    }
}