:root .neo-theme-neo-light { // .neo-tab-strip
    --tab-indicator-background-color-active: #5d83a7;
    --tab-strip-background-color           : #ddd;
    --tab-strip-height                     : 3px;
}
