.neo-dragproxy.neo-tree-list {
    .neo-list {
        .neo-list-folder.neo-folder-open {
            .neo-list-item-content:before {
                content: "\f07b" !important;
            }
        }

        .neo-list-item {
            margin-right: 0;
        }
    }
}